<div class="web auto-flex-center-space-between-no-gap padding-none">

    <div class="auto-flex-center-gap30-column-no-set-width width-50Percent max-height padding-40 min-height-100vh gap-10">

        <a class="auto-flex-center-start-gap20 width-max-550 padding-20" (click)="naviagteToLogin()">

            <img class="xxxsmallImg" src="assets/images/web/icons/back_arrow.svg" >
            <p class="xsmall bold web-font-primary-light capitalize cursor-pointer">{{ 'auth.backToLogin' | translate }}</p>

        </a>

        <div class="auto-flex-start-gap20-column width-max-550 padding-20" #forgotPassword>

            <h3 class="xxlarge bold capitalize">{{ 'auth.forgotPasswordTitle' | translate }}</h3>
            <p class="web-font-primary-light">{{ 'auth.forgotPasswordDesc' | translate }}</p>
    
                <form class="auto-flex-start-gap10" [formGroup]="forgotPasswordForm" (ngSubmit)="sendSMS()">

                    <!-- login input fields -->
                    <div class="auto-flex-start-gap10-column web-font-primary-light">

                        <p class="xsmall bold">Phone Number</p>
                        <input class="input-global" type="tel" formControlName="phone_number" placeholder="966 XX XXXXXXXXX" />
                        <p *ngIf="forgotPasswordForm.get('phone_number').hasError('invalidPhoneNumber')" class="xsmall red-color">{{ 'inputFields.validMobile' | translate }}</p>
            
                    </div>    

                <!-- send instructions button -->
                <button class="primary-bg padding-10 max-width capitalize box-shadow" type="submit">{{ 'auth.sendInstructions' | translate }}</button>

            </form>           
            
            <!-- remember me -->
             <div class="auto-flex-start-center-gap10">
    
                <p class="xsmall bold web-font-primary-light">{{ 'auth.anyQuestion' | translate }}</p>
                <p class="xsmall bold blue-color cursor-pointer">{{ 'auth.faq' | translate }}</p>
    
            </div>

        </div>

        <div class="auto-flex-start-gap20-column width-max-550 padding-20 hide" #otp>

            <h3 class="xxlarge bold capitalize">{{ 'auth.confirmationTitle' | translate }}</h3>
            <p class="web-font-primary-light">{{ 'auth.confirmationDesc' | translate }}</p>
    
            <!-- login input fields -->
            <div class="auto-flex-start-gap10-column web-font-primary-light">

                <p class="xsmall bold">{{ 'inputFields.confirmationCode' | translate }}</p>
                <input class="input-global" type="text" [(ngModel)]="verificationCodeInput" placeholder="XXX - XXX" />

    
            </div>    

            <!-- send instructions button -->
            <button class="primary-bg padding-10 max-width capitalize box-shadow" (click)="verifyCode()">{{ 'messages.continue' | translate }}</button>

            
            <!-- remember me -->
             <div class="auto-flex-start-center-gap10">
    
                <p class="xsmall bold web-font-primary-light">{{ 'auth.anyQuestion' | translate }}</p>
                <p class="xsmall bold blue-color cursor-pointer">{{ 'auth.faq' | translate }}</p>
    
            </div>

        </div>

        <div class="auto-flex-start-gap20-column width-max-550 padding-20 hide" #changePassword>

            <h3 class="xxlarge bold capitalize">{{ 'auth.changePasswordTitle' | translate }}</h3>
            <p class="web-font-primary-light">{{ 'auth.enterNewPassword' | translate }}</p>
    
            <form class="auto-flex-start-gap10" [formGroup]="changePasswordForm" (ngSubmit)="changeUserPassword()">

                <div class="auto-flex-start-gap10-column web-font-primary-light">

                    <p class="xsmall bold">{{ 'inputFields.password' | translate }}</p>
                    <input class="input-global" type="password" formControlName="password" placeholder="min. 8 characters" />
                    <p *ngIf="changePasswordForm.get('password').hasError('invalidPassword')" class="xsmall red-color">{{ 'inputFields.validPassword_2' | translate }}</p>
        
                </div>    

                <div class="auto-flex-start-gap10-column web-font-primary-light">

                    <p class="xsmall bold">{{ 'inputFields.cPassword' | translate }}</p>
                    <input class="input-global" type="password" formControlName="confirm_password" placeholder="{{ 'inputFields.password_placeholder' | translate }}" />
                    <p *ngIf="changePasswordForm.get('confirm_password').hasError('invalidCPassword')" class="xsmall red-color">{{ 'inputFields.validPassword_2' | translate }}</p>
                    <p *ngIf="changePasswordForm.get('confirm_password').hasError('invalidCPasswordNotMatched')" class="xsmall red-color">{{ 'inputFields.validPassword_3' | translate }}</p>

                </div>    
        
                <!-- send instructions button -->
                <button class="primary-bg padding-10 max-width capitalize box-shadow" type="submit">{{ 'messages.continue' | translate }}</button>

            </form>           
            
            <!-- remember me -->
             <div class="auto-flex-start-center-gap10">
    
               
                <p class="xsmall bold web-font-primary-light">{{ 'auth.anyQuestion' | translate }}</p>
                <p class="xsmall bold blue-color cursor-pointer">{{ 'auth.faq' | translate }}</p>
    
            </div>

        </div>

    </div>

    <div class="auto-flex-center-gap20-column-no-set-width primary-bg width-50Percent border-radius-0 height-100vh border-none padding-40 direction-reverse">

        <img class="xxxlargeImg-350" src="assets/images/web/login.svg" />

        <div class="auto-flex-start-gap10-column">

            <h3 class="large bold secondary-color">{{ 'auth.loginMessage' | translate }}</h3>
            <p class="width-max-500">{{ 'auth.loginMessageDesc' | translate }}</p>
    
        </div>

    </div>

    <!-- Incorrect Verification Code -->
    <app-custom-alert *ngIf="showVerificationAlert" [title]="'message.verificationErrorTitle' | translate" [message]="'messages.verificationErrorDesc' | translate" [cancelButtonText]="'cart.cancel' | translate" [continueButtonText]="'messages.continue' | translate" (cancelClick)="handleCancelClick()" (continueClick)="handleContinueClick()" [showCancel]="false" [showConfirm]="true"></app-custom-alert>

    <!-- Incorrect Phone Number -->
    <app-custom-alert *ngIf="showInvalidPhoneNumber" [title]="'message.invalidPhoneNumberTitle' | translate" [message]="'message.invalidPhoneNumberDesc' | translate" [cancelButtonText]="'cart.cancel' | translate" [continueButtonText]="'messages.continue' | translate" (cancelClick)="handleCancelClick()" (continueClick)="handleContinueClick()" [showCancel]="false" [showConfirm]="true"></app-custom-alert>

    <!-- User already exists-->
    <app-custom-alert *ngIf="showUserDoesNotExist" [title]="'messages.userDoesNotExistTitle' | translate" [message]="'This user does not exist in our system.'" [cancelButtonText]="'cart.cancel' | translate" [continueButtonText]="'messages.continue' | translate" (cancelClick)="handleCancelClick()" (continueClick)="handleContinueClick()" [showCancel]="false" [showConfirm]="true"></app-custom-alert>

    <!-- User already exists-->
    <app-custom-alert *ngIf="errorChangingPassword" [title]="'messages.errorChaningPasswordTitle' | translate" [message]="'messages.errorChaningPasswordDesc' | translate" [cancelButtonText]="'cart.cancel' | translate" [continueButtonText]="'messages.continue' | translate" (cancelClick)="handleCancelClick()" (continueClick)="naviagteToLogin()" [showCancel]="false" [showConfirm]="true"></app-custom-alert>

    <!-- User already exists-->
    <app-custom-alert *ngIf="passwordChanged" [title]="'messages.passwordChangedTitle' | translate" [message]="'messages.passwordChangedDesc' | translate" [cancelButtonText]="'cart.cancel' | translate" [continueButtonText]="'messages.continue' | translate" (cancelClick)="handleCancelClick()" (continueClick)="naviagteToLogin()" [showCancel]="false" [showConfirm]="true"></app-custom-alert>


</div>