<div class="web auto-flex-center-space-between-no-gap padding-none direction-reverse">

    <div class="auto-flex-center-gap30-column-no-set-width width-50Percent max-height padding-40 min-height-100vh gap-10">

        <a class="auto-flex-center-start-gap20 width-max-550 padding-20" href="/login">

            <img class="xxxsmallImg" src="assets/images/web/icons/back_arrow.svg" >
            <p class="xsmall bold web-font-primary-light capitalize">back to login</p>

        </a>

        <div class="auto-flex-start-gap20-column width-max-550 padding-20">

            <h3 class="xxlarge bold capitalize">forgot password</h3>
            <p class="web-font-primary-light">Enter the email associated with your account and we’ll send an email with instructions to reset your password.</p>
    
            <!-- login input fields -->
            <div class="auto-flex-start-gap10-column web-font-primary-light">
    
                <p class="xsmall bold">Email</p>
                <input class="input-global" type="email" placeholder="name@example.com" />
    
            </div>
    
            <!-- send instructions button -->
            <button class="primary-bg padding-10 max-width capitalize box-shadow">send instructions</button>
            
            <!-- remember me -->
             <div class="auto-flex-start-center-gap10">
    
                <p class="xsmall bold web-font-primary-light">Do you have any questions?</p>
                <p class="xsmall bold blue-color cursor-pointer">FAQ</p>
    
            </div>

        </div>

    </div>

    <div class="auto-flex-center-gap20-column-no-set-width primary-bg width-50Percent border-radius-0 height-100vh border-none padding-40 direction-reverse">

        <img class="xxxlargeImg-350" src="assets/images/web/auth/login_illustration.svg" />

        <div class="auto-flex-center-gap10-column text-center">

            <h3 class="large bold secondary-color">Leave reviews for all meals</h3>
            <p class="text-center width-max-500">Lorem ipsum dolor sit amet, magna scaevola his ei. Cum te paulo probatus molestiae, eirmod assentior eum ne, et omnis antiopam mel.</p>
        
        </div>

    </div>

</div>