<div class="web auto-flex-center-space-between-no-gap padding-none direction-reverse">

    <div class="auto-flex-center-gap30-column-no-set-width width-50Percent max-height padding-40 min-height-100vh gap-10">

        <a class="auto-flex-center-start-gap20 width-max-550 padding-20" href="/login">

            <img class="xxxsmallImg" src="assets/images/web/icons/back_arrow.svg" >
            <p class="xsmall bold web-font-primary-light capitalize">back to login</p>

        </a>

        <div class="auto-flex-start-gap20-column width-max-550 padding-20" #forgotPassword>

            <h3 class="xxlarge bold capitalize">forgot password</h3>
            <p class="web-font-primary-light">Enter the phone number associated with your account and we’ll send an sms with instructions to reset your password.</p>
    
                <form class="auto-flex-start-gap10" [formGroup]="forgotPasswordForm" (ngSubmit)="sendSMS()">

                    <!-- login input fields -->
                    <div class="auto-flex-start-gap10-column web-font-primary-light">

                        <p class="xsmall bold">Phone Number</p>
                        <input class="input-global" type="tel" formControlName="phone_number" placeholder="966 XX XXXXXXXXX" />
                        <p *ngIf="forgotPasswordForm.get('phone_number').hasError('invalidPhoneNumber')" class="xsmall red-color">Enter valid phone number</p>
            
                    </div>    

                <!-- send instructions button -->
                <button class="primary-bg padding-10 max-width capitalize box-shadow" type="submit">send instructions</button>

            </form>           
            
            <!-- remember me -->
             <div class="auto-flex-start-center-gap10">
    
                <p class="xsmall bold web-font-primary-light">Do you have any questions?</p>
                <p class="xsmall bold blue-color cursor-pointer">FAQ</p>
    
            </div>

        </div>

        <div class="auto-flex-start-gap20-column width-max-550 padding-20 hide" #otp>

            <h3 class="xxlarge bold capitalize">Confirmation</h3>
            <p class="web-font-primary-light">Enter your security code that we sent to your phone</p>
    
            <!-- login input fields -->
            <div class="auto-flex-start-gap10-column web-font-primary-light">

                <p class="xsmall bold">Confirmation code</p>
                <input class="input-global" type="text" [(ngModel)]="verificationCodeInput" placeholder="XXX - XXX" />

    
            </div>    

            <!-- send instructions button -->
            <button class="primary-bg padding-10 max-width capitalize box-shadow" (click)="verifyCode()">continue</button>

            
            <!-- remember me -->
             <div class="auto-flex-start-center-gap10">
    
                <p class="xsmall bold web-font-primary-light">Do you have any questions?</p>
                <p class="xsmall bold blue-color cursor-pointer">FAQ</p>
    
            </div>

        </div>

        <div class="auto-flex-start-gap20-column width-max-550 padding-20 hide" #changePassword>

            <h3 class="xxlarge bold capitalize">Change password</h3>
            <p class="web-font-primary-light">Enter your new password</p>
    
            <form class="auto-flex-start-gap10" [formGroup]="changePasswordForm" (ngSubmit)="changeUserPassword()">

                <div class="auto-flex-start-gap10-column web-font-primary-light">

                    <p class="xsmall bold">Password</p>
                    <input class="input-global" type="password" formControlName="password" placeholder="min. 8 characters" />
                    <p *ngIf="changePasswordForm.get('password').hasError('invalidPassword')" class="xsmall red-color">Enter valid password</p>
        
                </div>    

                <div class="auto-flex-start-gap10-column web-font-primary-light">

                    <p class="xsmall bold">Confirm Password</p>
                    <input class="input-global" type="password" formControlName="confirm_password" placeholder="min. 8 characters" />
                    <p *ngIf="changePasswordForm.get('confirm_password').hasError('invalidCPassword')" class="xsmall red-color">Enter valid password</p>
                    <p *ngIf="changePasswordForm.get('confirm_password').hasError('invalidCPasswordNotMatched')" class="xsmall red-color">Password does not match</p>

                </div>    
        
                <!-- send instructions button -->
                <button class="primary-bg padding-10 max-width capitalize box-shadow" type="submit">change password</button>

            </form>           
            
            <!-- remember me -->
             <div class="auto-flex-start-center-gap10">
    
                <p class="xsmall bold web-font-primary-light">Do you have any questions?</p>
                <p class="xsmall bold blue-color cursor-pointer">FAQ</p>
    
            </div>

        </div>

    </div>

    <div class="auto-flex-center-gap20-column-no-set-width primary-bg width-50Percent border-radius-0 height-100vh border-none padding-40 direction-reverse">

        <img class="xxxlargeImg-350" src="assets/images/web/login.svg" />

        <div class="auto-flex-center-gap10-column text-center">

            <h3 class="large bold secondary-color">Leave reviews for all meals</h3>
            <p class="text-center width-max-500">Lorem ipsum dolor sit amet, magna scaevola his ei. Cum te paulo probatus molestiae, eirmod assentior eum ne, et omnis antiopam mel.</p>
        
        </div>

    </div>

    <!-- Incorrect Verification Code -->
    <app-custom-alert *ngIf="showVerificationAlert" [title]="'Verification Error'" [message]="'An error occurred while verifying your code.'" [cancelButtonText]="'Cancel'" [continueButtonText]="'Continue'" (cancelClick)="handleCancelClick()" (continueClick)="handleContinueClick()" [showCancel]="false" [showConfirm]="true"></app-custom-alert>

    <!-- Incorrect Phone Number -->
    <app-custom-alert *ngIf="showInvalidPhoneNumber" [title]="'Invalid Phone Number'" [message]="'Your phone number is invalid.'" [cancelButtonText]="'Cancel'" [continueButtonText]="'Continue'" (cancelClick)="handleCancelClick()" (continueClick)="handleContinueClick()" [showCancel]="false" [showConfirm]="true"></app-custom-alert>

    <!-- User already exists-->
    <app-custom-alert *ngIf="showUserDoesNotExist" [title]="'User Does not Exists'" [message]="'This user does not exist in our system.'" [cancelButtonText]="'Cancel'" [continueButtonText]="'Continue'" (cancelClick)="handleCancelClick()" (continueClick)="handleContinueClick()" [showCancel]="false" [showConfirm]="true"></app-custom-alert>

    <!-- User already exists-->
    <app-custom-alert *ngIf="errorChangingPassword" [title]="'An error occurred'" [message]="'Error while changing password. try again later'" [cancelButtonText]="'Cancel'" [continueButtonText]="'Continue'" (cancelClick)="handleCancelClick()" (continueClick)="naviagteToLogin()" [showCancel]="false" [showConfirm]="true"></app-custom-alert>

    <!-- User already exists-->
    <app-custom-alert *ngIf="passwordChanged" [title]="'Success'" [message]="'Your password has been changed successfully'" [cancelButtonText]="'Cancel'" [continueButtonText]="'Continue'" (cancelClick)="handleCancelClick()" (continueClick)="naviagteToLogin()" [showCancel]="false" [showConfirm]="true"></app-custom-alert>


</div>