<div id="app">
   <section class="el-container">
      <div>
         <menu class="menu-bar">
            <a routerLink="javascript:void(0);" class="toggle-menu">
               <div class="inactive"><span class="bar bar1"></span><span class="bar"></span><span
                     class="bar bar3"></span></div>
            </a>
            <a routerLink="../dashboard" class="logo"><img src="assets/images/Taib_logo_Trans.png" width="50%"></a>
         </menu>
         <app-sidebar></app-sidebar>
         <app-submenu></app-submenu>
      </div>
      <main class="el-main">
         <app-header></app-header>
         <div>
            <!---->
            <!---->
            <div class="o-flow-x">
               <div
                  class="el-table master-table el-table--fit el-table--enable-row-hover el-table--enable-row-transition"
                  style="width: 100%;">
                  <div class="hidden-columns">
                     <div></div>
                     <div></div>
                     <div></div>
                     <div></div>
                     <div></div>
                  </div>


                  <div class="d-flex justify-content align-items-center">
                     <span class="t-heading d-flex justify-content-center align-items-center"><i class="icon-receptionist"></i> Physician List</span>  <button class="add-btn mr-0 float-right" routerLink="../add-physician"><i class="fa fa-plus-circle"></i> Add Physician</button>
                  </div>


                  <div class="el-table__body-wrapper is-scrolling-none" style="margin-top: 3%;">
                     <table id="generalPhysicianTable" class="display" cellspacing="0" width="100%">
                        <thead>
                           <tr>
                              <th>EMP ID</th>
                              <th>Name</th>
                              <th>Mobile</th>
                              <th>Email</th>
                              <th>Gender</th>
                              <th>Blood Group</th>
                              <th>Date of Birth</th>
                              <th>Status</th>
                           </tr>
                        </thead>

                        <tbody>
                           <tr class="el-table__row" *ngFor="let user of practiseUsers"
                              (click)="careProviderStaffClicked(user)">
                              <td>{{user.empDisplayId}}</td>
                              <td>
                                 <div class="cell">
                                    <div class="d-flex-center"><span class="avtar3"><img src="assets/images/user.svg"
                                             class="image-cover"></span> <span class="grid_offlinestatus"></span> <span
                                          title="lab Female lab Female">{{user.firstName}} {{user.lastName}}</span>
                                    </div>
                                 </div>
                              </td>
                              <td>{{user.mobile}}</td>
                              <td>{{user.email}}</td>
                              <td>{{user.gender}}</td>
                              <td>{{user.bloodGroup}}</td>
                              <td>{{user.dob}}</td>
                              <td>
                                 <div class="cell">
                                    <label class="switch">
                                       <input type="checkbox" checked>
                                       <span class="slider round"></span>
                                    </label>
                                 </div>
                              </td>
                           </tr>
                        </tbody>
                     </table>
                     <!---->
                     <!---->
                  </div>

                  <!---->
                  <!---->
                  <!---->
                  <!---->
                  <div class="el-table__column-resize-proxy" style="display: none;"></div>
               </div>
            </div>
         </div>
      </main>
   </section>
</div>