<app-checkout-header></app-checkout-header>

<div class="web auto-flex-start-gap40 main-div padding-top-20" style="padding: 20px;">

    <div class="auto-flex-start-gap10-column-no-set-width gray-border flex-grow border-radius-20 padding-20">

        <p class="med bold">My cart</p>

        <div class="auto-flex-center-space-between-gap20" *ngFor="let cart of cartData; let cartIndex = index;">

            <div class="auto-flex-center-gap10-column-no-set-width">

                <img class="xxxmedImg cover border-radius-10" *ngIf="cart.icon && cart.icon.length>0" src="{{serverUrl}}{{cart.icon}}" />
                <img class="xxxmedImg cover border-radius-10" *ngIf="!cart.icon || cart.icon.length<=0" style="object-fit: fill;" src="assets/images/web/logo.svg" />
    
                                <p class="med bold blue-color">SAR {{ cart.price }}</p>

            </div>

            <div class="auto-flex-start-gap10-column-no-set-width width-max-300">

                <p class="med bold">{{ cart.title }}</p>
                <p class="web-font-primary-light" *ngIf="!cart.showFullDescription">{{ cart.description | slice:0:90 }}...</p>
                <p class="web-font-primary-light" *ngIf="cart.showFullDescription">{{ cart.description }}</p>
                <p class="web-font-primary-light cursor-pointer" *ngIf="!cart.showFullDescription" (click)="toggleDescription(cartIndex)">show more</p>
                <p class="web-font-primary-light cursor-pointer" *ngIf="cart.showFullDescription"(click)="toggleDescription(cartIndex)">show less</p>
               

            </div>

            <div class="auto-flex-start-gap10-column-no-set-width width-max-300"  [(ngModel)]="cart.user_id" *ngIf="userId">

                <select class="input-global" (change)="changeDependant($event.target, cartIndex)">

                    <option [value]="dependant.id" *ngFor="let dependant of userDependants">{{ dependant.first_name }} {{ dependant.last_name }}</option>

                </select>

            </div>

            <div class="auto-flex-start-gap10-column-no-set-width width-max-300">
                
                <img class="xxsmallImg cursor-pointer" src="assets/images/web/icons/delete.svg" (click)="removeFromCart(cartIndex)" />

            </div>
            
            <hr class="hr-black" *ngIf="cartIndex+1 < cartData.length" />

        </div>
    
    </div>

    <div class="auto-flex-start-gap20-column-no-set-width width-500 flex-grow max-width phone-max-width gray-border border-radius-20 padding-20">

        <p class="med bold">Payment summary</p>

        <div class="auto-flex-start-gap20-column">

            <div class="auto-flex-center-space-between-gap20">
                
                <p class="web-font-primary-light">Subtotal</p>
                <p class="web-font-primary-light bold">SAR {{ total }}</p>

            </div>    

            <div class="auto-flex-center-space-between-gap20">
                
                <p class="web-font-primary-light">Total (tax incl.)</p>
                <p class="web-font-primary-light bold blue-color">SAR {{ total_inc_cost }}</p>

            </div>    

            <button class="primary-bg max-width padding-10" (click)="checkout()">checkout</button>

        </div>

    </div>

    <!-- Cart error -->
    <app-custom-alert *ngIf="loginAlert" [title]="'User not logged in'" [message]="'Please log in to continue'" [cancelButtonText]="'Cancel'" [continueButtonText]="'login'" (cancelClick)="handleCancelClick()" (continueClick)="handleContinueClick()" [showCancel]="false" [showConfirm]="true"></app-custom-alert>

    <!-- Cart error -->
    <app-custom-alert *ngIf="wrongService" [title]="'Service selection error'" [message]="'You have selected a service that is not provided by a service provider relative to your gender. Please choose a dependent or remove the service.'" [cancelButtonText]="'Cancel'" [continueButtonText]="'Confirm'" (cancelClick)="handleCancelClick()" (continueClick)="handleContinueClickService()" [showCancel]="false" [showConfirm]="true"></app-custom-alert>


</div>

<app-checkout-footer></app-checkout-footer>