<div class="web auto-flex-start-gap40-column main-div">

    <div class="auto-flex-start-gap10-column gray-border border-radius-20 padding-20">

        <p class="med bold">My cart</p>

        <div class="auto-flex-center-space-between-gap20">

            <div class="auto-flex-center-gap10-column-no-set-width">

                <img class="xxmedImg cover border-radius-10" src="assets/images/web/example.svg" />
                <p class="med bold blue-color">SAR 200</p>

            </div>

            <div class="auto-flex-start-gap10-column-no-set-width width-max-300">

                <p class="med bold">Service name</p>
                <p class="web-font-primary-light">Lorem ipsum dolor sit amet, pri atqui facete evertitur an, ea assum solet invidunt vim.</p>

            </div>

            <div class="auto-flex-start-gap10-column-no-set-width width-max-300">

                <select class="input-global">

                    <option value="1">User 1</option>
                    <option value="2">User 2</option>

                </select>

            </div>

            <div class="auto-flex-start-gap10-column-no-set-width width-max-300">
                
                <img class="xxsmallImg" src="assets/images/web/icons/delete.svg" />

            </div>
            
        </div>

        <hr class="hr-black" />

        
        <div class="auto-flex-center-space-between-gap20">

            <div class="auto-flex-center-gap10-column-no-set-width">

                <img class="xxmedImg cover border-radius-10" src="assets/images/web/example.svg" />
                <p class="med bold blue-color">SAR 200</p>

            </div>

            <div class="auto-flex-start-gap10-column-no-set-width width-max-300">

                <p class="med bold">Service name</p>
                <p class="web-font-primary-light">Lorem ipsum dolor sit amet, pri atqui facete evertitur an, ea assum solet invidunt vim.</p>

            </div>

            <div class="auto-flex-start-gap10-column-no-set-width width-max-300">

                <select class="input-global">

                    <option value="1">User 1</option>
                    <option value="2">User 2</option>

                </select>

            </div>

            <div class="auto-flex-start-gap10-column-no-set-width width-max-300">
                
                <img class="xxsmallImg" src="assets/images/web/icons/delete.svg" />

            </div>
            
        </div>

        <hr class="hr-black" />

        
        <div class="auto-flex-center-space-between-gap20">

            <div class="auto-flex-center-gap10-column-no-set-width">

                <img class="xxmedImg cover border-radius-10" src="assets/images/web/example.svg" />
                <p class="med bold blue-color">SAR 200</p>

            </div>

            <div class="auto-flex-start-gap10-column-no-set-width width-max-300">

                <p class="med bold">Service name</p>
                <p class="web-font-primary-light">Lorem ipsum dolor sit amet, pri atqui facete evertitur an, ea assum solet invidunt vim.</p>

            </div>

            <div class="auto-flex-start-gap10-column-no-set-width width-max-300">

                <select class="input-global">

                    <option value="1">User 1</option>
                    <option value="2">User 2</option>

                </select>

            </div>

            <div class="auto-flex-start-gap10-column-no-set-width width-max-300">
                
                <img class="xxsmallImg" src="assets/images/web/icons/delete.svg" />

            </div>
            
        </div>

        <hr class="hr-black" />

        
        <div class="auto-flex-center-space-between-gap20">

            <div class="auto-flex-center-gap10-column-no-set-width">

                <img class="xxmedImg cover border-radius-10" src="assets/images/web/example.svg" />
                <p class="med bold blue-color">SAR 200</p>

            </div>

            <div class="auto-flex-start-gap10-column-no-set-width width-max-300">

                <p class="med bold">Service name</p>
                <p class="web-font-primary-light">Lorem ipsum dolor sit amet, pri atqui facete evertitur an, ea assum solet invidunt vim.</p>

            </div>

            <div class="auto-flex-start-gap10-column-no-set-width width-max-300">

                <select class="input-global">

                    <option value="1">User 1</option>
                    <option value="2">User 2</option>

                </select>

            </div>

            <div class="auto-flex-start-gap10-column-no-set-width width-max-300">
                
                <img class="xxsmallImg" src="assets/images/web/icons/delete.svg" />

            </div>
            
        </div>

    </div>

    <div class="auto-flex-start-gap20-column gray-border border-radius-20 padding-20">

        <p class="med bold">Payment summary</p>

        <div class="auto-flex-start-gap20-column">

            <div class="auto-flex-center-space-between-gap20">
                
                <p class="web-font-primary-light">Subtotal</p>
                <p class="web-font-primary-light bold">SAR 6000</p>

            </div>    

            <div class="auto-flex-center-space-between-gap20">
                
                <p class="web-font-primary-light">Shipping</p>
                <p class="web-font-primary-light bold">SAR 20</p>

            </div>    

            <div class="auto-flex-center-space-between-gap20">
                
                <p class="web-font-primary-light">Total (tax incl.)</p>
                <p class="web-font-primary-light bold blue-color">SAR 6000</p>

            </div>    

            <button class="primary-bg max-width padding-10">checkout</button>

        </div>

    </div>

</div>