<app-checkout-header></app-checkout-header>

<div class="web auto-flex-start-gap40 main-div-max padding-top-20" style="padding: 20px;">

    <div class="auto-flex-start-gap10-column-no-set-width gray-border flex-grow border-radius-20 padding-20">

        <p class="med bold">{{ 'cart.cartTitle' | translate }}</p>

        <div class="auto-flex-center-space-between-gap20" *ngFor="let cart of cartData; let cartIndex = index;">

            <div class="auto-flex-center-gap10-column-no-set-width">

                <img class="xxxmedImg cover border-radius-10" *ngIf="cart.icon && cart.icon.length>0" src="{{serverUrl}}{{cart.icon}}" />
                <img class="xxxmedImg cover border-radius-10" *ngIf="!cart.icon || cart.icon.length<=0" style="object-fit: fill;" src="assets/images/web/logo.svg" />
    
                <p class="med bold blue-color">{{ 'header.sar' | translate }} {{ cart.price }}</p>

            </div>

            <div class="auto-flex-start-gap10-column-no-set-width width-max-300">

                <p class="med bold cursor-pointer" (click)="navigateToServiceDetail(cart.id)">{{ languageService.getCurrentLanguage() === 'ar' ? cart.title_arabic : cart.title }}</p>
                <p class="web-font-primary-light" *ngIf="cart.description_arabic && cart.description_arabic.length> 0 && !cart.showFullDescription && languageService.getCurrentLanguage() === 'ar'">{{ cart.description_arabic | slice:0:90}} ...</p>
                <p class="web-font-primary-light" *ngIf="cart.description && cart.description.length>0 && !cart.showFullDescription && languageService.getCurrentLanguage() === 'en'">{{ cart.description | slice:0:90}} ...</p>
                <p class="web-font-primary-light" *ngIf="cart.showFullDescription">{{ languageService.getCurrentLanguage() === 'ar' ? cart.description_arabic : cart.description }}</p>
                <p class="web-font-primary-light cursor-pointer" *ngIf="languageService.getCurrentLanguage() === 'ar' && cart.description_arabic && cart.description_arabic.length>0 && !cart.showFullDescription" (click)="toggleDescription(cartIndex)">{{ 'cart.showMore' | translate }}</p>
                <p class="web-font-primary-light cursor-pointer" *ngIf="languageService.getCurrentLanguage() === 'ar' && cart.description_arabic && cart.description_arabic.length>0 && cart.showFullDescription"(click)="toggleDescription(cartIndex)">{{ 'cart.showLess' | translate }}</p>
               
                <p class="web-font-primary-light cursor-pointer" *ngIf="languageService.getCurrentLanguage() === 'en' && cart.description && cart.description.length>0 && !cart.showFullDescription" (click)="toggleDescription(cartIndex)">{{ 'cart.showMore' | translate }}</p>
                <p class="web-font-primary-light cursor-pointer" *ngIf="languageService.getCurrentLanguage() === 'en' && cart.description && cart.description.length>0 && cart.showFullDescription"(click)="toggleDescription(cartIndex)">{{ 'cart.showLess' | translate }}</p>
               

            </div>

            <div class="auto-flex-start-gap10-column-no-set-width width-max-300"  [(ngModel)]="cart.user_id" *ngIf="userId">

                <select class="input-global" (change)="changeDependant($event.target, cartIndex)">

                    <option [value]="dependant.id" *ngFor="let dependant of userDependants">{{ dependant.first_name }} {{ dependant.last_name }}</option>

                </select>

            </div>

            <div class="auto-flex-start-gap10-column-no-set-width width-max-300">
                
                <img class="xxsmallImg cursor-pointer" src="assets/images/web/icons/delete.svg" (click)="removeFromCart(cartIndex)" />

            </div>
            
            <hr class="hr-black" *ngIf="cartIndex+1 < cartData.length" />

        </div>
    
    </div>

    <div class="auto-flex-start-gap20-column-no-set-width width-300 flex-grow max-width phone-max-width gray-border border-radius-20 padding-20">

        <p class="med bold">{{ 'cart.paymentSummary' | translate }}</p>

        <div class="auto-flex-start-gap20-column">

            <div class="auto-flex-center-space-between-gap20">
                
                <p class="web-font-primary-light">{{ 'cart.subtotal' | translate }}</p>
                <p class="web-font-primary-light bold">{{ 'header.sar' | translate }} {{ total }}</p>

            </div>    

            <div class="auto-flex-center-space-between-gap20" *ngIf="homeVist>0">
                
                <p class="web-font-primary-light">{{ 'cart.homeVist' | translate }}</p>
                <p class="web-font-primary-light bold">{{ 'header.sar' | translate }} {{ homeVist }}</p>

            </div>  
            <div class="auto-flex-center-space-between-gap20">
                
                <p class="web-font-primary-light">{{ 'cart.totalTax' | translate }}</p>
                <p class="web-font-primary-light bold blue-color">{{ 'header.sar' | translate }} {{ total_inc_cost }}</p>

            </div>      

            <button class="primary-bg max-width padding-10 uppercase" (click)="checkout()">{{ 'cart.checkout' | translate }}</button>

        </div>

    </div>

    <!-- Cart error -->
    <app-custom-alert *ngIf="loginAlert" [title]="'messages.userNotLoggedInTitle' | translate" [message]="'messages.userNotLoggedInTitleDesc' | translate" [cancelButtonText]="'cart.cancel' | translate" [continueButtonText]="'auth.login' | translate" (cancelClick)="handleCancelClick()" (continueClick)="handleContinueClick()" [showCancel]="true" [showConfirm]="true"></app-custom-alert>

    <!-- Cart error -->
    <!--<app-custom-alert *ngIf="wrongService" [title]="'messages.serviceSelectionTitle' | translate" [message]="('messages.serviceSelectionDesc' | translate) + errorMessage"
    [cancelButtonText]="'cart.cancel' | translate" [continueButtonText]="'cart.confirm' | translate" (cancelClick)="handleCancelClick()" (continueClick)="handleContinueClickService()" [showCancel]="false" [showConfirm]="true"></app-custom-alert>
    -->

</div>

<app-checkout-footer></app-checkout-footer>