.border-none {
    border: none;
}

.hover-effect{
    transition: background-color 0.3s ease; /* Add a smooth transition effect */
}

.hover-effect:hover {
    background-color: var(--blue-color);
    color: white;
    
  }
  