<div id="app">

    <!-- page section -->
    <section class="el-container">
    
        <div>
            
            <!-- main menu bar-->
            <menu class="menu-bar lab-hide">
    
                <a routerLink="javascript:void(0);" class="toggle-menu">
    
                    <div class="inactive">
                        
                        <span class="bar bar1"></span>
                        <span class="bar"></span>
                        <span class="bar bar3"></span>
                  
                    </div>

                </a>
                
                <a routerLink="dashboard" class="logo"><img src="assets/images/Taib_logo_Trans.png" width="50%" /></a>
          
            </menu>
            
            <!-- app side bar-->
            <app-sidebar class="lab-hide"></app-sidebar>

            <!-- app sub menu -->
            <div>
            
                <app-submenu></app-submenu>
            
            </div>

            <!-- top nav bar in the right side -->
            <nav class="nav-bar-none"></nav>
        
        </div>

        <!-- right side or the main component content -->
        <main class="el-main">
      
            <app-header></app-header>

            <!-- service wrapper -->
            <div class="web auto-flex-start-gap30-column max-height relative">

                <div class="auto-flex-start-space-between-gap10">

                    <p class="large">All Services</p>
                    <button class="primary-bg padding-10 secondary-color bold" (click)="addService()">Add a New Service</button>
                    <button class="primary-bg padding-10 secondary-color bold" (click)="addServiceVariant()">Add a New Service Variant</button>
                    <input class="input-global" type="text" placeholder="Search service by id, title, category and price" (ngModelChange)="updateDisplayedServiceList()" [(ngModel)]="searchText" />

                    <div class="auto-flex-start-gap10 padding-none border-radius-20 gray-border">

                        <table class="custom-table web-font-primary-light overflow-hidden">

                            <thead class="custom-table-thead">
                                <tr>
                                    <th class="padding-20">ID</th>
                                    <th class="padding-20">Icon</th>
                                    <th class="padding-20">Title</th>
                                    <th class="padding-20">Category</th>
                                    <th class="padding-20">Price</th>
                                    <th class="padding-20">Tags</th>
                                    <th class="padding-20">Status</th>
                                    <th class="padding-20 text-right">Actions</th>
                                </tr>
                            </thead>

                            <tbody>

                                <tr *ngFor="let service of displayedServiceList | filter: searchText; let serviceIndex = index; ">

                                <td>
                                    <p> {{ service.id }} </p>
                                </td>

                                <td>
                                    <img class="medImg" src="{{serverUrl}}{{service.icon}}" *ngIf="service.icon && service.icon.length>0">
                                </td>

                                <td class="cursor-pointer" (click)="editService(service, serviceIndex)">
                                    <p> {{ service.title }} <br/>({{service.title_arabic}})</p>
                                </td>

                                <td>
                                    <p> {{ service.category_title }} </p>
                                </td>

                                <td>
                                    <p> {{ service.price }} </p>
                                </td>

                                <td>
                                    <p class="cursor-pointer hover-effect glass-bg padding-5 border-radius-10 border-none web-font-primary-light" *ngFor="let tag of getTag(service.tag)"> {{ tag }} </p>
                                </td>

                                <td>
                                    <p class="light-green-bg padding-5 green-color fit-content" *ngIf="service.active"> Active </p>
                                    <p class="light-red-bg padding-5 red-color fit-content" *ngIf="!service.active"> Deactivated </p>
                                </td>
                            
                                <td class="auto-flex-center-gap10-no-set-width">

                                    <div class="auto-flex-center-gap5-column">

                                        <button class="glass-bg padding-5 border-radius-10 border-none web-font-primary-light" (click)="updateServiceStatus(service, serviceIndex, true)" *ngIf="!service.active">activate</button>
                                        <button class="glass-bg padding-5 border-radius-10 border-none web-font-primary-light" (click)="updateServiceStatus(service, serviceIndex, false)" *ngIf="service.active">deactivate</button>
                                        <button class="glass-bg padding-5 border-radius-10 border-none web-font-primary-light" (click)="openVariants(service.id)" *ngIf="checkIfVariantExists(service.id)">variants</button>
                                   
                                        <div class="auto-flex-center-gap5">

                                            <img class="xsmallImg cursor-pointer" src="assets/images/web/icons/edit.svg" (click)="editService(service, serviceIndex)"/>
                                            <img class="xsmallImg cursor-pointer" src="assets/images/web/icons/delete.svg" (click)="deleteService(service, serviceIndex)"/>
        
                                        </div>

                                    </div>
                                                                    
                                </td>


                            </tr>

                        </table>

                        <!--
                        <div class="auto-flex-start-gap10">
                            
                            <hr class="hr-black" />

                            <ul class="pagination auto-flex-center-gap5">

                                <li class="page-item border-none" *ngFor="let page of totalPageNumbers(); let i = index">
                                    <a class="page-link border-none blue-color padding-5 cursor-pointer" (click)="setPage(i)">{{ page }}</a>
                                </li>

                            </ul>       
                        
                        </div>   -->          
                                            
                    </div>

                    <!-- Add Service-->
                    <div class="fixed dialog" *ngIf="addNewServiceToggle">

                        <div class="popup">

                            <div class="content white-bg scrollable-div web-font-primary-light">

                                <button class="close" (click)="closeAddService()">x</button>

                                <form [formGroup]="addServiceForm" (ngSubmit)="createService()">

                                    <div class="auto-flex-center-gap20">

                                        <div class="auto-flex-center-start-gap20">

                                            <div class="auto-flex-center-start-gap20-no-set-width">
                                                 
                                                <img class="medImg" src="{{serverUrl}}{{addServiceForm.get('icon').value}}">
                                                <input type="file" accept="image/*" name="uploadfile" id="service_icon" (change)="updateImage($event, 'icon', 'add')" style="display:none;"/>
                                                <label class="glass-bg padding-10 cursor-pointer" for="service_icon">Upload Icon</label>
    
                                            </div>
    
                                            <div class="auto-flex-center-start-gap20-no-set-width">
                                               
                                                <img class="medImg" src="{{serverUrl}}{{addServiceForm.get('cover_image').value}}">
                                                <input type="file" accept="image/*" name="uploadfile" id="service_cover_image" (change)="updateImage($event, 'image', 'add')" style="display:none;"/>
                                                <label class="glass-bg padding-10 cursor-pointer" for="service_cover_image">Upload Image</label>
    
                                            </div>
                                            
                                            <div class="auto-flex-center-start-gap20-no-set-width">
                                                
                                                <img class="medImg" src="{{serverUrl}}{{addServiceForm.get('banner').value}}">
                                                <input type="file" accept="image/*" name="uploadfile" id="service_banner" (change)="updateImage($event, 'banner', 'add')" style="display:none;"/>
                                                <label class="glass-bg padding-10 cursor-pointer" for="service_banner">Upload Banner</label>

                                            </div>    

                                        </div>
  
                                        <div class="auto-flex-center-start-gap20">

                                            <div class="auto-flex-start-gap10-column-no-set-width width-half">

                                                <p class="bold">Category</p>
                                                <select class="input-global" formControlName="category_id">
                                                    <option *ngFor="let category of categoryList" [value]="category.id"> {{ category.title }}</option>
                                                </select>
                                            
                                            </div>

                                            <div class="auto-flex-start-gap10-column-no-set-width width-half">

                                                <p class="bold">Service Type</p>
                                                <select class="input-global" formControlName="service_type">
                                                    <option value="service">Service</option>
                                                    <option value="labtest">Lab Test</option>
                                                    <option value="labpackage">Lab Package</option>
                                                </select>
                                            
                                            </div>
                                        
                                        </div>

                                        <div class="auto-flex-center-start-gap20">

                                            <div class="auto-flex-start-gap5-column-no-set-width width-half">

                                                <p class="bold">Title</p>
                                                <input class="input-global" formControlName="title" type="text" />    

                                            </div>

                                            <div class="auto-flex-start-gap5-column-no-set-width width-half">

                                                <p class="bold">Title Arabic</p>
                                                <input class="input-global" formControlName="title_arabic" type="text" />
            
                                            </div>

                                        </div>

                                        <div class="auto-flex-center-start-gap20">

                                            <div class="auto-flex-start-gap5-column">

                                                <p class="bold">URL</p>
                                                <input class="input-global" formControlName="url" type="text" />    

                                            </div>

                                        </div>

                                        <div class="auto-flex-center-start-gap20">

                                            <div class="auto-flex-start-gap5-column-no-set-width width-half">

                                                <p class="bold">Description</p>
                                                <textarea class="input-global" formControlName="description" type="text"></textarea>   

                                            </div>

                                            <div class="auto-flex-start-gap5-column-no-set-width width-half">

                                                <p class="bold">Description Arabic</p>
                                                <textarea class="input-global" formControlName="description_arabic" type="text"></textarea>
            
                                            </div>

                                        </div>

                                        <div class="auto-flex-center-start-gap20">

                                            <div class="auto-flex-start-gap5-column-no-set-width width-half">

                                                <p class="bold">Title Tag</p>
                                                <input class="input-global" formControlName="title_tag" type="text" />    

                                            </div>

                                            <div class="auto-flex-start-gap5-column-no-set-width width-half">

                                                <p class="bold">Meta Tag</p>
                                                <input class="input-global" formControlName="meta_tag" type="text" />
            
                                            </div>

                                        </div>

                                        <div class="auto-flex-center-start-gap20">

                                            <div class="auto-flex-start-gap5-column-no-set-width width-half">

                                                <p class="bold">Instructions</p>
                                                <textarea class="input-global" formControlName="instructions" type="text"></textarea>    

                                            </div>

                                            <div class="auto-flex-start-gap5-column-no-set-width width-half">

                                                <p class="bold">Instructions Arabic</p>
                                                <textarea class="input-global" formControlName="instructions_arabic" type="text"></textarea>    
            
                                            </div>

                                        </div>

                                        <div class="auto-flex-center-start-gap20">

                                            <div class="auto-flex-start-gap5-column-no-set-width width-half">

                                                <p class="bold">Price</p>
                                                <input class="input-global" formControlName="price" type="number" />    

                                            </div>

                                            <div class="auto-flex-start-gap5-column-no-set-width width-half">

                                                <p class="bold">Cost</p>
                                                <input class="input-global" formControlName="cost" type="number" />
            
                                            </div>

                                        </div>

                                        <div class="auto-flex-center-start-gap20">

                                            <div class="auto-flex-start-gap5-column-no-set-width width-half">

                                                <p class="bold">Active</p>
                                                <input class="input-global"  style="width:auto" formControlName="active" type="checkbox" />    

                                            </div>

                                            <div class="auto-flex-start-gap5-column-no-set-width width-half">

                                                <p class="bold">Iframe URL</p>
                                                <input class="input-global" formControlName="whatsapp_url" type="text" />
            
                                            </div>

                                        </div>

                                        <div class="auto-flex-center-start-gap20">

                                            <div class="auto-flex-start-gap5-column-no-set-width width-half">

                                                <p class="bold">Top</p>
                                                <input class="input-global"  style="width:auto" formControlName="top" type="checkbox" />    

                                            </div>

                                        </div>
                                        
                                        <div class="auto-flex-center-start-gap10" *ngIf="tagListRenderer">

                                            <ng-multiselect-dropdown class="max-width" *ngIf="tagSettings" [settings]="tagSettings" [data]="tagList" (onSelect)="onTagSelect($event)" (onDeSelect)="onTagDeSelect($event)" (onSelectAll)="onTagSelectAll($event)" (onDeSelectAll)="onTagDeSelectAll()"></ng-multiselect-dropdown>

                                        </div>


                                        <div class="auto-flex-center-gap10">

                                            <button class="primary-bg max-width padding-10 secondary-color" type="submit">Add Service</button>

                                        </div>

                                    </div>

                                </form>                            

                            </div>

                        </div>

                    </div>

                      <!-- Add Service variants-->
                    <div class="fixed dialog" *ngIf="addNewServiceVariantToggle">

                        <div class="popup">

                            <div class="content white-bg scrollable-div web-font-primary-light">

                                <button class="close" (click)="closeAddServiceVariant()">x</button>

                                <form [formGroup]="addServiceVariantForm" (ngSubmit)="createServiceVariant()">

                                    <div class="auto-flex-center-gap20">
                                    
                                        <div class="auto-flex-center-start-gap10">

                                            <ng-multiselect-dropdown class="max-width" *ngIf="serviceSettings" [settings]="serviceSettings" [data]="serviceList" (onSelect)="setPreferredService($event)" (onDeSelect)="unsetPreferredService($event)"></ng-multiselect-dropdown>

                                        </div>


                                        <div class="auto-flex-center-start-gap20">

                                            <div class="auto-flex-center-start-gap20-no-set-width">
                                                 
                                                <img class="medImg" src="{{serverUrl}}{{addServiceForm.get('icon').value}}">
                                                <input type="file" accept="image/*" name="uploadfile" id="service_icon" (change)="updateImage($event, 'icon', 'add')" style="display:none;"/>
                                                <label class="glass-bg padding-10 cursor-pointer" for="service_icon">Upload Icon</label>
    
                                            </div>
    
                                            <div class="auto-flex-center-start-gap20-no-set-width">
                                               
                                                <img class="medImg" src="{{serverUrl}}{{addServiceForm.get('cover_image').value}}">
                                                <input type="file" accept="image/*" name="uploadfile" id="service_cover_image" (change)="updateImage($event, 'image', 'add')" style="display:none;"/>
                                                <label class="glass-bg padding-10 cursor-pointer" for="service_cover_image">Upload Image</label>
    
                                            </div>
                                            
                                            <div class="auto-flex-center-start-gap20-no-set-width">
                                                
                                                <img class="medImg" src="{{serverUrl}}{{addServiceForm.get('banner').value}}">
                                                <input type="file" accept="image/*" name="uploadfile" id="service_banner" (change)="updateImage($event, 'banner', 'add')" style="display:none;"/>
                                                <label class="glass-bg padding-10 cursor-pointer" for="service_banner">Upload Banner</label>

                                            </div>    

                                        </div>
  
                                        <div class="auto-flex-center-start-gap20">

                                            <div class="auto-flex-start-gap10-column-no-set-width width-half">

                                                <p class="bold">Category</p>
                                                <select class="input-global" formControlName="category_id">
                                                    <option *ngFor="let category of categoryList" [value]="category.id"> {{ category.title }}</option>
                                                </select>
                                            
                                            </div>

                                            <div class="auto-flex-start-gap10-column-no-set-width width-half">

                                                <p class="bold">Service Type</p>
                                                <select class="input-global" formControlName="service_type">
                                                    <option value="service">Service</option>
                                                    <option value="labtest">Lab Test</option>
                                                    <option value="labpackage">Lab Package</option>
                                                </select>
                                            
                                            </div>
                                        
                                        </div>

                                        <div class="auto-flex-center-start-gap20">

                                            <div class="auto-flex-start-gap5-column-no-set-width width-half">

                                                <p class="bold">Title</p>
                                                <input class="input-global" formControlName="title" type="text" />    

                                            </div>

                                            <div class="auto-flex-start-gap5-column-no-set-width width-half">

                                                <p class="bold">Title Arabic</p>
                                                <input class="input-global" formControlName="title_arabic" type="text" />
            
                                            </div>

                                        </div>

                                        <div class="auto-flex-center-start-gap20">

                                            <div class="auto-flex-start-gap5-column">

                                                <p class="bold">URL</p>
                                                <input class="input-global" formControlName="url" type="text" />    

                                            </div>

                                        </div>

                                        <div class="auto-flex-center-start-gap20">

                                            <div class="auto-flex-start-gap5-column-no-set-width width-half">

                                                <p class="bold">Description</p>
                                                <textarea class="input-global" formControlName="description" type="text"></textarea>   

                                            </div>

                                            <div class="auto-flex-start-gap5-column-no-set-width width-half">

                                                <p class="bold">Description Arabic</p>
                                                <textarea class="input-global" formControlName="description_arabic" type="text"></textarea>
            
                                            </div>

                                        </div>

                                        <div class="auto-flex-center-start-gap20">

                                            <div class="auto-flex-start-gap5-column-no-set-width width-half">

                                                <p class="bold">Title Tag</p>
                                                <input class="input-global" formControlName="title_tag" type="text" />    

                                            </div>

                                            <div class="auto-flex-start-gap5-column-no-set-width width-half">

                                                <p class="bold">Meta Tag</p>
                                                <input class="input-global" formControlName="meta_tag" type="text" />
            
                                            </div>

                                        </div>

                                        <div class="auto-flex-center-start-gap20">

                                            <div class="auto-flex-start-gap5-column-no-set-width width-half">

                                                <p class="bold">Instructions</p>
                                                <textarea class="input-global" formControlName="instructions" type="text"></textarea>    

                                            </div>

                                            <div class="auto-flex-start-gap5-column-no-set-width width-half">

                                                <p class="bold">Instructions Arabic</p>
                                                <textarea class="input-global" formControlName="instructions_arabic" type="text"></textarea>    
            
                                            </div>

                                        </div>

                                        <div class="auto-flex-center-start-gap20">

                                            <div class="auto-flex-start-gap5-column-no-set-width width-half">

                                                <p class="bold">Price</p>
                                                <input class="input-global" formControlName="price" type="number" />    

                                            </div>

                                            <div class="auto-flex-start-gap5-column-no-set-width width-half">

                                                <p class="bold">Cost</p>
                                                <input class="input-global" formControlName="cost" type="number" />
            
                                            </div>

                                        </div>

                                        <div class="auto-flex-center-start-gap20">

                                            <div class="auto-flex-start-gap5-column-no-set-width width-half">

                                                <p class="bold">Active</p>
                                                <input class="input-global"  style="width:auto" formControlName="active" type="checkbox" />    

                                            </div>

                                            <div class="auto-flex-start-gap5-column-no-set-width width-half">

                                                <p class="bold">Iframe URL</p>
                                                <input class="input-global" formControlName="whatsapp_url" type="text" />
            
                                            </div>

                                        </div>

                                        <div class="auto-flex-center-start-gap20">

                                            <div class="auto-flex-start-gap5-column-no-set-width width-half">

                                                <p class="bold">Top</p>
                                                <input class="input-global"  style="width:auto" formControlName="top" type="checkbox" />    

                                            </div>

                                        </div>
                                        
                                        <div class="auto-flex-center-start-gap10" *ngIf="tagListRenderer">

                                            <ng-multiselect-dropdown class="max-width" *ngIf="tagSettings" [settings]="tagSettings" [data]="tagList" (onSelect)="onTagSelect($event)" (onDeSelect)="onTagDeSelect($event)" (onSelectAll)="onTagSelectAll($event)" (onDeSelectAll)="onTagDeSelectAll()"></ng-multiselect-dropdown>

                                        </div>


                                        <div class="auto-flex-center-gap10">

                                            <button class="primary-bg max-width padding-10 secondary-color" type="submit">Add Service</button>

                                        </div>

                                    </div>

                                </form>                            

                            </div>

                        </div>

                    </div>

                    <!--  Service Variants-->
                    <div class="fixed dialog" *ngIf="currentServiceVariantsToggle">

                        <div class="popup">

                            <div class="content white-bg scrollable-div web-font-primary-light">

                                <button class="close" (click)="closeVariants()">x</button>

                                <div class="auto-flex-start-gap10 padding-none border-radius-20 gray-border">

                                    <table class="custom-table web-font-primary-light overflow-hidden">
            
                                        <thead class="custom-table-thead">
                                            <tr>
                                                <th class="padding-20">ID</th>
                                                <th class="padding-20">Icon</th>
                                                <th class="padding-20">Title</th>
                                                <th class="padding-20">Category</th>
                                                <th class="padding-20">Price</th>
                                                <th class="padding-20">Status</th>
                                                <th class="padding-20 text-right">Actions</th>
                                            </tr>
                                        </thead>
            
                                        <tbody>
            
                                            <tr *ngFor="let serviceVariant of currentServiceVariants; let serviceVariantIndex=index;">
            
                                            <td>
                                                <p> {{ serviceVariant.id }} </p>
                                            </td>
            
                                            <td>
                                                <img class="medImg" src="{{serverUrl}}{{serviceVariant.icon}}" *ngIf="serviceVariant.icon && serviceVariant.icon.length>0">
                                            </td>
            
                                            <td class="cursor-pointer" (click)="editService(serviceVariant, serviceVariantIndex)">
                                                <p> {{ serviceVariant.title }} <br/>({{serviceVariant.title_arabic}})</p>
                                            </td>
            
                                            <td>
                                                <p> {{ serviceVariant.category_title }} </p>
                                            </td>
            
                                            <td>
                                                <p> {{ serviceVariant.price }} </p>
                                            </td>
            
                                            <td>
                                                <p class="light-green-bg padding-5 green-color fit-content" *ngIf="serviceVariant.active"> Active </p>
                                                <p class="light-red-bg padding-5 red-color fit-content" *ngIf="!serviceVariant.active"> Deactivated </p>
                                            </td>
                                        
                                            <td class="auto-flex-center-gap10-no-set-width">
            
                                                <div class="auto-flex-center-gap5-column">
            
                                                    <button class="glass-bg padding-5 border-radius-10 border-none web-font-primary-light" (click)="updateServiceStatus(serviceVariant, serviceVariantIndex, true)" *ngIf="!serviceVariant.active">activate</button>
                                                    <button class="glass-bg padding-5 border-radius-10 border-none web-font-primary-light" (click)="updateServiceStatus(serviceVariant, serviceVariantIndex, false)" *ngIf="serviceVariant.active">deactivate</button>
                                               
                                                    <div class="auto-flex-center-gap5">
            
                                                        <img class="xsmallImg cursor-pointer" src="assets/images/web/icons/edit.svg" (click)="editService(serviceVariant, serviceVariantIndex)"/>
                                                        <img class="xsmallImg cursor-pointer" src="assets/images/web/icons/delete.svg" (click)="deleteService(serviceVariant, serviceVariantIndex)"/>
                    
                                                    </div>
            
                                                </div>
                                                                                
                                            </td>
            
            
                                        </tr>
            
                                    </table>
            
                                    <!--
                                    <div class="auto-flex-start-gap10">
                                        
                                        <hr class="hr-black" />
            
                                        <ul class="pagination auto-flex-center-gap5">
            
                                            <li class="page-item border-none" *ngFor="let page of totalPageNumbers(); let i = index">
                                                <a class="page-link border-none blue-color padding-5 cursor-pointer" (click)="setPage(i)">{{ page }}</a>
                                            </li>
            
                                        </ul>       
                                    
                                    </div>   -->          
                                                        
                                </div>
                      

                            </div>

                        </div>

                    </div>

                    <!-- Edit Service-->
                    <div class="fixed dialog" *ngIf="editServiceToggle">

                        <div class="popup">

                            <div class="content white-bg scrollable-div web-font-primary-light">

                                <button class="close" (click)="closeEditService()">x</button>

                                <div class="auto-flex-center-gap20">

                                    <div class="auto-flex-center-start-gap20">

                                        <div class="auto-flex-center-start-gap20-no-set-width">
                                    
                                            <img class="medImg" src="{{serverUrl}}{{selectedService.icon}}">
                                            <input type="file" accept="image/*" name="uploadfile" id="service_icon" (change)="updateImage($event, 'icon', 'edit')" style="display:none;"/>
                                            <label class="glass-bg padding-10 cursor-pointer" for="service_icon">Upload Icon</label>

                                        </div>

                                        <div class="auto-flex-center-start-gap20-no-set-width">
                                        
                                            <img class="medImg" src="{{serverUrl}}{{selectedService.cover_image}}">
                                            <input type="file" accept="image/*" name="uploadfile" id="service_cover_image" (change)="updateImage($event, 'image', 'edit')" style="display:none;"/>
                                            <label class="glass-bg padding-10 cursor-pointer" for="service_cover_image">Upload Image</label>


                                        </div>
                                        
                                        <div class="auto-flex-center-start-gap20-no-set-width">
                                        
                                            <img class="medImg" src="{{serverUrl}}{{selectedService.banner}}">
                                            <input type="file" accept="image/*" name="uploadfile" id="service_banner" (change)="updateImage($event, 'banner', 'edit')" style="display:none;"/>
                                            <label class="glass-bg padding-10 cursor-pointer" for="service_banner">Upload Banner</label>


                                        </div>    

                                    </div>

                                    <div class="auto-flex-center-start-gap20">

                                        <div class="auto-flex-start-gap5-column-no-set-width width-half">

                                            <p class="bold">Category</p>
                                            <select class="input-global" [(ngModel)]="selectedService.category_id">
                                                <option *ngFor="let category of categoryList" [value]="category.id"> {{ category.title }}</option>
                                            </select>
                                        
                                        </div>

                                        <div class="auto-flex-start-gap5-column-no-set-width width-half">

                                            <p class="bold">Service Type</p>
                                            <select class="input-global" [(ngModel)]="selectedService.service_type">
                                                <option value="service">Service</option>
                                                <option value="labtest">Lab Test</option>
                                                <option value="labpackage">Lab Package</option>
                                            </select>
                                        
                                        </div>
                                    
                                    </div>

                                    <div class="auto-flex-center-start-gap20">

                                        <div class="auto-flex-start-gap5-column-no-set-width width-half">

                                            <p class="bold">Title</p>
                                            <input class="input-global" [(ngModel)]="selectedService.title" type="text" />    

                                        </div>

                                        <div class="auto-flex-start-gap5-column-no-set-width width-half">

                                            <p class="bold">Title Arabic</p>
                                            <input class="input-global" [(ngModel)]="selectedService.title_arabic" type="text" />
        
                                        </div>

                                    </div>

                                    <div class="auto-flex-center-start-gap20">

                                        <div class="auto-flex-start-gap5-column">

                                            <p class="bold">URL</p>
                                            <input class="input-global" [(ngModel)]="selectedService.url" type="text" />    

                                        </div>

                                    </div>

                                    <div class="auto-flex-center-start-gap20">

                                        <div class="auto-flex-start-gap5-column-no-set-width width-half">

                                            <p class="bold">Description</p>
                                            <textarea class="input-global" [(ngModel)]="selectedService.description" type="text"></textarea>   

                                        </div>

                                        <div class="auto-flex-start-gap5-column-no-set-width width-half">

                                            <p class="bold">Description Arabic</p>
                                            <textarea class="input-global" [(ngModel)]="selectedService.description_arabic" type="text"></textarea>
        
                                        </div>

                                    </div>

                                    <div class="auto-flex-center-start-gap20">

                                        <div class="auto-flex-start-gap5-column-no-set-width width-half">

                                            <p class="bold">Title Tag</p>
                                            <input class="input-global" [(ngModel)]="selectedService.title_tag" type="text" />    

                                        </div>

                                        <div class="auto-flex-start-gap5-column-no-set-width width-half">

                                            <p class="bold">Meta Tag</p>
                                            <input class="input-global" [(ngModel)]="selectedService.meta_tag" type="text" />
        
                                        </div>

                                    </div>

                                    <div class="auto-flex-center-start-gap20">

                                        <div class="auto-flex-start-gap5-column-no-set-width width-half">

                                            <p class="bold">Instructions</p>
                                            <textarea class="input-global" [(ngModel)]="selectedService.instructions" type="text"></textarea>    

                                        </div>

                                        <div class="auto-flex-start-gap5-column-no-set-width width-half">

                                            <p class="bold">Instructions Arabic</p>
                                            <textarea class="input-global" [(ngModel)]="selectedService.instructions_arabic" type="text"></textarea>    
        
                                        </div>

                                    </div>

                                    <div class="auto-flex-center-start-gap20">

                                        <div class="auto-flex-start-gap5-column-no-set-width width-half">

                                            <p class="bold">FAQ</p>
                                            <textarea class="input-global" [(ngModel)]="selectedService.faq" type="text"></textarea>    

                                        </div>

                                        <div class="auto-flex-start-gap5-column-no-set-width width-half">

                                            <p class="bold">FAQ Arabic</p>
                                            <textarea class="input-global" [(ngModel)]="selectedService.faq_arabic" type="text"></textarea>    
        
                                        </div>

                                    </div>

                                    <div class="auto-flex-center-start-gap20">

                                        <div class="auto-flex-start-gap5-column-no-set-width width-half">

                                            <p class="bold">Price</p>
                                            <input class="input-global" [(ngModel)]="selectedService.price" type="number" />    

                                        </div>

                                        <div class="auto-flex-start-gap5-column-no-set-width width-half">

                                            <p class="bold">Cost</p>
                                            <input class="input-global" [(ngModel)]="selectedService.cost" type="number" />
        
                                        </div>

                                    </div>

                                    <div class="auto-flex-center-start-gap20">

                                        <div class="auto-flex-start-gap5-column-no-set-width width-half">
        
                                            <p class="bold">Top</p>
                                            <input class="input-global"  [(ngModel)]="selectedService.top" style="width:auto" type="checkbox" /> 

                                        </div>

                                        <div class="auto-flex-start-gap5-column-no-set-width width-half">

                                            <p class="bold">Iframe URL</p>
                                            <input class="input-global" [(ngModel)]="selectedService.whatsapp_url" type="text" />
        
                                        </div>

                                        <div class="auto-flex-center-start-gap10" *ngIf="tagListRenderer">

                                            <ng-multiselect-dropdown class="max-width" *ngIf="tagSettings" [settings]="tagSettings" [data]="tagList" [(ngModel)]="selectedServiceTags" (onSelect)="onTagSelect($event)" (onDeSelect)="onTagDeSelect($event)" (onSelectAll)="onTagSelectAll($event)" (onDeSelectAll)="onTagDeSelectAll()"></ng-multiselect-dropdown>

                                        </div>

                                    </div>

                                    <div class="auto-flex-center-gap10">

                                        <button class="primary-bg max-width padding-10 secondary-color" (click)="updateService()">Update Service Details</button>

                                    </div>

                                </div>
                   
                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </main>
    
    </section>

</div>