.zoom {
    /* padding: 50px; */
    transition: transform .2s;
    width: 100px;
   
    margin: 0 auto;
  }
  
  .zoom:hover {
    -ms-transform: scale(2.5); /* IE 9 */
    -webkit-transform: scale(2.5); /* Safari 3-8 */
    transform: scale(2.5); 
    z-index: 99999;
  } 