<div id="app">

    <!-- page section -->
    <section class="el-container">
    
        <div>
            
            <!-- main menu bar-->
            <menu class="menu-bar lab-hide">
    
                <a routerLink="javascript:void(0);" class="toggle-menu">
    
                    <div class="inactive">
                        
                        <span class="bar bar1"></span>
                        <span class="bar"></span>
                        <span class="bar bar3"></span>
                  
                    </div>

                </a>
                
                <a routerLink="dashboard" class="logo"><img src="assets/images/Taib_logo_Trans.png" width="50%" /></a>
          
            </menu>
            
            <!-- app side bar-->
            <app-sidebar class="lab-hide"></app-sidebar>

            <!-- app sub menu -->
            <div>
            
                <app-submenu></app-submenu>
            
            </div>

            <!-- top nav bar in the right side -->
            <nav class="nav-bar-none"></nav>
        
        </div>

        <!-- right side or the main component content -->
        <main class="el-main">
      
            <app-header></app-header>

            <!-- category wrapper -->
            <div class="web auto-flex-start-gap30-column max-height relative">

                <div class="auto-flex-start-gap20">
                
                    <div class="auto-flex-end-gap10">

                        <button class="primary-bg padding-10 secondary-color bold" (click)="addCategory()">Add a New Category</button>

                    </div>

                    <div class="auto-flex-start-gap10 padding-none border-radius-20 gray-border">

                        <table class="custom-table web-font-primary-light overflow-hidden">

                            <thead class="custom-table-thead">
                                <tr>
                                    <th class="padding-20">Id</th>
                                    <th class="padding-20">Icon</th>
                                    <th class="padding-20">Title</th>
                                    <th class="padding-20">Status</th>
                                    <th class="padding-20 text-right">Actions</th>
                                </tr>
                            </thead>

                            <tbody>

                                <tr *ngFor="let category of categoryList; let categoryIndex = index">

                                    <td>
                                        <p> {{ category.id }} </p>
                                    </td>
    
                                    <td>
                                        <img class="smallImg" src="{{serverUrl}}{{category.icon}}" *ngIf="category.icon && category.icon.length>0">
                                    </td>
    
                                    <td>
                                        <p> {{ category.title }} </p>
                                    </td>

                                    <td>
                                        <p class="light-green-bg padding-5 green-color fit-content" *ngIf="category.active"> Active </p>
                                        <p class="light-red-bg padding-5 red-color fit-content" *ngIf="!category.active"> Deactivated </p>
                                    </td>
                                
                                    <td class="auto-flex-center-end-gap10-no-set-width">
                                        <button class="glass-bg padding-5 border-radius-10 border-none web-font-primary-light" (click)="updateCategoryStatus(category, categoryIndex, true)" *ngIf="!category.active">activate</button>
                                        <button class="glass-bg padding-5 border-radius-10 border-none web-font-primary-light" (click)="updateCategoryStatus(category, categoryIndex, false)" *ngIf="category.active">deactivate</button>
                                        <img class="xsmallImg cursor-pointer" src="assets/images/web/icons/edit.svg" (click)="editCategory(category, categoryIndex)"/>
                                        <img class="xsmallImg cursor-pointer" src="assets/images/web/icons/delete.svg" (click)="deleteCategory(category, categoryIndex)"/>
                                    </td>
    
                                    </tr>
    

                            </tbody>

                        </table>


                    </div>

                    <div class="auto-flex-center-gap10-column">

                        <!-- Add categoyy-->
                        <div class="fixed dialog" *ngIf="addNewCategoryToggle">

                            <div class="popup">

                                <div class="content white-bg scrollable-div">

                                    <button class="close" (click)="closeAddCategory()">x</button>

                                    <form [formGroup]="addCategoryForm" (ngSubmit)="createCategory()">

                                        <div class="auto-flex-center-gap20">
                                            
                                            <div class="auto-flex-center-start-gap20">
                                                
                                                <img class="medImg" src="{{serverUrl}}{{addCategoryForm.get('icon').value}}">
                                                <input type="file" accept="image/*" name="uploadfile" id="category_icon" (change)="updateImage($event, 'icon', 'add')" style="display:none;"/>
                                                <label class="glass-bg padding-10 cursor-pointer" for="category_icon">Upload Icon</label>

                                            </div>

                                            <div class="auto-flex-center-start-gap20">
                                            
                                                <img class="medImg" src="{{serverUrl}}{{addCategoryForm.get('image').value}}">
                                                <input type="file" accept="image/*" name="uploadfile" id="category_image" (change)="updateImage($event, 'image', 'add')" style="display:none;"/>
                                                <label class="glass-bg padding-10 cursor-pointer" for="category_image">Upload Image</label>

                                            </div>

                                            <div class="auto-flex-center-start-gap20">
                                            
                                                <img class="medImg" src="{{serverUrl}}{{addCategoryForm.get('banner').value}}">
                                                <input type="file" accept="image/*" name="uploadfile" id="category_banner" (change)="updateImage($event, 'banner', 'add')" style="display:none;"/>
                                                <label class="glass-bg padding-10 cursor-pointer" for="category_banner">Upload Banner</label>

                                            </div>

                                            <div class="auto-flex-center-start-gap20">

                                                <div class="auto-flex-start-gap10-column-no-set-width width-half">

                                                    <p class="bold">Title</p>
                                                    <input class="input-global" formControlName="title" type="text" />    

                                                </div>

                                                <div class="auto-flex-start-gap10-column-no-set-width width-half">

                                                    <p class="bold">Title Arabic</p>
                                                    <input class="input-global" formControlName="title_arabic" type="text" />
                
                                                </div>

                                            </div>
                                            

                                            <div class="auto-flex-center-gap10">

                                                <button class="primary-bg max-width padding-10 secondary-color" type="submit">Add Category</button>

                                            </div>

                                        </div>

                                    </form>                            

                                </div>

                            </div>

                        </div>

                        <!-- Edit category-->
                        <div class="fixed dialog" *ngIf="editCategoryToggle">
                            
                            <div class="popup">

                                <div class="content white-bg scrollable-div web-font-primary-light">

                                    <button class="close" (click)="closeEditCategory()">x</button>
                                    
                                    <!-- edit content -->
                                    <div class="auto-flex-center-gap20">
                                        
                                        <div class="auto-flex-center-start-gap20">
                                                
                                            <img class="medImg" src="{{serverUrl}}{{selectedCategory.icon}}">
                                            <input type="file" accept="image/*" name="uploadfile" id="category_icon" (change)="updateImage($event, 'icon', 'edit')" style="display:none;"/>
                                            <label class="glass-bg padding-10 cursor-pointer" for="category_icon">Upload Icon</label>

                                        </div>
                                        
                                        <div class="auto-flex-center-start-gap20">
                                                
                                            <img class="medImg" src="{{serverUrl}}{{selectedCategory.image}}">
                                            <input type="file" accept="image/*" name="uploadfile" id="category_icon" (change)="updateImage($event, 'icon', 'edit')" style="display:none;"/>
                                            <label class="glass-bg padding-10 cursor-pointer" for="category_icon">Upload image</label>

                                        </div>

                                        <div class="auto-flex-center-start-gap20">
                                                
                                            <img class="medImg" src="{{serverUrl}}{{selectedCategory.banner}}">
                                            <input type="file" accept="image/*" name="uploadfile" id="category_icon" (change)="updateImage($event, 'icon', 'edit')" style="display:none;"/>
                                            <label class="glass-bg padding-10 cursor-pointer" for="category_icon">Upload banner</label>

                                        </div>

                                        <div class="auto-flex-center-start-gap20">

                                            <div class="auto-flex-start-gap5-column-no-set-width width-half">

                                                <p class="bold">Title</p>
                                                <input class="input-global" [(ngModel)]="selectedCategory.title" type="text" />    

                                            </div>

                                            <div class="auto-flex-start-gap5-column-no-set-width width-half">

                                                <p class="bold">Title Arabic</p>
                                                <input class="input-global" [(ngModel)]="selectedCategory.title_arabic" type="text" />
            
                                            </div>

                                        </div>

                                        <div class="auto-flex-center-gap10">

                                            <button class="primary-bg max-width padding-10 secondary-color" (click)="updateCategory()">Save Category Information</button>

                                        </div>

                                    </div>

                                </div>

                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </main>
    
    </section>

</div>