<div id="app">
  <section class="el-container">
    <div>
      <menu class="menu-bar lab-hide">
        <a routerLink="javascript:void(0);" class="toggle-menu">
          <div class="inactive"><span class="bar bar1"></span><span class="bar"></span><span class="bar bar3"></span></div>
        </a>
        <a routerLink="dashboard" class="logo"><img src="assets/images/Taib_logo_Trans.png" width="50%" /></a>
      </menu>
      <app-sidebar class="lab-hide"></app-sidebar>
      <nav class="nav-bar-none"></nav>
    </div>
    <main class="el-main dashboard">
      <app-header></app-header>
      <div>
        <div>
          <!-- <div class="text-right">
            <button class="add-btn mr-0" routerLink="../lab-add-appointments">New Appointment</button>
          </div> -->
          <form class="el-form custom-radio m-t30 el-form--label-top">
            <input type="radio" id="book_date" name="fav_language" class="el-radio__inner" value="Booking Date" checked (click)="dateTypeClicked(1)" />
            <label for="">Booking Date</label>
            <input type="radio" id="book_slot" name="fav_language" class="el-radio__inner" value="Slot Date" (click)="dateTypeClicked(2)" />
            <label for="">Slot Date</label>

            <div class="m-t30 el-row" style="margin-left: -10px; margin-right: -10px">
              <div class="el-col el-col-24 el-col-xs-24 el-col-sm-8 el-col-md-8 el-col-lg-6 el-col-xl-6" style="padding-left: 10px; padding-right: 10px">
                <div class="el-form-item">
                  <label class="el-form-item__label">Select Services</label>
                  <div class="el-form-item__content">
                    <div class="el-select line-input">
                      <select class="select" (change)="sectorSelected($event.target)">
                        <option>Select</option>
                        <option class="el-select-dropdown__item" *ngFor="let sector of sectorList" value="{{ sector.sectorId }}">
                          <span>{{ sector.sectorName }}</span>
                        </option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>

              <div
                class="el-col el-col-24 el-col-xs-24 el-col-sm-8 el-col-md-8 el-col-lg-6 el-col-xl-6"
                id="book_date_show"
                style="padding-left: 10px; padding-right: 10px"
              >
                <div class="el-form-item line-input">
                  <label class="el-form-item__label">Select Booking Date</label>
                  <div class="el-form-item__content">
                    <div class="el-date-editor el-range-editor el-input__inner el-date-editor--daterange">
                      <!-- <i class="el-input__icon el-range__icon el-icon-date"></i> -->
                      <!-- <input autocomplete="off" placeholder="Start date" name="" class="el-range-input"> -->
                      <input type="date" id="bookingStartDate" name="" class="date" placeholder="Start date" (change)="startDateChanged($event)" />
                      <span class="el-range-separator">-</span>
                      <input type="date" id="bookingEndDate" name="" class="date" placeholder="End date" (change)="endDateChanged($event)" />
                      <!-- <input autocomplete="off" placeholder="End date" name="" class="el-range-input"> -->
                      <i class="el-input__icon el-range__close-icon"></i>
                    </div>
                  </div>
                </div>
              </div>
              <div
                class="el-col el-col-24 el-col-xs-24 el-col-sm-8 el-col-md-8 el-col-lg-6 el-col-xl-6"
                id="book_slot_show"
                style="padding-left: 10px; padding-right: 10px; display: none"
              >
                <div class="el-form-item line-input">
                  <label class="el-form-item__label">Select Slot Date</label>
                  <div class="el-form-item__content">
                    <div class="el-date-editor el-range-editor el-input__inner el-date-editor--daterange">
                      <!-- <i class="el-input__icon el-range__icon el-icon-date"></i>
                                       <input autocomplete="off" placeholder="Start date" name="" class="el-range-input"> -->
                      <input type="date" id="slotStartDate" name="" class="date" placeholder="Start date" (change)="startDateChanged($event)" />
                      <span class="el-range-separator">-</span>
                      <input type="date" id="slotEndDate" name="" class="date" placeholder="End date" (change)="endDateChanged($event)" />
                      <!-- <input autocomplete="off" placeholder="End date" name="" class="el-range-input"> -->
                      <i class="el-input__icon el-range__close-icon"></i>
                    </div>
                  </div>
                </div>
              </div>
              <div
                class="text-right custom-selects m-t20 el-col el-col-24 el-col-xs-24 el-col-sm-24 el-col-md-24 el-col-lg-12 el-col-xl-12"
                style="padding-left: 10px; padding-right: 10px"
              >
                <div class="dropdown-check-list" tabindex="100">
                  <span id="list1" class="anchor">All Appointments <i class="el-icon-arrow-down el-icon--right"></i></span>
                  <ul id="items" class="items" style="display: none">
                    <li><input type="checkbox" class="el-checkbox__inner" /> <span>New</span></li>
                    <li><input type="checkbox" class="el-checkbox__inner" /> <span>In Progress</span></li>
                    <li><input type="checkbox" class="el-checkbox__inner" /> <span>Completed</span></li>
                    <li><input type="checkbox" class="el-checkbox__inner" /> <span>Cancelled</span></li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="text-right">
              <button type="button" class="el-button el-button--primary save" (click)="filterButtonClicked()">
                <span>Filter</span>
              </button>
              <button type="button" class="el-button el-button--info save" (click)="clearFilterClicked()">
                <span>Clear</span>
              </button>
            </div>

            <!-- <div style="text-align: right;">
                     <li role="menuitem" tabindex="-1" class="el-menu-item is-active">
                        <button class="add-btn" (click)="filterButtonClicked()">Filter</button>
                     </li>
                  </div> -->
          </form>
          <div>
            <div class="o-flow-x">
              <div
                class="el-table master-table el-table--fit el-table--scrollable-x el-table--enable-row-hover el-table--enable-row-transition"
                style="width: 100%"
              >
                <div class="hidden-columns">
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div class="new_side"></div>
                  <div></div>
                  <div></div>
                </div>
                <div class="text-right">
                  <button class="add-btn mr-2" routerLink="/appointments/add">New Appointment</button>
                  <!-- <button class="add-btn mr-0" routerLink="/lab-add-appointments">New Appointment (Old)</button> -->
                </div>
                <div class="el-table__body-wrapper is-scrolling-left" style="margin-top: 3%; width: 1800px">
                  <table id="appointmentstable" class="display" cellspacing="0" style="width: 1800px">
                    <thead>
                      <tr>
                        <th>SNo</th>
                        <th>Appointment ID</th>
                        <th>Transaction/Booking Date &amp; Time</th>
                        <th>Patient Name</th>
                        <th>Mobile</th>
                        <th>Email ID</th>
                        <th>Slot Date &amp; Time</th>
                        <th>Booking Status</th>
                        <th>Status</th>
                        <th>Patient Source</th>
                        <th>Collected Amount</th>
                      </tr>
                    </thead>

                    <tbody>
                      <tr *ngFor="let appointment of appointmentList; let i = index" class="el-table__row" (click)="viewAppointmentDetails(appointment)">
                        <td>{{ i + 1 }}</td>
                        <td>
                          <div class="cell">
                            <p>{{ appointment.appointmentDisplayId }}</p>
                            <p>{{ appointment.serviceName }}</p>
                            <p>{{ appointment.serviceGender }}</p>
                          </div>
                        </td>
                        <td>{{ appointment.appointmentBookingDate }}</td>
                        <td style="padding: 0 !important">
                          <div class="cell" style="padding: 0px !important">
                            <div class="d-flex-center" style="padding: 0px !important">
                              <span class="avtar3" style="margin-right: 3px !important"><img src="assets/images/user.svg" class="image-cover" /></span>
                              <span title="Alhussian">{{ appointment.primaryPatientFirstName }} {{ appointment.primaryPatientLastName }}</span>
                            </div>
                          </div>
                        </td>
                        <td>{{ appointment.patientMobile }}</td>
                        <td>{{ appointment.patientEmail }}</td>
                        <td>
                          <div class="cell">
                            <p>{{ appointment.appointmentDate }}</p>
                            <p>{{ appointment.appointmentTime }}</p>
                          </div>
                        </td>
                        <td>{{ appointment.appointmentStatusMessage }}</td>
                        <td>{{ appointment.appointmentStage }}</td>
                        <td>{{ appointment.patientSource }}</td>
                        <td>{{ appointment.servicePrice | number: "1.2-2" }}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </section>
</div>

<div class="progress" style="width: 0%; height: 2px; background-color: rgb(122, 195, 254); opacity: 0"></div>
<div
  role="tooltip"
  id="el-tooltip-7343"
  aria-hidden="true"
  class="el-tooltip__popper is-dark"
  style="transform-origin: center bottom; z-index: 2005; display: none"
>
  Employee
  <div x-arrow="" class="popper__arrow" style="left: 8px"></div>
</div>
<div
  role="tooltip"
  id="el-tooltip-7647"
  aria-hidden="true"
  class="el-tooltip__popper is-dark"
  style="transform-origin: center bottom; z-index: 2010; display: none"
>
  Patient
  <div x-arrow="" class="popper__arrow" style="left: 8px"></div>
</div>
<div
  role="tooltip"
  id="el-tooltip-9477"
  aria-hidden="true"
  class="el-tooltip__popper is-dark"
  style="transform-origin: center bottom; z-index: 2014; display: none"
>
  Appointment
  <div x-arrow="" class="popper__arrow" style="left: 8px"></div>
</div>
