<div class="web auto-flex-start-gap40-column main-div-max padding-top-20 padding-20" style="padding: 20px; direction: ltr;">

    <a class="cursor-pointer">
        <img class="xxmedImg" src="assets/images/web/logo.svg" />
    </a>


    <div class="auto-flex-center-space-between-gap20 place-stretch">

        <table id="daily-stats">
            <thead>
              <tr>
                <th>Branch</th>
                <th>Record Count</th>
                <th>Upcoming</th>
                <th>Completed</th>
                <th>Cancelled</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let branch of data">
                <td>{{ branch.branch }}</td>
                <td>{{ branch.results[0]?.recordCount || 0 }}</td>
                <td>{{ branch.results[0]?.Upcoming || 0 }}</td>
                <td>{{ branch.results[0]?.Completed || 0 }}</td>
                <td>{{ branch.results[0]?.Cancelled || 0 }}</td>
              </tr>
            </tbody>
          </table>
          
    </div>

</div>