<div class="web auto-flex-start-gap40-column main-div-max padding-top-20 padding-20" style="padding: 20px;">

    <a class="cursor-pointer">
        <img class="xxmedImg" src="assets/images/web/logo.svg" />
    </a>


    <div class="auto-flex-center-space-between-gap20 place-stretch">

        <div class="auto-flex-center-space-between-gap20 lightest-blue-bg padding-20 padding-bottom-0 cursor-pointer min-height-150">

            <div class="auto-flex-start-gap10-column padding-bottom-20">
             
                <p class="large bold capitalize width-max-350"> Total </p>
                <p class="med bold web-font-primary-light width-max-350 width-max-phone-130"> {{data.recordCount}} </p>

            </div>

        </div>

        <div class="auto-flex-center-space-between-gap20 lightest-blue-bg padding-20 padding-bottom-0 cursor-pointer min-height-150">

            <div class="auto-flex-start-gap10-column padding-bottom-20">
             
                <p class="large bold capitalize width-max-350"> Upcoming </p>
                <p class="med bold web-font-primary-light width-max-350 width-max-phone-130"> {{data.upcomingCount}} </p>

            </div>

        </div>

        <div class="auto-flex-center-space-between-gap20 lightest-blue-bg padding-20 padding-bottom-0 cursor-pointer min-height-150">

            <div class="auto-flex-start-gap10-column padding-bottom-20">
             
                <p class="large bold capitalize width-max-350"> Completed </p>
                <p class="med bold web-font-primary-light width-max-350 width-max-phone-130"> {{data.completedCount}} </p>

            </div>

        </div>
        
        <div class="auto-flex-center-space-between-gap20 lightest-blue-bg padding-20 padding-bottom-0 cursor-pointer min-height-150">

            <div class="auto-flex-start-gap10-column padding-bottom-20">
             
                <p class="large bold capitalize width-max-350"> Cancelled </p>
                <p class="med bold web-font-primary-light width-max-350 width-max-phone-130"> {{data.cancelledCount}} </p>

            </div>

        </div>
    
    </div>

</div>