<div class="web auto-flex-start-gap40 main-div phone-vertical-reverse">

    <!-- Service header -->
    <div class="auto-flex-center-start-gap20-no-set-width width-half">

        <div class="auto-flex-start-gap20-column-no-set-width">

            <p class="med bold">Service Details</p>
            <p class="web-font-primary-light">Lorem ipsum dolor sit amet, consectetur adipisci ng elit. Et vitae lorem eget malesuada amet ornare rhoncus diam id. Lectus morbi nibh nisl, aliquet ultrices.</p>

            <p class="med bold">Variants</p>
            <div class="auto-flex-start-gap10-column">

                <div class="auto-flex-center-space-between-gap20">

                    <div class="auto-flex-center-start-gap10-no-set-width">

                        <input type="checkbox" class="input-global width-auto" />
                        <p class="web-font-primary-light">24 hours / 1 week</p>

                    </div>

                    <p class="web-font-primary-light width-auto">SAR 2000</p>

                </div>

                <div class="auto-flex-center-space-between-gap20">

                    <div class="auto-flex-center-start-gap10-no-set-width">

                        <input type="checkbox" class="input-global width-auto" />
                        <p class="web-font-primary-light">24 hours / 1 week</p>

                    </div>

                    <p class="web-font-primary-light width-auto">SAR 2000</p>

                </div>

                <div class="auto-flex-center-space-between-gap20">

                    <div class="auto-flex-center-start-gap10-no-set-width">

                        <input type="checkbox" class="input-global width-auto" />
                        <p class="web-font-primary-light">24 hours / 1 week</p>

                    </div>

                    <p class="web-font-primary-light width-auto">SAR 2000</p>

                </div>

            </div>
            
            <p class="med bold">Instructions</p>
            <p class="med bold">FAQ</p>

        </div>

    </div>

    <div class="auto-flex-start-gap10-column-no-set-width width-half box-shadow border-radius-20 padding-20">

        <div class="auto-flex-center-space-between-gap20">
        
            <div class="auto-flex-start-gap10-column-no-set-width">
    
                <p class="med bold">Service Name</p>
                <p class="bold blue-color">SAR 200</p>
               
            </div>
    
            <img class="xxxmedImg cover border-radius-10" src="assets/images/web/example.svg" />
    
        </div>

        <button class="primary-bg padding-10 padding-left-right-30 max-width">Add to cart</button>
        
    </div>

</div>