@media only screen and (max-width: 1150px) {

    .phone-max-width{

        width: 100%;

    }
    .phone-width{
        max-width: 100%;
    }
}


.message {
    /* Your message container styles */
    opacity: 1;
    transition: opacity 0.5s;
  }
  
  .fade-in {
    opacity: 1;
  }
  
  .fade-out {
    opacity: 0;
  }