<app-checkout-header></app-checkout-header>

<div class="web auto-flex-start-gap40 main-div phone-vertical-reverse  padding-top-20" style="padding: 20px;">

    <!-- Service header -->
    <div class="auto-flex-center-start-gap20-no-set-width width-half">

        <div class="auto-flex-start-gap20-column">

            <p class="med bold">Service Details</p>

            
            <ng-container *ngIf="currentService && currentService.whatsapp_url">
                <iframe [src]="getSafeUrl(currentService.whatsapp_url)" frameborder="0" style="height: 800px; width: 100%; border: 0px;"></iframe>
              </ng-container>
              <ng-container *ngIf="!currentService || !currentService.whatsapp_url">
                <p class="web-font-primary-light" *ngIf="!sanitizedWhatsappUrl">{{ currentService.description }}</p>
              </ng-container>

            <p class="med bold" *ngIf="serviceVariants && serviceVariants.length>0">Variants</p>
            <div class="auto-flex-start-gap10-column" *ngIf="serviceVariants && serviceVariants.length>0">

                <div class="auto-flex-center-space-between-gap20">

                    <div class="auto-flex-center-start-gap10-no-set-width">

                        <input type="checkbox" class="input-global width-auto" />
                        <p class="web-font-primary-light">24 hours / 1 week</p>

                    </div>

                    <p class="web-font-primary-light width-auto">SAR 2000</p>

                </div>

                <div class="auto-flex-center-space-between-gap20">

                    <div class="auto-flex-center-start-gap10-no-set-width">

                        <input type="checkbox" class="input-global width-auto" />
                        <p class="web-font-primary-light">24 hours / 1 week</p>

                    </div>

                    <p class="web-font-primary-light width-auto">SAR 2000</p>

                </div>

                <div class="auto-flex-center-space-between-gap20">

                    <div class="auto-flex-center-start-gap10-no-set-width">

                        <input type="checkbox" class="input-global width-auto" />
                        <p class="web-font-primary-light">24 hours / 1 week</p>

                    </div>

                    <p class="web-font-primary-light width-auto">SAR 2000</p>

                </div>

            </div>
            
            <p class="med bold" *ngIf="currentService && currentService.instructions && currentService.instructions.length>0">Instructions</p>
            <p class="web-font-primary-light" *ngIf="currentService && currentService.instructions && currentService.instructions.length>0">{{ currentService.instructions }}</p>
            <p class="med bold" *ngIf="currentService && currentService.faq && currentService.faq.length>0">FAQ</p>
            <p class="web-font-primary-light" *ngIf="currentService && currentService.faq && currentService.faq.length>0">{{ currentService.faq }}</p>

        </div>

    </div>

    <div class="auto-flex-start-gap10-column-no-set-width width-half box-shadow border-radius-20 padding-20">

        <div class="auto-flex-center-space-between-gap20">
        
            <div class="auto-flex-start-gap10-column-no-set-width">
    
                <p class="med bold">{{ currentService.title }}</p>
                <p class="med bold">{{ currentService.title_arabic }}</p>
                <p class="bold blue-color">SAR {{ currentService.price }}</p>
               
            </div>
    
            <img class="xxxmedImg cover border-radius-10" *ngIf="currentService.icon && currentService.icon.length>0" src="{{serverUrl}}{{currentService.icon}}" />
            <img class="xxxmedImg cover border-radius-10" *ngIf="!currentService.icon || currentService.icon.length<=0" style="object-fit: fill;" src="assets/images/web/logo.svg" />
    
        </div>

        <button class="primary-bg padding-10 padding-left-right-30 max-width" (click)="addToCart(currentService)">Add to cart</button>
        
    </div>
    
    <!-- Cart error -->
    <app-custom-alert *ngIf="showErrorCart" [title]="'Can not add item'" [message]="'Please select services from one category only'" [cancelButtonText]="'Cancel'" [continueButtonText]="'Continue'" (cancelClick)="handleCancelClick()" (continueClick)="handleContinueClick()" [showCancel]="false" [showConfirm]="true"></app-custom-alert>

</div>

<app-checkout-footer></app-checkout-footer>