<div class="web auto-flex-center-space-between-no-gap padding-none">

    <div class="auto-flex-center-gap30-column-no-set-width width-50Percent max-height padding-40 min-height-100vh">

        <a class="auto-flex-center-start-gap20 width-max-550 padding-20" (click)="naviagteToHome()">

            <img class="xxxsmallImg" src="assets/images/web/icons/back_arrow.svg" >
            <p class="xsmall bold web-font-primary-light capitalize cursor-pointer">{{ 'auth.backToHome' | translate }}</p>

        </a>

        <div class="auto-flex-start-gap20-column width-max-550 padding-20">

            <h3 class="xxlarge bold" style="text-align: start;">{{ 'auth.loginTitle' | translate }}</h3>
            <p class="web-font-primary-light">{{ 'auth.loginDesc' | translate }}</p>
    
            <form class="auto-flex-start-gap10" [formGroup]="credentialsForm" (ngSubmit)="login()">
            
                <div class="auto-flex-start-gap10-column web-font-primary-light">
        
                    <p class="xsmall bold">{{ 'inputFields.mobileNumber' | translate }}</p>
                    <input class="input-global" type="tel" formControlName="mobileNumber" placeholder="966 XX XXXXXXXXX" />
                    <p *ngIf="credentialsForm.get('mobileNumber').hasError('invalidMobile')" class="xsmall red-color">{{ 'inputFields.validMobile' | translate }}</p>

                </div>
        
                <div class="auto-flex-start-gap10-column web-font-primary-light">
        
                    <p class="xsmall bold">{{ 'inputFields.password' | translate }}</p>
                    <input class="input-global" type="password" formControlName="password" placeholder="{{ 'inputFields.password_placeholder' | translate }}" />
                    <p *ngIf="credentialsForm.get('password').hasError('invalidPassword')" class="xsmall red-color">{{ 'inputFields.validPassword' | translate }}</p>

                </div>
        
                <div class="auto-flex-center-start-gap10">
                
                    <input class="input-global width-auto" type="checkbox" id="rememberMe" />
                    <label for="rememberMe" class="xsmall bold web-font-primary-light margin-bottom-0 cursor-pointer">{{ 'auth.keepMe' | translate }}</label>
        
                </div>
        
                <button class="primary-bg padding-10 max-width capitalize box-shadow">{{ 'auth.login' | translate }}</button>

                <p class="text-center xsmall red-color max-width" *ngIf="credentialsError">{{ 'auth.loginError' | translate }}</p>
            
            </form>
            
            <div class="auto-flex-start-center-gap10">
                
                <a (click)="naviagateToForgetPassword()" class="xsmall bold blue-color cursor-pointer">{{ 'auth.forgotPassword' | translate }}</a>
            
            </div>
           
             <div class="auto-flex-start-center-gap10">
    
                <p class="xsmall bold web-font-primary-light">{{ 'auth.dontHaveAccount' | translate }}</p>
                <a (click)="naviagateToRegister()" class="xsmall bold blue-color cursor-pointer">{{ 'auth.signUp' | translate }}</a>
    
            </div>

        </div>

    </div>

    <div class="auto-flex-center-gap20-column-no-set-width primary-bg width-50Percent border-radius-0 height-100vh border-none padding-40 direction-reverse">

        <img class="xxxlargeImg-350" src="assets/images/web/login.svg" />

        <div class="auto-flex-start-gap10-column">

            <h3 class="large bold secondary-color" style="text-align: start;">{{ 'auth.loginMessage' | translate }}</h3>
            <p class="width-max-500">{{ 'auth.loginMessageDesc' | translate }}</p>
    
        </div>

    </div>

</div>

<!--<div class="web auto-flex-center-space-between-no-gap padding-none direction-reverse">

    <div class="auto-flex-center-gap20-column-no-set-width width-50Percent max-height padding-40 min-height-100vh">

        <div class="auto-flex-start-gap20-column width-max-550 padding-20">

            <h3 class="xxlarge bold">Login</h3>
            <p class="web-font-primary-light">Sign in with your data that you entered during your registration.</p>
    
            <form class="auto-flex-start-gap10" [formGroup]="credentialsForm" (ngSubmit)="login()">
            
            -- login input fields --
                <div class="auto-flex-start-gap10-column web-font-primary-light">
        
                    <p class="xsmall bold">Mobile number</p>
                    <input class="input-global" type="email" formControlName="email" placeholder="name@example.com" />
                    <p *ngIf="credentialsForm.get('email').hasError('invalidEmail')" class="xsmall red-color">Enter valid email</p>

                </div>
        
                <div class="auto-flex-start-gap10-column web-font-primary-light">
        
                    <p class="xsmall bold">Password</p>
                    <input class="input-global" type="password" formControlName="password" placeholder="min. 8 characters" />
                    <p *ngIf="credentialsForm.get('password').hasError('invalidPassword')" class="xsmall red-color">Password is required</p>

                </div>
        
                -- remember me --
                <div class="auto-flex-center-start-gap10">
                
                    <input class="input-global width-auto" type="checkbox" (change)="rememberMe = !rememberMe" />
                    <p class="xsmall bold web-font-primary-light">Keep me logged in</p>
        
                </div>
        
                -- login button --
                <button class="primary-bg padding-10 max-width capitalize box-shadow">login</button>

                <p class="text-center xsmall red-color max-width" *ngIf="credentialsError">Authentication failed. Try again</p>
            
            </form>
            
            -- forgot password --
            <div class="auto-flex-start-center-gap10">
                
                <p class="xsmall bold blue-color">Forgot password</p>
            
            </div>
    
            -- sign up --
             -- remember me --
             <div class="auto-flex-start-center-gap10">
    
                <p class="xsmall bold web-font-primary-light">Don’t have an account?</p>
                <p class="xsmall bold blue-color">Sign up</p>
    
            </div>

        </div>

    </div>

    <div class="auto-flex-center-gap20-column-no-set-width primary-bg width-50Percent border-radius-0 height-100vh border-none padding-40 direction-reverse">

        <img class="xxxlargeImg-350" src="assets/images/web/auth/login_illustration.svg" />

        <div class="auto-flex-center-gap10-column">

            <h3 class="large bold secondary-color">Sales Headline</h3>
            <p class="text-center width-max-500">Lorem ipsum dolor sit amet, magna scaevola his ei. Cum te paulo probatus molestiae, eirmod assentior eum ne, et omnis antiopam mel.</p>
    
        </div>

    </div>

</div>
-->