<div class="web auto-flex-start-gap40-column main-div padding-top-40">

    <hr class="hr-black">
    <div class="auto-flex-start-space-between-gap20 white-bg padding-10 padding-left-right-30">

        <a href="https://www.taibsa.com/" target="_blank">
            <img class="xmedImg" src="assets/images/web/logo.svg" />
        </a>

        <div class="auto-flex-start-gap10-column-no-set-width phone-max-width">

            <p class="bold">Navigation</p>
            <a class="xsmall web-font-primary bold" href="www.taibsa.com" target="_blank">Home</a>
            <a class="xsmall web-font-primary bold" href="/medical-services">Services</a>
            <a class="xsmall web-font-primary bold" href="https://www.taibsa.com/blog" target="_blank">Blog</a>
            <a class="xsmall web-font-primary bold" href="https://www.taibsa.com/medical-calculator" target="_blank">Calculator</a>
            <a class="xsmall web-font-primary bold" href="https://www.taibsa.com/contact" target="_blank">Contact</a>

        </div>

        <div class="auto-flex-start-center-gap20-column-no-set-width phone-max-width phone-start">

            <div class="auto-flex-start-gap10-column-no-set-width">

                <a href="https://app.adjust.com/dqbwu8c" target="_blank">
                    <img class="largeImg" src="assets/images/web/icons/apple.svg" style="height:auto"/>
                </a>

                <a href="https://app.adjust.com/dqbwu8c" target="_blank">
                    <img class="largeImg" src="assets/images/web/icons/google.svg" style="height:auto" />
                </a>

            </div>

            <div class="auto-flex-center-gap10-no-set-width">

                <a href="https://www.instagram.com/taibhmc/" target="_blank">
                    <img class="xsmallImg" src="assets/images/web/icons/instagram.svg" />
                </a>
    
                <a href="https://twitter.com/taibhmc" target="_blank">
                    <img class="xsmallImg" src="assets/images/web/icons/twitter.svg" />
                </a>
    
                <a href="https://www.youtube.com/channel/UCOnOhnaxmnQI-UiTYOq68iQ" target="_blank">
                    <img class="xsmallImg" src="assets/images/web/icons/facebook.svg" />
                </a>

            </div>
          
        </div>

    </div>

</div>