<div class="web auto-flex-start-gap40-column main-div padding-top-40 padding-bottom-20">

    <hr class="hr-black">
    <div class="auto-flex-center-gap10 white-bg padding-10 padding-left-right-30">

        <div class="auto-flex-start-space-between-gap20" style="max-width: 1200px;">
        
            <div class="auto-flex-start-space-between-gap20 max-width width-max-500">

                <div class="auto-flex-start-gap10-column-no-set-width phone-max-width">

                    <a (click)="navigate('/')" class="mobile">
                        <img class="xmedImg" src="assets/images/web/logo.svg" />
                    </a>

                    <p class="bold">Navigation</p>
                    <a class="xsmall web-font-primary bold" (click)="navigate('/')">Home</a>
                    <a class="xsmall web-font-primary-light" href="https://www.taibsa.com/blog">Blog</a>
                    <a class="xsmall web-font-primary-light" href="https://www.taibsa.com/contact">Contact</a>
    
                    <a (click)="navigate('/')" class="desktop cursor-pointer">
                        <img class="xmedImg" src="assets/images/web/logo.svg" />
                    </a>
        
                </div>
        
                <div class="auto-flex-start-gap10-column-no-set-width phone-max-width">
        
                    <p class="bold">Tools</p>
                    <a class="xsmall web-font-primary-light" href="https://www.taibsa.com/medical-calculator">Calculator</a>
        
                </div>
        
                <div class="auto-flex-start-gap10-column-no-set-width phone-max-width">
        
                    <p class="bold">Policies</p>
                    <a class="xsmall web-font-primary-light" href="https://www.taibsa.com/terms-conditions">Terms and conditions</a>
                    <a class="xsmall web-font-primary-light" href="https://www.taibsa.com/privacy-policy" >Privacy policy</a>
        
                </div>


        </div>


      

        <div class="auto-flex-start-center-gap20-column-no-set-width phone-max-width phone-start">

            <div class="auto-flex-start-gap10-column-no-set-width">

                <a href="https://app.adjust.com/dqbwu8c" target="_blank">
                    <img class="largeImg" src="assets/images/web/icons/apple.svg" style="height:auto"/>
                </a>

                <a href="https://app.adjust.com/dqbwu8c" target="_blank">
                    <img class="largeImg" src="assets/images/web/icons/google.svg" style="height:auto" />
                </a>

            </div>

            <div class="auto-flex-center-gap10-no-set-width">

                <a href="https://www.instagram.com/taibhmc/" target="_blank">
                    <img class="xsmallImg" src="assets/images/web/icons/instagram.svg" />
                </a>
    
                <a href="https://twitter.com/taibhmc" target="_blank">
                    <img class="xsmallImg" src="assets/images/web/icons/twitter.svg" />
                </a>
    
                <a href="https://www.youtube.com/channel/UCOnOhnaxmnQI-UiTYOq68iQ" target="_blank">
                    <img class="xsmallImg" src="assets/images/web/icons/facebook.svg" />
                </a>

            </div>
          
        </div>

        </div>

        <div class="auto-flex-center-gap10-column">

            <p class="xsmall web-font-primary-light">Prince Majid Road, Al Rabwah, Jeddah 23449, Kingdom of Saudi Arabia</p>
            <p class="xsmall web-font-primary-light">966920033271</p>

        </div>

</div>