
<div id="app">
         <section class="el-container">
            <div>
               <menu class="menu-bar">
                  <a href="javascript:void(0);" class="toggle-menu">
                     <div class="inactive"><span class="bar bar1"></span><span class="bar"></span><span class="bar bar3"></span></div>
                  </a>
                  <a href="dashboard" class="logo"><img src="assets/images/Taib_logo_Trans.png" width="50%"></a>
               </menu>

               <app-sidebar></app-sidebar>

            </div>
            <main class="el-main dashboard">
               <app-header></app-header>
               <div class="el-card is-always-shadow">
                  <!---->
                  <div class="el-card__body">
                     <form class="el-form login-changpass" [formGroup]="typeValidationForm">
                        <h2 class="m-b30">Change Password</h2>
                        <div class="el-form-item is-required">
                           <!---->
                           <div class="el-form-item__content">
                              <div class="el-input el-input--suffix">
                                 <!----><input type="password" autocomplete="off" placeholder="Old Password" formControlName="oldPassword" class="el-input__inner"><!---->
                                 <span class="el-input__suffix">
                                    <span class="el-input__suffix-inner">
                                       <i class="el-input__icon  icon-lock"></i><!----><!----><!---->
                                    </span>
                                    <!---->
                                 </span>
                                 <!----><!---->
                              </div>
                              <!---->
                           </div>
                        </div>
                        <div class="el-form-item">
                           <!---->
                           <div class="el-form-item__content">
                              <div class="el-input el-input--suffix">
                                 <!----><input type="password" autocomplete="off" placeholder="New Password" formControlName="newPassword" class="el-input__inner"><!---->
                                 <span class="el-input__suffix">
                                    <span class="el-input__suffix-inner">
                                       <i class="el-input__icon icon-lock"></i><!----><!----><!---->
                                    </span>
                                    <!---->
                                 </span>
                                 <!----><!---->
                              </div>
                              <!---->
                           </div>
                        </div>
                        <div class="el-form-item">
                           <!---->
                           <div class="el-form-item__content">
                              <div class="el-input el-input--suffix">
                                 <!----><input type="password" autocomplete="off" placeholder="Confirm New Password" formControlName="confNewPassword" class="el-input__inner"><!---->
                                 <span class="el-input__suffix">
                                    <span class="el-input__suffix-inner">
                                       <i class="el-input__icon icon-lock"></i><!----><!----><!---->
                                    </span>
                                    <!---->
                                 </span>
                                 <!----><!---->
                              </div>
                              <!---->
                           </div>
                        </div>
                        <button type="button" class="el-button btn-block el-button--primary el-button--large" [disabled]="!this.typeValidationForm.valid">
                           <!----><!----><span>Update Password</span>
                        </button>
                     </form>
                  </div>
               </div>
            </main>
         </section>
      </div>
      <script async="" defer="defer" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA-EXDwh2adbELTFKlDgn3RXMP648GC12s&amp;sensor=false&amp;libraries=places"></script><script type="text/javascript" src="static/js/manifest.787d0d92fd70cf16874e.js"></script><script type="text/javascript" src="static/js/vendor.6f6ef6bc866762bf29a6.js"></script><script type="text/javascript" src="static/js/app.a27789e3d261f525a01a.js"></script>
      <div class="progress" style="width: 0%; height: 2px; background-color: rgb(122, 195, 254); opacity: 0;"></div>
     