<app-checkout-header></app-checkout-header>

   <!-- Category header -->
   <div class="web auto-flex-center-start-gap20 cursor-pointer border-none"  *ngIf="currentCategory && currentCategory.title.length>0">

    <div class="auto-flex-center-start-gap20 lightest-blue-bg border-none" style="border-radius: 0px;">

        <img class="xmedImg white-bg border-radius-20 padding-5 phone-60" src="{{serverUrl}}{{currentCategory.icon}}" />
        <p class="large bold">{{ currentCategory.title }}</p>

    </div>

</div>

<div class="web auto-flex-start-gap30-column main-div-max padding-top-20" *ngIf="currentCategory && currentCategory.title.length>0"  style="padding: 20px;">

    <!--tabs-->
    <div class="auto-flex-start-gap10">

        <!--
        <mat-tab-group mat-align-tabs="start">

            <mat-tab label="Popular">
            
                <div class="auto-flex-start-gap30-column padding-20">
                    
                    <p class="xmed bold">Top services</p>

                    <div class="auto-flex-start-center-gap20-no-wrap overflow-auto padding-bottom-20">

                        <div class="auto-flex-center-gap20-column-no-set-width gray-border border-radius-20 cursor-pointer padding-none width-max-350 relative">
            
                            <p class="absolute-top-left-10 xsmall primary-bg padding-5 padding-left-right-10  border-none">200 SAR</p>
            
                            <img class="xxlargeImg-350 height-160 cover border-top-left-right-10" src="assets/images/web/img.svg">
            
                            <div class="auto-flex-start-gap10-column-no-set-width padding-left-right-10">
            
                                <p class="med bold capitalize">Service name</p>
                                <p class="web-font-primary-light">Lorem ipsum dolor sit amet tetur adip iscing elit.</p>
            
                            </div>
            
                            <div class="auto-flex-end-gap10">
            
                                <button class="primary-bg padding-10 capitalize box-shadow border-none border-top-left-bottom-left-0 border-top-right-0 padding-left-right-30 xsmall">view more</button>
            
                            </div>
            
                        </div>
            
                        <div class="auto-flex-center-gap20-column-no-set-width gray-border border-radius-20 cursor-pointer padding-none width-max-350 relative">
            
                            <p class="absolute-top-left-10 xsmall primary-bg padding-5 padding-left-right-10  border-none">200 SAR</p>
            
                            <img class="xxlargeImg-350 height-160 cover border-top-left-right-10" src="assets/images/web/img.svg">
            
                            <div class="auto-flex-start-gap10-column-no-set-width padding-left-right-10">
            
                                <p class="med bold capitalize">Service name</p>
                                <p class="web-font-primary-light">Lorem ipsum dolor sit amet tetur adip iscing elit.</p>
            
                            </div>
            
                            <div class="auto-flex-end-gap10">
            
                                <button class="primary-bg padding-10 capitalize box-shadow border-none border-top-left-bottom-left-0 border-top-right-0 padding-left-right-30 xsmall">view more</button>
            
                            </div>
            
                        </div>
            
                        <div class="auto-flex-center-gap20-column-no-set-width gray-border border-radius-20 cursor-pointer padding-none width-max-350 relative">
            
                            <p class="absolute-top-left-10 xsmall primary-bg padding-5 padding-left-right-10  border-none">200 SAR</p>
            
                            <img class="xxlargeImg-350 height-160 cover border-top-left-right-10" src="assets/images/web/img.svg">
            
                            <div class="auto-flex-start-gap10-column-no-set-width padding-left-right-10">
            
                                <p class="med bold capitalize">Service name</p>
                                <p class="web-font-primary-light">Lorem ipsum dolor sit amet tetur adip iscing elit.</p>
            
                            </div>
            
                            <div class="auto-flex-end-gap10">
            
                                <button class="primary-bg padding-10 capitalize box-shadow border-none border-top-left-bottom-left-0 border-top-right-0 padding-left-right-30 xsmall">view more</button>
            
                            </div>
            
                        </div>
            
                        <div class="auto-flex-center-gap20-column-no-set-width gray-border border-radius-20 cursor-pointer padding-none width-max-350 relative">
            
                            <p class="absolute-top-left-10 xsmall primary-bg padding-5 padding-left-right-10  border-none">200 SAR</p>
            
                            <img class="xxlargeImg-350 height-160 cover border-top-left-right-10" src="assets/images/web/img.svg">
            
                            <div class="auto-flex-start-gap10-column-no-set-width padding-left-right-10">
            
                                <p class="med bold capitalize">Service name</p>
                                <p class="web-font-primary-light">Lorem ipsum dolor sit amet tetur adip iscing elit.</p>
            
                            </div>
            
                            <div class="auto-flex-end-gap10">
            
                                <button class="primary-bg padding-10 capitalize box-shadow border-none border-top-left-bottom-left-0 border-top-right-0 padding-left-right-30 xsmall">view more</button>
            
                            </div>
            
                        </div>
            
                        <div class="auto-flex-center-gap20-column-no-set-width gray-border border-radius-20 cursor-pointer padding-none width-max-350 relative">
            
                            <p class="absolute-top-left-10 xsmall primary-bg padding-5 padding-left-right-10  border-none">200 SAR</p>
            
                            <img class="xxlargeImg-350 height-160 cover border-top-left-right-10" src="assets/images/web/img.svg">
            
                            <div class="auto-flex-start-gap10-column-no-set-width padding-left-right-10">
            
                                <p class="med bold capitalize">Service name</p>
                                <p class="web-font-primary-light">Lorem ipsum dolor sit amet tetur adip iscing elit.</p>
            
                            </div>
            
                            <div class="auto-flex-end-gap10">
            
                                <button class="primary-bg padding-10 capitalize box-shadow border-none border-top-left-bottom-left-0 border-top-right-0 padding-left-right-30 xsmall">view more</button>
            
                            </div>
            
                        </div>
            
                        <div class="auto-flex-center-gap20-column-no-set-width gray-border border-radius-20 cursor-pointer padding-none width-max-350 relative">
            
                            <p class="absolute-top-left-10 xsmall primary-bg padding-5 padding-left-right-10  border-none">200 SAR</p>
            
                            <img class="xxlargeImg-350 height-160 cover border-top-left-right-10" src="assets/images/web/img.svg">
            
                            <div class="auto-flex-start-gap10-column-no-set-width padding-left-right-10">
            
                                <p class="med bold capitalize">Service name</p>
                                <p class="web-font-primary-light">Lorem ipsum dolor sit amet tetur adip iscing elit.</p>
            
                            </div>
            
                            <div class="auto-flex-end-gap10">
            
                                <button class="primary-bg padding-10 capitalize box-shadow border-none border-top-left-bottom-left-0 border-top-right-0 padding-left-right-30 xsmall">view more</button>
            
                            </div>
            
                        </div>
            
                        <div class="auto-flex-center-gap20-column-no-set-width">
            
                            <img class="smallImg" src="assets/images/web/icons/plus.svg" />
                            <p class="xsmall bold lowercase text-center">show more</p>
            
                        </div>
            
                    </div>

                    <p class="xmed bold">Subcat</p>

                    <div class="auto-flex-center-space-between-gap20">

                        <div class="auto-flex-center-start-gap20-no-set-width gray-border border-radius-10 padding-10 relative width-half">

                            <img class="xxxmedImg cover border-radius-10" src="assets/images/web/example.svg" />
        
                            <div class="auto-flex-start-gap10-column-no-set-width">
        
                                <p>Service name</p>
                                <p class="bold">200 SAR</p>
                                <button class="white-bg padding-10 padding-left-right-30 blue-color blue-border">View service</button>
                            </div>
                
                        </div>

                        <div class="auto-flex-center-start-gap20-no-set-width gray-border border-radius-10 padding-10 relative width-half">

                            <img class="xxxmedImg cover border-radius-10" src="assets/images/web/example.svg" />
        
                            <div class="auto-flex-start-gap10-column-no-set-width">
        
                                <p>Service name</p>
                                <p class="bold">200 SAR</p>
                                <button class="white-bg padding-10 padding-left-right-30 blue-color blue-border">View service</button>
                            </div>
                
                        </div>

                        <div class="auto-flex-center-start-gap20-no-set-width gray-border border-radius-10 padding-10 relative width-half">

                            <img class="xxxmedImg cover border-radius-10" src="assets/images/web/example.svg" />
        
                            <div class="auto-flex-start-gap10-column-no-set-width">
        
                                <p>Service name</p>
                                <p class="bold">200 SAR</p>
                                <button class="white-bg padding-10 padding-left-right-30 blue-color blue-border">View service</button>
                            </div>
                
                        </div>

                        <div class="auto-flex-center-start-gap20-no-set-width gray-border border-radius-10 padding-10 relative width-half">

                            <img class="xxxmedImg cover border-radius-10" src="assets/images/web/example.svg" />
        
                            <div class="auto-flex-start-gap10-column-no-set-width">
        
                                <p>Service name</p>
                                <p class="bold">200 SAR</p>
                                <button class="white-bg padding-10 padding-left-right-30 blue-color blue-border">View service</button>
                            </div>
                
                        </div>
            
                    </div>
                    
                </div>  
            
            </mat-tab>

            <mat-tab label="Subcat">
            
                <div class="auto-flex-start-gap20-column padding-20">
                    Content 1 
                </div>  
            
            </mat-tab>

            <mat-tab label="Subcat">
            
                <div class="auto-flex-start-gap20-column padding-20">
                    Content 1 
                </div>  
            
            </mat-tab>

            <mat-tab label="Subcat">
            
                <div class="auto-flex-start-gap20-column padding-20">
                    Content 1 
                </div>  
            
            </mat-tab>

            <mat-tab label="Subcat">
            
                <div class="auto-flex-start-gap20-column padding-20">
                    Content 1 
                </div>  
            
            </mat-tab>

            <mat-tab label="Subcat">
            
                <div class="auto-flex-start-gap20-column padding-20">
                    Content 1 
                </div>  
            
            </mat-tab>

            <mat-tab label="Subcat">
            
                <div class="auto-flex-start-gap20-column padding-20">
                    Content 1 
                </div>  
            
            </mat-tab>

            <mat-tab label="Subcat">
            
                <div class="auto-flex-start-gap20-column padding-20">
                    Content 1 
                </div>  
            
            </mat-tab>




        </mat-tab-group>
        -->

        <div class="auto-flex-start-gap30-column padding-none">
                    
            <div class="auto-flex-center-space-between-gap20 padding-bottom-20 place-stretch phone-scroll scroll-bar-gray">

                <div class="auto-flex-start-gap20-column-no-set-width gray-border border-radius-20 cursor-pointer padding-none width-half phone-300 relative" (click)="navigateToService(service.id)" *ngFor="let service of topServices; let serviceIndex = index">
    
                    <p class="absolute-top-left-10 xsmall primary-bg padding-5 padding-left-right-10 border-none z-index">{{ service.price }} SAR</p>
    
                    <div class="linear-gradient-blue absolute height-200 border-top-left-right-10"></div>
                    <img class="xxxlargeImg-500 height-200 cover border-top-left-right-10 max-width" style="width: 100%;" src="{{serverUrl}}{{service.cover_image}}">
    
                    <div class="auto-flex-start-gap10-column-no-set-width padding-left-right-10">
    
                        <p class="med bold capitalize">{{ service.title }}</p>
                        <p class="web-font-primary-light">{{ service.description | slice:0:90 }}...</p>
    
                    </div>
    
                    <div class="auto-flex-end-gap10">

                        <button class="primary-bg padding-10 capitalize box-shadow border-none border-top-left-bottom-left-0 border-top-right-0 padding-left-right-30 padding-top-bottom-5 xsmall">view more</button>
    
                    </div>
    
                </div>
                
            </div>

            <div class="auto-flex-center-space-between-gap20">

                <div class="auto-flex-center-start-gap20-no-set-width gray-border border-radius-10 padding-10 relative width-half" *ngFor="let service of allServices.slice(0, itemsToShowInitially); let serviceIndex = index">

                    <img class="xxxmedImg cover border-radius-10" *ngIf="service.icon && service.icon.length>0" src="{{serverUrl}}{{service.icon}}" />
                    <img class="xxxmedImg cover border-radius-10" *ngIf="!service.icon || service.icon.length<=0" style="object-fit: fill;" src="assets/images/web/logo.svg" />

                    <div class="auto-flex-start-gap10-column-no-set-width">

                        <p class="width-max-300">{{ service.title }}</p>
                        <p class="bold">{{ service.price }} SAR</p>
                        <button class="white-bg padding-10 padding-left-right-30 blue-color blue-border" (click)="navigateToService(service.id)">View service</button>
                    </div>
        
                </div>
    
            </div>
            
            <div class="auto-flex-center-gap20">

                <button class="primary-bg padding-10 capitalize box-shadow xsmall width-max-300 max-width" *ngIf="allServices.length>10 && itemsToShowInitially<allServices.length" (click)="loadMoreItems()">Load More</button>

            </div>

        </div>  

    </div>

</div>

<app-checkout-footer></app-checkout-footer>