<aside class="el-aside side-menu" style="width: 130px;">
      <div class="el-scrollbar">
            <div class="scrollbar-wrapper el-scrollbar__wrap" style="margin-bottom: -17px; margin-right: -17px;">
                  <div class="el-scrollbar__view">
                       <div class="onlyadmin dclass">
                              <a><img src="assets/images/taib-logo.png" style="width: 60px;"></a>
                        <a routerLink="/dashboard" [routerLinkActive]="['active']" class="router-link-exact-active"
                              content="Dashboard"><i class="el-tooltip icon-dashboard item item"
                                    aria-describedby="el-tooltip-5426" tabindex="0"></i><span class="custom_nav_title">Dashboard</span></a>

                        <a routerLink="/nurse" [routerLinkActive]="['active']" id="nav_users"><i
                                    class="el-tooltip item icon-emplyee" aria-describedby="el-tooltip-9709"
                                    tabindex="0"></i> <span class="custom_nav_title">Employee</span></a>

                        <a routerLink="/patientlist" [routerLinkActive]="['active']" class="" id="nav_patientlist"><i
                                    class="el-tooltip item icon-patients-status" aria-describedby="el-tooltip-4409"
                                    tabindex="0"></i><span class="custom_nav_title">Patient</span></a>

                        <a routerLink="/appointments" [routerLinkActive]="['active']" class="" id="nav_appointment"><i
                                    class="el-tooltip item icon-calendar3" aria-describedby="el-tooltip-1718"
                                    tabindex="0"></i> <span class="custom_nav_title">Service Request</span></a>

                        <a routerLink="/lab-dashboard1" [routerLinkActive]="['active']" id="nav_bill" class=""><i
                                    class="el-tooltip item icon-lab-tech" aria-describedby="el-tooltip-7635"
                                    tabindex="0"></i> <span class="custom_nav_title">Labs</span></a>

                        <!-- <a routerLink="../add" [routerLinkActive]="['active']" class="" id="nav_role"><i class="el-tooltip item icon-manager" aria-describedby="el-tooltip-9627" tabindex="0"></i> <span class="custom_nav_title">Role Management</span></a> -->
                        <a routerLink="/nurse-packagelist" [routerLinkActive]="['active']" class="" id="nav_nurse"><i
                                    class="el-tooltip item icon-package" aria-describedby="el-tooltip-8991"
                                    tabindex="0"></i> <span class="custom_nav_title">Services</span></a>
                        <!-- <a routerLink="../department" [routerLinkActive]="['active']" class="" class="" id="nav_department"><i class="el-tooltip item icon-king" aria-describedby="el-tooltip-6854" tabindex="0"></i> <span class="custom_nav_title">Master</span></a> -->
                        <a routerLink="/departments" [routerLinkActive]="['active']" class="" id="nav_services"><i
                                    class="el-tooltip item icon-checklist" aria-describedby="el-tooltip-5629"
                                    tabindex="0"></i> <span class="custom_nav_title">Department</span></a>
                        <a routerLink="/gifts-promotion" [routerLinkActive]="['active']" class=""
                                    id="nav_settings"><i class="el-tooltip item icon-gift"
                                          aria-describedby="el-tooltip-3636" tabindex="0"></i> <span class="custom_nav_title">Gifts & Promotions</span></a>
                        <a routerLink="/employers" [routerLinkActive]="['active']" class=""
                                          id="nav_employee_check"><i class="el-tooltip item icon-user-group"
                                                aria-describedby="el-tooltip-3636" tabindex="0"></i> <span class="custom_nav_title">Employee Check</span></a>
                        <a routerLink="/result-reading" [routerLinkActive]="['active']" class=""
                                                id="nav_settings"><i class="el-tooltip item icon-attachment"
                                                      aria-describedby="el-tooltip-3636" tabindex="0"></i> <span class="custom_nav_title">Results Reading</span></a>
                        <a routerLink="/notification" [routerLinkActive]="['active']" class="" id="nav_settings"><i class="el-tooltip item icon-departments"
                                                            aria-describedby="el-tooltip-3636" tabindex="0"></i> <span class="custom_nav_title">Notifications</span></a>
                        <a routerLink="/programs" [routerLinkActive]="['active']" class="" id="nav_settings"><i class="el-tooltip item icon-film" 
                                                            aria-describedby="el-tooltip-3636" tabindex="0"></i> <span class="custom_nav_title">Programs</span></a>
                        <!-- <a routerLink="../insurance-list" [routerLinkActive]="['active']" class="" id="nav_issurance"><i class="el-tooltip item icon-files"
                                                            aria-describedby="el-tooltip-3636" tabindex="0"></i> <span class="custom_nav_title">Insurance</span></a> -->
                        <a routerLink="/application-setting" [routerLinkActive]="['active']" class="" id="nav_settings"><i class="el-tooltip item icon-settings"
                                    aria-describedby="el-tooltip-3636" tabindex="0"></i> <span class="custom_nav_title">Settings</span></a>
                        <a routerLink="/reports-list" [routerLinkActive]="['active']" class="" id="nav_settings"><i class="el-tooltip item icon-files"
                                          aria-describedby="el-tooltip-3636" tabindex="0"></i> <span class="custom_nav_title">Reports</span></a>

                              </div>


                  <div class="onlylabmenu dclass">
                        <a><img src="assets/images/taib-logo.png" style="width: 60px;"></a>            
                        <a routerLink="/labdashboard" [routerLinkActive]="['active']" class="router-link-exact-active" content="Dashboard"><i class="el-tooltip icon-dashboard item item" aria-describedby="el-tooltip-5426" tabindex="0"></i><span class="custom_nav_title">Dashboard</span></a>
      
                        <a routerLink="/labemployee" [routerLinkActive]="['active']" id="nav_users"><i class="el-tooltip item icon-emplyee" aria-describedby="el-tooltip-9709" tabindex="0"></i> <span class="custom_nav_title">Employee</span></a>                              
      
                        <a routerLink="/lab-appointments" [routerLinkActive]="['active']" class="" id="nav_appointment"><i class="el-tooltip item icon-calendar3" aria-describedby="el-tooltip-1718" tabindex="0"></i> <span class="custom_nav_title">Appointments</span></a>
      
                        <a routerLink="/lab-package-list" [routerLinkActive]="['active']" id="nav_bill" class=""><i class="el-tooltip item icon-lab-tech" aria-describedby="el-tooltip-7635" tabindex="0"></i> <span class="custom_nav_title">Services</span></a>

                        <a routerLink="/lab-employers-check" [routerLinkActive]="['active']" class=""
                                          id="nav_employee_check"><i class="el-tooltip item icon-user-group"
                                                aria-describedby="el-tooltip-3636" tabindex="0"></i> <span class="custom_nav_title">Employee Check</span></a>
                                   
                        <a routerLink="/lab-settings" [routerLinkActive]="['active']" class="" id="nav_nurse"><i class="el-tooltip item icon-package" aria-describedby="el-tooltip-8991" tabindex="0"></i> <span class="custom_nav_title">Settings</span></a>
                             
                  </div>
                  </div>


                  
                  
            </div>
            <div class="el-scrollbar__bar is-horizontal">
                  <div class="el-scrollbar__thumb" style="transform: translateX(0%);"></div>
            </div>
            <div class="el-scrollbar__bar is-vertical">
                  <div class="el-scrollbar__thumb" style="height: 39.2655%; transform: translateY(0%);"></div>
            </div>
      </div>
</aside>