<div id="app">
  <section class="el-container">
    <div>
      <menu class="menu-bar lab-hide">
        <a routerLink="javascript:void(0);" class="toggle-menu">
          <div class="inactive"><span class="bar bar1"></span><span class="bar"></span><span class="bar bar3"></span></div>
        </a>
        <a routerLink="dashboard" class="logo"><img src="assets/images/Taib_logo_Trans.png" width="50%" /></a>
      </menu>
      <app-sidebar class="lab-hide"></app-sidebar>
      <div [hidden]="accessLevel!=1">
        <app-submenu></app-submenu>
      </div>
      <nav class="nav-bar-none"></nav>
    </div>
    <main class="el-main" [ngClass]="(accessLevel!=1) ? 'dashboard' : ''">
      <app-header></app-header>


      <div class="row mb-3">
        <div class="col-md-11 col-lg-9 col-xl-7">
          <h3 class="mb-3">Search Patient</h3>
          <div class="d-flex align-items-center">
            <div class="flex-grow-1 pr-2">
              <input (keyup.enter)="onSearchPatient( searchInput.value )" type="search" #searchInput class="form-control theme-control" placeholder="Enter Mobile Number or NID" />
            </div>
            <div>
              <button type="button" (click)="onSearchPatient( searchInput.value )" class="btn btn-theme save"><i class="icon-search"></i> Find</button>
              <button type="button" (click)="isAddingPatient = true" class="btn btn-theme save ml-2"><i class="icon-plus"></i> Add Patient</button>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 mb-3" *ngIf="selection.confirmed == false">
          <form [formGroup]="patientForm" (ngSubmit)="onCreatePatient()">
            <div class="table-responsive" [hidden]="patientList.length==0 && isAddingPatient == false">
              <table class="table align-middle" [ngClass]="(patientList.length > 0) ? 'table-hover' : ( ( isAddingPatient ) ? 'table-bordered' : '' )">
                <thead>
                  <tr *ngIf="isAddingPatient">
                    <td colspan="6"><h4 class="m-0">Add New Patient</h4></td>
                  </tr>
                  <tr>
                    <th>Patient Name <ng-container *ngIf="isAddingPatient"><sup class="text-danger">*</sup></ng-container></th>
                    <th>Gender <ng-container *ngIf="isAddingPatient"><sup class="text-danger">*</sup></ng-container></th>
                    <th>Mobile <ng-container *ngIf="isAddingPatient"><sup class="text-danger">*</sup></ng-container></th>
                    <th>Email ID <ng-container *ngIf="isAddingPatient">(Optional)</ng-container></th>
                    <th>National ID <ng-container *ngIf="isAddingPatient"><sup class="text-danger">*</sup></ng-container></th>
                    <th>Date of Birth <ng-container *ngIf="isAddingPatient"><sup class="text-danger">*</sup></ng-container></th>
                  </tr>
                </thead>
                <tbody>
                  <ng-container *ngIf="patientList.length > 0">
                    <tr class="selectable" *ngFor="let patient of patientList" (click)="onSelectPatient(patient)">
                      <td>{{ patient.firstName }} {{ patient.lastName }}</td>
                      <td>{{ patient.gender }}</td>
                      <td>{{ patient.mobileNumber }}</td>
                      <td>{{ patient.emailId }}</td>
                      <td>{{ patient.nationalId }}</td>
                      <td>{{ patient.dob }}</td>
                    </tr>
                  </ng-container>
                  <ng-container *ngIf="isAddingPatient">
                    <tr>
                      <td>
                        <input formControlName="firstName" type="text" class="form-control" placeholder="First Name">
                        <ng-container *ngIf="patientForm.get('firstName').errors && (patientForm.get('firstName')?.dirty || patientForm.get('firstName')?.touched)">
                          <small class="m-0 text-danger" *ngIf="patientForm.get('firstName').hasError('required')">This field is required</small>
                        </ng-container>
                        <input formControlName="lastName" type="text" class="form-control mt-2" placeholder="Last Name">
                        <ng-container *ngIf="patientForm.get('lastName').errors && (patientForm.get('lastName')?.dirty || patientForm.get('lastName')?.touched)">
                          <small class="m-0 text-danger" *ngIf="patientForm.get('lastName').hasError('required')">This field is required</small>
                        </ng-container>
                      </td>
                      <td>
                        <select class="form-control" formControlName="gender">
                          <option value="1">Male</option>
                          <option value="0">Female</option>
                        </select>
                      </td>
                      <td>
                        <input formControlName="mobileNumber" type="tel" class="form-control" placeholder="Mobile">
                        <ng-container *ngIf="patientForm.get('mobileNumber').errors && (patientForm.get('mobileNumber')?.dirty || patientForm.get('mobileNumber')?.touched)">
                          <small class="m-0 text-danger" *ngIf="patientForm.get('mobileNumber').hasError('pattern')">Enter valid phone number</small>
                          <small class="m-0 text-danger" *ngIf="patientForm.get('mobileNumber').hasError('required')">This field is required</small>
                        </ng-container>
                      </td>
                      <td>
                        <input formControlName="email" type="email" class="form-control" placeholder="Email">
                        <ng-container *ngIf="patientForm.get('email').errors && (patientForm.get('email')?.dirty || patientForm.get('email')?.touched)">
                          <small class="m-0 text-danger" *ngIf="patientForm.get('email').hasError('email')">Enter valid email address</small>
                          <small class="m-0 text-danger" *ngIf="patientForm.get('email').hasError('required')">This field is required</small>
                        </ng-container>
                      </td>
                      <td>
                        <div class="form-input-group mb-2">
                          <label class="form-label" for="idType">ID Type</label>
                          <select class="form-control" formControlName="idType" id="idType">
                            <option value="nationalId">National ID/Iqama</option>
                            <option value="passport">Passport</option>
                            <option value="other">Other</option>
                          </select>
                        </div>

                        <div class="form-input-group">
                          <label *ngIf="patientForm.get('idType').value=='nationalId'" class="form-label" for="natiopnalID">National ID</label>
                          <label *ngIf="patientForm.get('idType').value=='passport'" class="form-label" for="natiopnalID">Passport</label>
                          <label *ngIf="patientForm.get('idType').value=='other'" class="form-label" for="natiopnalID">Other</label>
                        </div>
                        
                        <input formControlName="idNumber" type="text" class="form-control" placeholder="Enter here">
                        <ng-container *ngIf="patientForm.get('idNumber').errors && (patientForm.get('idNumber')?.dirty || patientForm.get('idNumber')?.touched)">
                          <small class="m-0 text-danger" *ngIf="patientForm.get('idNumber').hasError('notValid')">Enter valid ID number</small>
                          <small class="m-0 text-danger" *ngIf="patientForm.get('idNumber').hasError('required')">This field is required</small>
                        </ng-container>
                      </td>
                      <td>
                        <input formControlName="dob" type="date" class="form-control" placeholder="DOB">
                        <ng-container *ngIf="patientForm.get('dob').errors && (patientForm.get('dob')?.dirty || patientForm.get('dob')?.touched)">
                          <small class="m-0 text-danger" *ngIf="patientForm.get('dob').hasError('required')">This field is required</small>
                        </ng-container>
                      </td>
                    </tr>
                  </ng-container>
                </tbody>
              </table>
              <button *ngIf="isAddingPatient" class="btn btn-theme save mr-2" type="submit">Save Patient</button>
              <button *ngIf="isAddingPatient" (click)="isAddingPatient=false" class="btn btn-theme save" type="submit">Cancel</button>
            </div>
          </form>
        </div>

        <!-- SELECTED PATIENT -->
        <div class="col-md-12" *ngIf="( selection.patient | json ) != '{}' && !selection.isServicesConfirmed">
          <h4 class="mb-2">Selected Patient:</h4>
          <div class="bg-white border rounded p-3 mb-3 d-flex align-items-center">
            <div class="flex-grow-1">
              <h4 class="m-0"><b>{{selection.patient.firstName}} {{selection.patient.lastName}}</b></h4>
              <p class="m-0">{{selection.patient.gender}}</p>
            </div>
            <div class="d-flex align-items-center">
              <div><p class="m-0"><b>NID</b></p><p class="m-0">{{selection.patient.nationalId}}</p></div>
              <div class="pl-4"><p class="m-0"><b>Mobile</b></p><p class="m-0">{{selection.patient.mobileNumber}}</p></div>
              <div class="pl-4"><p class="m-0"><b>Email</b></p><p class="m-0">{{selection.patient.emailId}}</p></div>
              <div class="pl-4"><p class="m-0"><b>Dob</b></p><p class="m-0">{{selection.patient.dob}}</p></div>
              <div class="pl-4"><p class="m-0"><b>Dependents</b></p><p class="m-0">{{patientDependents.length}}</p></div>
              <div *ngIf="selection.confirmed == false" class="pl-4"><button (click)="selection.confirmed = true; searchInput.value=''" type="button" class="btn btn-theme">Continue</button></div>
              <div *ngIf="selection.confirmed == true" class="pl-4"><button (click)="selection.confirmed = false; searchInput.value=''" type="button" class="btn btn-theme">Edit</button></div>
            </div>
          </div>
        </div>

        <!-- SELECT SERVICES -->
        <div class="col-md-12" [hidden]="selection.isServicesConfirmed || ( selection.patient | json ) == '{}' || !selection.confirmed">
          <div class="row">
            <div class="col-md-9">
              <div class="service-area">
                <h4 class="mb-2">Select Service:</h4>
                <div class="row">
                  <div class="col-md-4">
                    <label for="service-type">Service Type</label>
                    <select class="form-control theme-control" id="service-type" [value]="selection.serviceType" (change)="onChangeServiceType( $event.target )">
                      <option value="lab-package">Lab Test Packages</option>
                      <option value="lab-individual">Lab Test Individual</option>
                      <option value="other">Other Services</option>
                    </select>
                  </div>
                  <div class="col-md-8">
                    <label for="service-search">Search</label>
                    <div class="d-flex">
                      <div class="flex-grow-1 mr-2"><input (keyup.enter)="onSearchSevice()" #searchSearviceInput type="text" class="form-control theme-control" id="service-search" placeholder="Search Service" /></div>
                      <div><button class="btn btn-theme" type="button" (click)="onSearchSevice()"><i class="icon-search"></i> Search</button></div>
                    </div>
                  </div>
                </div>
                <div class="category-wrapper mt-3 custom-scroll d-flex">
                  <div class="category" [ngClass]="(selection.categoryId==category.id) ? 'active' : ''" *ngFor="let category of serviceCategories" (click)="getServiceByCategory( category.id, category?.sectorId || null )">
                    <div class="category-img">
                      <img [src]="category?.icon || 'assets/images/taib-logo.png'" [alt]="category.name" [ngClass]="(category?.icon) ? '' : 'default'">
                    </div>
                    <p class="m-0">{{category.name}}</p>
                  </div>
                </div>
                <div class="category-detail-wrapper mt-3">
                  <div class="row g-1">
                    <ng-container *ngIf="services.length == 0">
                      <div class="col-md-12 text-center">
                        <p class="m-0">No service found against applied filters.</p>
                        <p class="m-0">Try changing/clearing filters to see more results</p>
                      </div>
                    </ng-container>
                    <div class="col-md-3 mb-3" *ngFor="let service of services">
                      <div class="category-card" (click)="onSelectSevice( service )">
                        <img [src]="service?.icon || 'assets/images/taib-logo.png'" [ngClass]="(service?.icon) ? '' : 'default'" [alt]="service.name">
                        <div>
                          <h5>{{service.name}}</h5>
                          <h4 class="text-primary">SAR {{service.price}}</h4>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <ng-container *ngIf="selection.services.length > 0">
                <table class="table table-sm align-middle align-items-center table-hover mt-3">
                  <thead>
                    <tr>
                      <th>Service</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let service of selection.services; let sIndex=index">
                      <td>
                        <p class="m-0">{{service.name}}</p>
                        <select class="form-control my-1" (change)="onChangeServicePatient( sIndex, $event )">
                          <option [value]="selection.patient.userId">{{selection.patient.firstName}} {{selection.patient.lastName}} (Self)</option>
                          <option *ngFor="let patient of patientDependents" [value]="patient.userId">{{patient.firstName}} {{patient.lastName}}</option>
                        </select>
                        <p class="m-0 fw-bold">SAR {{service.price}}</p>
                      </td>
                      <td>
                        <button (click)="onRemoveService(sIndex)" class="btn btn-danger btn-sm"><i class="icon-trash"></i></button>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <button (click)="selection.isServicesConfirmed=true" class="btn btn-theme d-block ml-auto">Continue</button>
              </ng-container>
              <ng-container *ngIf="selection.services.length == 0">
                No Service Selected
              </ng-container>
            </div>
          </div>
        </div>

        <!-- <div class="col-md-12" [hidden]="selection.services.length == 0 || !selection.isServicesConfirmed || ( selection.patient | json ) == '{}' || !selection.confirmed"></div> -->
        <div class="col-md-12" [hidden]="selection.services.length == 0 || !selection.isServicesConfirmed || ( selection.patient | json ) == '{}' || !selection.confirmed">
          <form [formGroup]="personalInfo" (ngSubmit)="onSubmit()">
            <div class="row">
              <div class="col-md-3">
                <div class="bg-theme-light p-3 rounded-10 preview-card">
                  <img [src]="'assets/images/taib-logo.png'">
                  <div class="preview-details">
                    <ng-container *ngFor="let service of selection.services; let sIndex=index">
                      <div class="pb-2 fw-medium" [ngClass]="(sIndex > 0) ? 'pt-2 border-top': ''">
                        <h6 class="text-theme mb-0">{{service.name}}</h6>
                        <div class="d-flex text-dark">
                          <div class="flex-grow-1">{{service.patientName}}</div>
                          <div>(SAR {{service.price}})</div>
                        </div>
                      </div>
                    </ng-container>

                    <a [hidden]="isCompleted || paymentLink!=''" class="mb-2 d-block w-auto text-theme" type="button" (click)="selection.isServicesConfirmed=false"><i class="icon-pencil"></i> Edit Services</a>

                    <form [formGroup]="customItemForm">
                      <ng-container formArrayName="items">
                        <ng-container *ngFor="let _ of items.controls; let i=index">
                          <div [formGroupName]="i" class="d-flex align-items-center mb-1">
                            <div><input formControlName="description" type="text" placeholder="Description" class="form-control form-control-sm"></div>
                            <div class="ml-1" style="width: 120px;"><input formControlName="price" (keyup)="calculateExtraItemTotal()" min="0" type="number" placeholder="Amount" class="form-control form-control-sm"></div>
                            <div class="ml-1" [hidden]="isCompleted || paymentLink!=''"><a (click)="removeItem(i)" class="text-danger" type="button"><i class="icon-trash"></i></a></div>
                          </div>
                        </ng-container>
                      </ng-container>
                    </form>
                    <div class="d-flex" [hidden]="isCompleted || paymentLink!=''">
                      <div class="flex-grow-1"><a class="text-primary" type="button" (click)="addItem()"><i class="icon-plus"></i> Add Item</a></div>
                    </div>
                    
                    <hr class="my-2">
                    <div class="d-flex align-items-center"><div class="label">Name</div><div>{{selection.patient.firstName}} {{selection.patient.lastName}}</div></div>
                    <div class="d-flex align-items-center"><div class="label">Address</div><div>{{personalInfo.get('address')?.value || 'N/A'}}</div></div>
                    <div class="d-flex align-items-center"><div class="label">Date</div><div>{{personalInfo.get('date')?.value || 'N/A'}}</div></div>
                    <div class="d-flex align-items-center"><div class="label">Time</div><div>{{personalInfo.get('time')?.value || 'N/A'}}</div></div>
                    <hr class="my-2">
                   
                    <ng-container *ngIf="(selection.quote | json) != '{}'">
                      <div *ngIf="selection.quote.extraTotal>0" class="d-flex align-items-center"><div class="flex-grow-1">Items total</div><div>{{selection.quote.extraTotal}} SAR</div></div>
                      <div class="d-flex align-items-center"><div class="flex-grow-1">Service Charges</div><div>{{selection.quote.origional}} SAR</div></div>
                      <div class="d-flex align-items-center"><div class="flex-grow-1">Vat</div><div>{{selection.quote.vat}} SAR</div></div>
                      <div class="d-flex align-items-center" *ngIf="selection.quote.homeVist > 0"><div class="flex-grow-1">Home Visit</div><div>{{selection.quote.homeVist}} SAR</div></div>
                      <div class="d-flex align-items-center"><div class="flex-grow-1">Total</div><div><h6 class="m-0 text-theme fw-medium">{{selection.quote.total}} SAR</h6></div></div>
                    </ng-container>
                    <ng-container *ngIf="(selection.quote | json) == '{}'">
                      <div *ngIf="extraTotal>0" class="d-flex align-items-center"><div class="flex-grow-1">Items total</div><div>{{extraTotal}} SAR</div></div>
                      <div class="d-flex align-items-center"><div class="flex-grow-1">Service Charges</div><div>{{getSelectedServicesTotal()}} SAR</div></div>
                      <div class="d-flex align-items-center"><div class="flex-grow-1">VAT</div><div>{{getCalculation('vat', getSelectedServicesTotal())}} SAR</div></div>
                      <div class="d-flex align-items-center">
                        <div class="flex-grow-1">Home Visit</div>
                        <div>
                          <ng-container *ngIf="![null, undefined, '', 0, '0'].includes(homeVistCharges) && !toggleHomeVisit">
                            <h6 class="m-0 fw-medium">{{homeVistCharges}} SAR <i style="cursor: pointer;" (click)="toggleHomeVisit=!toggleHomeVisit" class="icon-pencil"></i></h6>
                          </ng-container>
                          <a *ngIf="!isCompleted && !toggleHomeVisit && paymentLink=='' && ( ['', 0, '0'].includes(homeVistCharges))" (click)="toggleHomeVisit=!toggleHomeVisit" class="w-100" type="button"><h6 class="m-0">Apply</h6></a>
                        </div>
                      </div>

                      <div *ngIf="toggleHomeVisit && !isCompleted" class="mb-2">
                        <input #homeCharges class="form-control theme-control123 mb-2" type="number" min="0" placeholder="Enter amount" [value]="homeVistCharges">
                          <div class="text-right">
                            <button  (click)="toggleHomeVisit=!toggleHomeVisit" class="btn btn-danger rounded-10 btn-sm mr-1" type="button">Cancel</button>
                            <button (click)="homeVistCharges=homeCharges.value;toggleHomeVisit=!toggleHomeVisit" class="btn btn-theme btn-sm" type="button">Apply</button>
                          </div>
                      </div>

                      <!--SANA , adding discount field-->
                      <div class="d-flex align-items-center">
                        <div class="flex-grow-1">Discount/Co-pay</div>
                        <div>
                          <ng-container *ngIf="![null, undefined, '', 0, '0'].includes(discountCharges) && !toggleDiscount">
                            <h6 class="m-0 fw-medium">{{discountCharges}} SAR <i style="cursor: pointer;" (click)="toggleDiscount=!toggleDiscount" class="icon-pencil"></i></h6>
                          </ng-container>
                          <a *ngIf="!isCompleted && !toggleDiscount && paymentLink=='' && ( ['', 0, '0'].includes(discountCharges))" (click)="toggleDiscount=!toggleDiscount" class="w-100" type="button"><h6 class="m-0">Apply</h6></a>
                        </div>
                      </div>

                      <div *ngIf="toggleDiscount && !isCompleted" class="mb-2">
                        <input #discCharges class="form-control theme-control123 mb-2" type="number" min="0" placeholder="Enter amount" [value]="discountCharges">
                          <div class="text-right">
                            <button  (click)="toggleDiscount=!toggleDiscount" class="btn btn-danger rounded-10 btn-sm mr-1" type="button">Cancel</button>
                            <button (click)="discountCharges=discCharges.value;toggleDiscount=!toggleDiscount" class="btn btn-theme btn-sm" type="button">Apply</button>
                          </div>
                      </div>

                    
                      <div class="d-flex align-items-center"><div class="flex-grow-1">Total</div><div><h6 class="m-0 text-theme fw-medium">{{getCalculation('final', getSelectedServicesTotal())}} SAR</h6></div></div>
                    </ng-container>

                    <hr class="my-2">
                    

                    <ng-container *ngIf="!isCompleted && !toggleHomeVisit">
                      <button (click)="onConfirmService()" *ngIf="needConfirmationIds.includes( selection.service.id ) && !isServiceConfirmed" [disabled]="personalInfo.invalid" class="btn btn-theme w-100 mb-2" type="button">Confirm</button>
                      <button class="btn btn-theme w-100 mb-2" type="submit" [disabled]="personalInfo.invalid || paymentLink!='' || ( needConfirmationIds.includes( selection.service.id ) && !isServiceConfirmed )">Get Link & Send SMS</button>
                      <button class="btn btn-theme w-100 mb-2" [disabled]="personalInfo.invalid || paymentLink!='' || ( needConfirmationIds.includes( selection.service.id ) && !isServiceConfirmed )" (click)="copyMessage('SA9515000455129898180008', 'iban')" type="button">Copy IBAN</button>
                      <button class="btn btn-danger w-100 rounded-10" (click)="onReset(); patientList=[]" type="button">Cancel</button>
                    </ng-container>
                  </div>
                </div>
              </div>
              <div class="col-md-6" *ngIf="paymentLink==''">
                <h5 class="fw-medium mb-3">Address</h5>
                <div class="google-map-wrapper">
                  <div class="mb-2">
                    <input (keyup)="onChangeAddress()" type="text" class="form-control" (keydown.enter)="$event.preventDefault()" placeholder="Search Address" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" #searchAddress />
                  </div>
                  <agm-map (mapReady)="onMapReady($event)" [latitude]="lat" [longitude]="lng" [zoom]="zoom">
                    <agm-marker [latitude]="lat" [longitude]="lng" [markerDraggable]="true" (dragEnd)="onMarkerDragEnd($event)"></agm-marker>
                  </agm-map>
                </div>
              </div>
              <div class="col-md-3" *ngIf="paymentLink==''">
                <h5 class="fw-medium mb-3">Date & Time</h5>
                <div class="mb-2">
                  <label for="service-date">Date <sup class="text-danger">*</sup></label>
                  <input formControlName="date" type="date" [min]='todayDate' class="form-control theme-control no-picker" id="service-date" />
                  <ng-container *ngIf="personalInfo.get('date').errors && (personalInfo.get('date')?.dirty || personalInfo.get('date')?.touched)">
                    <small class="m-0 text-danger" *ngIf="personalInfo.get('date').hasError('required')">This field is required</small>
                    <small class="m-0 text-danger" *ngIf="personalInfo.get('date').hasError('maxlength')">Invalid date entered</small>
                    <small class="m-0 text-danger" *ngIf="personalInfo.get('date').hasError('minlength')">Invalid date entered</small>
                  </ng-container>
                </div>
                <div class="mb-2">
                  <label for="service-time">Time <sup class="text-danger">*</sup></label>
                  <input formControlName="time" type="time" class="form-control theme-control" id="service-time" />
                  <ng-container *ngIf="personalInfo.get('time').errors && (personalInfo.get('time')?.dirty || personalInfo.get('time')?.touched)">
                    <small class="m-0 text-danger" *ngIf="personalInfo.get('time').hasError('required')">This field is required</small>
                    <small class="m-0 text-danger" *ngIf="personalInfo.get('time').hasError('maxlength')">Invalid date entered</small>
                    <small class="m-0 text-danger" *ngIf="personalInfo.get('time').hasError('minlength')">Invalid date entered</small>
                  </ng-container>
                </div>
                <div class="mb-2"> 
                  <label for="service-gender">Gender <sup class="text-danger">*</sup></label>
                  <select class="form-control theme-control" id="service-gender" formControlName="gender">
                    <option value="">Select</option>
                    <option value="1">Male</option>
                    <option value="2">Female</option>
                    <option value="3">Any</option>
                  </select>
                  <ng-container *ngIf="personalInfo.get('gender').errors && (personalInfo.get('gender')?.dirty || personalInfo.get('gender')?.touched)">
                    <small class="m-0 text-danger" *ngIf="personalInfo.get('gender').hasError('required')">This field is required</small>
                  </ng-container>
                </div>
                <div class="mb-2"> 
                  <label for="service-source">Source <sup class="text-danger">*</sup></label>
                  <select class="form-control theme-control" id="service-source" formControlName="source">
                    <option value="">Select</option>
                    <option *ngFor="let source of patientSources" [value]="source.sourceId">{{source.sourceName}}</option>
                  </select>
                  <ng-container *ngIf="personalInfo.get('source').errors && (personalInfo.get('source')?.dirty || personalInfo.get('source')?.touched)">
                    <small class="m-0 text-danger" *ngIf="personalInfo.get('source').hasError('required')">This field is required</small>
                  </ng-container>
                </div>
                <div class="mb-2"> 
                  <label for="service-admin-notes">Notes</label>
                  <textarea formControlName="adminNotes" class="form-control theme-control" id="service-admin-notes" rows="2" placeholder="Enter Notes"></textarea>
                </div>
              </div>
              <div class="col-md-9" *ngIf="paymentLink!=''">
                <label for="payment-url">Payment Link</label>
                <div class="d-flex">
                  <div class="flex-grow-1"><input class="form-control" type="text" id="payment-url" [value]="paymentLink"></div>
                  <div class="pl-2">
                    <button (click)="copyMessage(paymentLink)" class="btn btn-theme" type="button">Copy</button>
                    <button (click)="onSendSMS()" class="btn btn-theme ml-2" type="button">Send SMS</button>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>  
    </main>
  </section>
</div>


  <!-- Hotjar Tracking Code for Taib Admin -->
  <script> (function(h,o,t,j,a,r){ h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)}; h._hjSettings={hjid:3571786,hjsv:6}; a=o.getElementsByTagName('head')[0]; r=o.createElement('script');r.async=1; r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv; a.appendChild(r); })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv='); </script>