<div class="web auto-flex-start-gap40-column main-div">

    <!-- Current Location-->
    <div class="auto-flex-center-start-gap20 cursor-pointer">

        <img class="smallImg" src="assets/images/web/icons/location.svg" />

        <div class="auto-flex-start-gap5-column-no-set-width">

            <p class="med bold">Current location</p>
            <p class="web-font-primary-light">Middleton, Tennessee(TN), 38052</p>

        </div>

    </div>

    <!-- Top Category -->
    <div class="auto-flex-center-space-between-gap20">

        <div class="auto-flex-center-space-between-gap20-no-set-width width-half light-yellow-bg">

            <div class="auto-flex-start-gap10-column-no-set-width width-max-300">

                <p class="xmed bold capitalize">Top category</p>
                <p class="web-font-primary-light">Lorem ipsum dolor sit amet tetur adip iscing elit.</p>

            </div>

            <img class="xxmedImg" src="assets/images/web/auth/login_illustration.svg" />

        </div>

        <div class="auto-flex-center-space-between-gap20-no-set-width width-half light-yellow-bg">

            <div class="auto-flex-start-gap10-column-no-set-width width-max-300">

                <p class="xmed bold capitalize">Top category</p>
                <p class="web-font-primary-light">Lorem ipsum dolor sit amet tetur adip iscing elit.</p>

            </div>

            <img class="xxmedImg" src="assets/images/web/auth/login_illustration.svg" />

        </div>

        <div class="auto-flex-center-space-between-gap20-no-set-width width-half light-yellow-bg">

            <div class="auto-flex-start-gap10-column-no-set-width width-max-300">

                <p class="xmed bold capitalize">Top category</p>
                <p class="web-font-primary-light">Lorem ipsum dolor sit amet tetur adip iscing elit.</p>

            </div>

            <img class="xxmedImg" src="assets/images/web/auth/login_illustration.svg" />

        </div>

        <div class="auto-flex-center-space-between-gap20-no-set-width width-half light-yellow-bg">

            <div class="auto-flex-start-gap10-column-no-set-width width-max-300">

                <p class="xmed bold capitalize">Top category</p>
                <p class="web-font-primary-light">Lorem ipsum dolor sit amet tetur adip iscing elit.</p>

            </div>

            <img class="xxmedImg" src="assets/images/web/auth/login_illustration.svg" />

        </div>

    
    </div>

    <!-- All Ctegories -->
    <div class="auto-flex-start-gap20-column light-gray-bg">

        <p class="xmed bold capitalize">Categories</p>
        
        <div class="auto-flex-start-gap20-no-wrap overflow-auto padding-bottom-20">

            <div class="auto-flex-center-gap10-column-no-set-width white-bg padding-left-right-30 gray-border cursor-pointer">

                <img class="xsmallImg" src="assets/images/web/auth/login_illustration.svg" />
                <p class="bold capitalize">Pizza</p>

            </div>
            <div class="auto-flex-center-gap10-column-no-set-width white-bg padding-left-right-30 gray-border cursor-pointer">

                <img class="xsmallImg" src="assets/images/web/auth/login_illustration.svg" />
                <p class="bold capitalize">Pizza</p>

            </div>
            <div class="auto-flex-center-gap10-column-no-set-width white-bg padding-left-right-30 gray-border cursor-pointer">

                <img class="xsmallImg" src="assets/images/web/auth/login_illustration.svg" />
                <p class="bold capitalize">Pizza</p>

            </div>
            <div class="auto-flex-center-gap10-column-no-set-width white-bg padding-left-right-30 gray-border cursor-pointer">

                <img class="xsmallImg" src="assets/images/web/auth/login_illustration.svg" />
                <p class="bold capitalize">Pizza</p>

            </div>
            <div class="auto-flex-center-gap10-column-no-set-width white-bg padding-left-right-30 gray-border cursor-pointer">

                <img class="xsmallImg" src="assets/images/web/auth/login_illustration.svg" />
                <p class="bold capitalize">Pizza</p>

            </div>
            <div class="auto-flex-center-gap10-column-no-set-width white-bg padding-left-right-30 gray-border cursor-pointer">

                <img class="xsmallImg" src="assets/images/web/auth/login_illustration.svg" />
                <p class="bold capitalize">Pizza</p>

            </div>
            <div class="auto-flex-center-gap10-column-no-set-width white-bg padding-left-right-30 gray-border cursor-pointer">

                <img class="xsmallImg" src="assets/images/web/auth/login_illustration.svg" />
                <p class="bold capitalize">Pizza</p>

            </div>
            <div class="auto-flex-center-gap10-column-no-set-width white-bg padding-left-right-30 gray-border cursor-pointer">

                <img class="xsmallImg" src="assets/images/web/auth/login_illustration.svg" />
                <p class="bold capitalize">Pizza</p>

            </div>

            <div class="auto-flex-center-gap10-column-no-set-width white-bg padding-left-right-30 gray-border cursor-pointer">

                <img class="xsmallImg" src="assets/images/web/auth/login_illustration.svg" />
                <p class="bold capitalize">Pizza</p>

            </div>

            <div class="auto-flex-center-gap10-column-no-set-width white-bg padding-left-right-30 gray-border cursor-pointer">

                <img class="xsmallImg" src="assets/images/web/auth/login_illustration.svg" />
                <p class="bold capitalize">Pizza</p>

            </div>

        </div>

    </div>

    <!-- Category -->
    <div class="auto-flex-start-gap20-column">

        <p class="xmed bold capitalize">Category</p>

        <div class="auto-flex-start-center-gap20-no-wrap overflow-auto padding-bottom-20">

            <div class="auto-flex-center-gap20-column-no-set-width gray-border border-radius-20 cursor-pointer padding-none width-max-350 relative">

                <p class="absolute-top-left-10 xsmall primary-bg padding-5 padding-left-right-10  border-none">200 SAR</p>

                <img class="xxlargeImg-350 height-160 cover border-top-left-right-10" src="assets/images/web/img.svg">

                <div class="auto-flex-start-gap10-column-no-set-width padding-left-right-10">

                    <p class="med bold capitalize">Service name</p>
                    <p class="web-font-primary-light">Lorem ipsum dolor sit amet tetur adip iscing elit.</p>

                </div>

                <div class="auto-flex-end-gap10">

                    <button class="primary-bg padding-10 capitalize box-shadow border-none border-top-left-bottom-left-0 border-top-right-0 padding-left-right-30 xsmall">view more</button>

                </div>

            </div>

            <div class="auto-flex-center-gap20-column-no-set-width gray-border border-radius-20 cursor-pointer padding-none width-max-350 relative">

                <p class="absolute-top-left-10 xsmall primary-bg padding-5 padding-left-right-10  border-none">200 SAR</p>

                <img class="xxlargeImg-350 height-160 cover border-top-left-right-10" src="assets/images/web/img.svg">

                <div class="auto-flex-start-gap10-column-no-set-width padding-left-right-10">

                    <p class="med bold capitalize">Service name</p>
                    <p class="web-font-primary-light">Lorem ipsum dolor sit amet tetur adip iscing elit.</p>

                </div>

                <div class="auto-flex-end-gap10">

                    <button class="primary-bg padding-10 capitalize box-shadow border-none border-top-left-bottom-left-0 border-top-right-0 padding-left-right-30 xsmall">view more</button>

                </div>

            </div>

            <div class="auto-flex-center-gap20-column-no-set-width gray-border border-radius-20 cursor-pointer padding-none width-max-350 relative">

                <p class="absolute-top-left-10 xsmall primary-bg padding-5 padding-left-right-10  border-none">200 SAR</p>

                <img class="xxlargeImg-350 height-160 cover border-top-left-right-10" src="assets/images/web/img.svg">

                <div class="auto-flex-start-gap10-column-no-set-width padding-left-right-10">

                    <p class="med bold capitalize">Service name</p>
                    <p class="web-font-primary-light">Lorem ipsum dolor sit amet tetur adip iscing elit.</p>

                </div>

                <div class="auto-flex-end-gap10">

                    <button class="primary-bg padding-10 capitalize box-shadow border-none border-top-left-bottom-left-0 border-top-right-0 padding-left-right-30 xsmall">view more</button>

                </div>

            </div>

            <div class="auto-flex-center-gap20-column-no-set-width gray-border border-radius-20 cursor-pointer padding-none width-max-350 relative">

                <p class="absolute-top-left-10 xsmall primary-bg padding-5 padding-left-right-10  border-none">200 SAR</p>

                <img class="xxlargeImg-350 height-160 cover border-top-left-right-10" src="assets/images/web/img.svg">

                <div class="auto-flex-start-gap10-column-no-set-width padding-left-right-10">

                    <p class="med bold capitalize">Service name</p>
                    <p class="web-font-primary-light">Lorem ipsum dolor sit amet tetur adip iscing elit.</p>

                </div>

                <div class="auto-flex-end-gap10">

                    <button class="primary-bg padding-10 capitalize box-shadow border-none border-top-left-bottom-left-0 border-top-right-0 padding-left-right-30 xsmall">view more</button>

                </div>

            </div>

            <div class="auto-flex-center-gap20-column-no-set-width gray-border border-radius-20 cursor-pointer padding-none width-max-350 relative">

                <p class="absolute-top-left-10 xsmall primary-bg padding-5 padding-left-right-10  border-none">200 SAR</p>

                <img class="xxlargeImg-350 height-160 cover border-top-left-right-10" src="assets/images/web/img.svg">

                <div class="auto-flex-start-gap10-column-no-set-width padding-left-right-10">

                    <p class="med bold capitalize">Service name</p>
                    <p class="web-font-primary-light">Lorem ipsum dolor sit amet tetur adip iscing elit.</p>

                </div>

                <div class="auto-flex-end-gap10">

                    <button class="primary-bg padding-10 capitalize box-shadow border-none border-top-left-bottom-left-0 border-top-right-0 padding-left-right-30 xsmall">view more</button>

                </div>

            </div>

            <div class="auto-flex-center-gap20-column-no-set-width gray-border border-radius-20 cursor-pointer padding-none width-max-350 relative">

                <p class="absolute-top-left-10 xsmall primary-bg padding-5 padding-left-right-10  border-none">200 SAR</p>

                <img class="xxlargeImg-350 height-160 cover border-top-left-right-10" src="assets/images/web/img.svg">

                <div class="auto-flex-start-gap10-column-no-set-width padding-left-right-10">

                    <p class="med bold capitalize">Service name</p>
                    <p class="web-font-primary-light">Lorem ipsum dolor sit amet tetur adip iscing elit.</p>

                </div>

                <div class="auto-flex-end-gap10">

                    <button class="primary-bg padding-10 capitalize box-shadow border-none border-top-left-bottom-left-0 border-top-right-0 padding-left-right-30 xsmall">view more</button>

                </div>

            </div>

            <div class="auto-flex-center-gap20-column-no-set-width">

                <img class="smallImg" src="assets/images/web/icons/plus.svg" />
                <p class="xsmall bold lowercase text-center">show more</p>

            </div>

        </div>
    
    </div>


    <!-- Location Modal -->
    <div class="auto-flex-center-gap10 fixed dialog" style="display: none;">

        <div class="popup">

            <div class="auto-flex-center-gap30-column white-bg overflow-auto max-height-500 border-radius-20 width-max-600">

                <div class="auto-flex-center-start-gap20">

                    <img class="xsmallImg" src="assets/images/web/icons/send.svg" />
                    <p class="bold">Use my current location</p>

                </div>

                <div class="auto-flex-start-gap20-column box-shadow padding-none border-radius-10 gray-border">
                    
                    <agm-map class="max-width height-200 border-top-left-right-10 overflow-hidden" [streetViewControl]="false" [zoomControl]="false" [mapTypeControl]="false">
                
                        <agm-marker class="border-radius-10"></agm-marker>
                    
                    </agm-map>

                    <div class="auto-flex-center-space-between-gap20 padding-left-right-30 padding-bottom-20">

                        <div class="auto-flex-start-gap10 width-max-300">

                            <p class="bold">New York</p>
                            <p class="web-font-primary-light">Middleton, Tennessee(TN), 38052</p>
    
                        </div>
                        
                        <img class="smallImg" src="assets/images/web/icons/edit.svg" />

                    </div>
              
                </div>

                <div class="auto-flex-center-start-gap20 cursor-pointer">

                    <img class="xsmallImg" src="assets/images/web/icons/plus_black.svg" />
                    <p class="xsmall bold lowercase text-center capitalize">Add new address</p>

                </div>


            </div>

        </div>

    </div>

    <!-- Location Modal Select -->
    <div class="auto-flex-center-gap10 fixed dialog" style="display: none;">

        <div class="popup">

            <div class="auto-flex-center-gap30-column white-bg overflow-auto max-height-500 border-radius-20 width-max-600 relative padding-none border-none">

                <div class="auto-flex-center-gap20-column box-shadow padding-none border-radius-10 gray-border">

                    <input class="input-global absolute-top-10 z-index width-90Percent" type="text" placeholder="Search" />

                    <agm-map class="max-width height-300 width-600 border-top-left-right-10 overflow-hidden" [streetViewControl]="false" [zoomControl]="false" [mapTypeControl]="false">
                
                        <agm-marker class="border-radius-10"></agm-marker>
                    
                    </agm-map>

                    <button class="primary-bg padding-10 border-none box-shadow absolute-bottom-10 width-300 z-index">Confirm</button>
                
                </div>

            </div>

        </div>

    </div>

    <!-- Add new address -->
    <div class="auto-flex-center-gap10 fixed dialog" style="display: none;">

        <div class="popup">

            <div class="auto-flex-start-gap20-column white-bg overflow-auto max-height-500 border-radius-20 width-min-600 phone-min-width">

                <div class="auto-flex-start-no-gap-column">

                    <div class="auto-flex-center-space-between-gap20">

                        <p class="med bold capitalize">Add new address</p>
                        <img class="xsmallImg" src="assets/images/web/icons/close.svg" />
    
                    </div>
    
                    <hr class="hr-black" />    

                </div>

                <div class="auto-flex-start-gap10 web-font-primary-light">

                    <p class="xsmall bold">Address line 1</p>
                    <input class="input-global" type="text" placeholder="Enter address" />
        
                </div>    

                <div class="auto-flex-start-gap10 web-font-primary-light">

                    <p class="xsmall bold">Address line 2</p>
                    <input class="input-global" type="text" placeholder="Enter address (optional)" />
        
                </div>    

     
                <div class="auto-flex-center-start-gap20 cursor-pointer">

                    <img class="xsmallImg" src="assets/images/web/icons/plus_black.svg" />
                    <p class="xsmall bold lowercase text-center capitalize">Add new address</p>

                </div>


            </div>

        </div>

    </div>


</div>