.gray-border {
    border: 1px solid #6c757d33;
}
.border-radius-0 {
    border-radius: 0px;
}

.border-none {
    border: none;
}

.border-top-left-bottom-left-0{
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}
.border-top-right-0{
    border-top-right-radius: 0px;
}

.border-radius-20{
    border-radius: 20px;
}
.border-bottom-left-bottom-right-0{
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.place-stretch {
    place-items: stretch;
}
.padding-top-bottom-5{
    padding-top: 5px;
    padding-bottom: 5px;
}
.border-radius-100 {
    border-radius: 100%;
}
.height-16 {
    height: 16px;
}
.width-16 {
    width: 16px;
}
.padding-15{
    padding: 15px;
}
.menu-mobile{
    width: 0%;
    overflow-x: hidden;
    transition: 0.5s;
    top: 0;
    left: unset;
}
a:hover{
    text-decoration: none;
    color: var(--secondary-color);
}

@media only screen and (max-width: 1150px) {
    
    .phone-static {
        position: static;
    }
    .phone-padding-20{
        padding: 20px;
    }
    .phone-margin-auto {
        margin: auto;
    }
    .phone-padding-bottom-20{
        padding-bottom: 20px;
    }

    .width-max-300 {
        max-width: 50%;
    }
    .width-160{
        width: 130px;
    }
    .xxxmedImg{
        width: 120px;
        height: 120px;
    }
    .phone-max-height-150{
        height: 150px;
    }
    .self-stretch {
        align-self: flex-end;
    }
}

@media only screen and (max-width: 500px) {

    .phone-static {
        position: static;
    }
    .phone-padding-20{
        padding: 20px;
    }
    .phone-margin-auto {
        margin: auto;
    }
    .phone-padding-bottom-20{
        padding-bottom: 20px;
    }

    .width-max-300 {
        max-width: 150px;
    }
    .width-160{
        width: 130px;
    }
    .width-600 {
        width: auto;
    }
    .phone-300{
        width: 300px;
    }
    .phone-width-150{
        width: 150px;
    }
    .xxxmedImg{
        width: 120px;
        height: 120px;
    }
    .phone-max-height-150{
        height: 150px;
    }
    .self-stretch {
        align-self: flex-end;
    }
    .padding-top-40{
        padding-top: 20px;
    }
    .padding-bottom-40{
        padding-bottom: 20px;
    }
}