<div id="app">

    <!-- page section -->
    <section class="el-container">
    
        <div>
            
            <!-- main menu bar-->
            <menu class="menu-bar lab-hide">
    
                <a routerLink="javascript:void(0);" class="toggle-menu">
    
                    <div class="inactive">
                        
                        <span class="bar bar1"></span>
                        <span class="bar"></span>
                        <span class="bar bar3"></span>
                  
                    </div>

                </a>
                
                <a routerLink="dashboard" class="logo"><img src="assets/images/Taib_logo_Trans.png" width="50%" /></a>
          
            </menu>
            
            <!-- app side bar-->
            <app-sidebar class="lab-hide"></app-sidebar>

            <!-- app sub menu -->
            <div>
            
                <app-submenu></app-submenu>
            
            </div>

            <!-- top nav bar in the right side -->
            <nav class="nav-bar-none"></nav>
        
        </div>

        <!-- right side or the main component content -->
        <main class="el-main">
      
            <app-header></app-header>

            <!-- branch wrapper -->
            <div class="web auto-flex-start-gap20-column max-height relative">

                <div class="auto-flex-start-space-between-gap10">

                    <p class="large">All Branches</p>
                    <button class="primary-bg padding-10 secondary-color bold" (click)="addBranch()">Add a New Branch</button>

                </div>

                <div class="glass-bg auto-flex-start-gap20">

                    <div class="auto-flex-start-gap10-column-no-set-width width-340 white-bg" *ngFor="let branch of branchList; let branchIndex = index">

                        <!-- branch image and title -->
                        <div class="auto-flex-center-start-gap20">

                            <img class="smallImg border-radius-10"  *ngIf="branch.image && branch.image.length>0" src="{{branch.image}}">
                            <p class="bold">{{ branch.title }}</p>  
                           
                        </div>   

                        <div class="auto-flex-center-gap20-column">
                            
                            <!-- branch location -->
                            <div class="auto-flex-center-start-gap20">

                                <p class="bold">Location:</p>    
                                <p> {{ branch.location }} </p>    

                            </div>   

                            <!-- branch contact -->
                            <div class="auto-flex-center-start-gap20">

                                <p class="bold">Contact:</p>    
                                <p> {{ branch.contact }} </p>    

                            </div>   

                            <!-- branch email -->
                            <div class="auto-flex-center-start-gap20">

                                <p class="bold">Email:</p>    
                                <p> {{ branch.email }} </p>    

                            </div>   

                            <!-- branch radius additional cost -->
                            <div class="auto-flex-center-start-gap20">

                                <p class="bold">Additional Cost:</p>    
                                <p> {{ branch.additional_cost_radius }} </p>    

                            </div>

                            <!-- branch radius -->
                            <div class="auto-flex-center-start-gap20">

                                <p class="bold">Radius:</p>    
                                <p> {{ branch.radius }} </p>    

                            </div>

                            <!-- branch status -->
                            <div class="auto-flex-end-gap10">

                                <p class="dark-green-bg padding-5 secondary-color" *ngIf="branch.active">active</p>
                                <p class="red-bg padding-5 secondary-color" *ngIf="!branch.active">not active</p>  
                            
                            </div>   

                        </div>                                            

                        <!-- edit, delete and disable branch-->
                        <div class="auto-flex-center-start-gap10">

                            <button class="glass-bg padding-10 border-none max-width" (click)="assignServiceProvider(branch, branchIndex)">Assign Service Provider</button>

                        </div>

                        <!-- edit, delete and disable branch-->
                        <div class="auto-flex-center-gap10">

                            <button class="glass-bg padding-10 border-none width-100" (click)="editBranch(branch, branchIndex)">Edit</button>
                            <button class="glass-bg padding-10 border-none width-100" (click)="deleteBranch(branch, branchIndex)">Delete</button>

                        </div>

                       

                        <!-- Activate or deactiavte branch-->
                        <div class="auto-flex-center-gap10">

                            <hr class="hr-black" />
                            <button class="glass-bg padding-10 border-none max-width" *ngIf="!branch.active" (click)="activateBranch(branch, branchIndex)">Activate Branch</button>
                            <button class="glass-bg padding-10 border-none max-width" *ngIf="branch.active" (click)="deactivateBranch(branch, branchIndex)">Deactivate Branch</button>

                        </div>

                    </div>

                </div>

                <!-- Edit Branch Wrapper-->
                <div class="fixed dialog" *ngIf="editBranchInformationToggle">
                    
                    <div class="popup">

                        <div class="content white-bg scrollable-div web-font-primary-light">

                            <button class="close" (click)="closeEditBranch()">x</button>
                            
                            <!-- edit content -->
                            <div class="auto-flex-center-gap20">
                                
                                <div class="auto-flex-center-start-gap20">
                                  
                                    <img class="medImg" src="{{selectedBranch.image}}">
                                    <input type="file" accept="image/*" name="uploadfile" id="branch_image" (change)="updateImage($event.target)" style="display:none;"/>
                                    <label class="glass-bg padding-10 cursor-pointer" for="branch_image">Upload Image</label>

                                </div>

                                <div class="auto-flex-center-start-gap20">

                                    <div class="auto-flex-start-gap5-column-no-set-width width-half">

                                        <p>Title</p>
                                        <input class="input-global" [(ngModel)]="selectedBranch.title" type="text" />    

                                    </div>

                                    <div class="auto-flex-start-gap5-column-no-set-width width-half">

                                        <p>Title Arabic</p>
                                        <input class="input-global" [(ngModel)]="selectedBranch.title_arabic" type="text" />
    
                                    </div>

                                    <div class="auto-flex-start-gap5-column-no-set-width width-half">

                                        <p>Contact</p>
                                        <input class="input-global" [(ngModel)]="selectedBranch.contact" type="text" />
                    
                                    </div>
 
                                    <div class="auto-flex-start-gap5-column-no-set-width width-half">

                                        <p>Email</p>
                                        <input class="input-global" [(ngModel)]="selectedBranch.email" type="text" />
                       
                                    </div>

                               

                                    <div class="auto-flex-start-gap5-column-no-set-width width-half">

                                        <p>Description</p>
                                        <textarea class="input-global" [(ngModel)]="selectedBranch.description" type="text"></textarea>
                       
                                    </div>

                                    <div class="auto-flex-start-gap5-column-no-set-width width-half">

                                        <p>Description Arabic</p>
                                        <textarea class="input-global" [(ngModel)]="selectedBranch.description_arabic" type="text"></textarea>
                       
                                    </div>
 
                                    <div class="auto-flex-start-gap5-column-no-set-width width-half">

                                        <p>Radius</p>
                                        <input class="input-global" [(ngModel)]="selectedBranch.radius" type="number" />
                       
                                    </div>

                                    <div class="auto-flex-start-gap5-column-no-set-width width-half">

                                        <p>Additional Cost For Radius</p>
                                        <input class="input-global" [(ngModel)]="selectedBranch.additional_cost_radius" type="number" />
                       
                                    </div>

                                    <div class="auto-flex-start-gap5-column relative">

                                        <input #search1 class="input-global absolute-top-10 z-index" type="text" placeholder="Search" />

                                            <agm-map class="max-width height-300 width-800 border-top-left-right-10 overflow-hidden" [latitude]="centerLat" [longitude]="centerLng" [zoom]="zoom" [streetViewControl]="false" [zoomControl]="false" [mapTypeControl]="false" (mapClick)="onMapClick1($event)" >
                                        
                                                <agm-marker *ngIf="selectedLat && selectedLng" [latitude]="selectedLat"  [longitude]="selectedLng" [markerDraggable]="true" (dragEnd)="onMarkerDragEnd1($event)"  class="border-radius-10"></agm-marker>
                                            
                                            </agm-map>

                                    </div>

                                    <div class="auto-flex-start-gap5-column-no-set-width width-half">

                                        <p>Location</p>
                                        <input class="input-global" [(ngModel)]="selectedBranch.location" type="text" />
    
                                    </div>

                                    <div class="auto-flex-start-gap5-column-no-set-width width-half">

                                        <p>Location Arabic</p>
                                        <input class="input-global" [(ngModel)]="selectedBranch.location_arabic" type="text" />
        
                                    </div>

                                    <div class="auto-flex-start-gap5-column-no-set-width width-half">

                                        <p>Longitude</p>
                                        <input class="input-global" [(ngModel)]="selectedBranch.longitude" type="text" readonly />
            
                                    </div>

                                    <div class="auto-flex-start-gap5-column-no-set-width width-half">

                                        <p>Latitude</p>
                                        <input class="input-global" [(ngModel)]="selectedBranch.latitude" type="text" readonly />
                
                                    </div>

                                </div>

                                <div class="auto-flex-center-gap10">

                                    <button class="primary-bg max-width padding-10 secondary-color" (click)="updateBranch()">Save Branch Information</button>

                                </div>

                            </div>

                        </div>

                    </div>

                </div>

                <!-- Add Branch-->
                <div class="fixed dialog" *ngIf="addNewBranchToggle">

                    <div class="popup">

                        <div class="content white-bg scrollable-div web-font-primary-light">

                            <button class="close" (click)="closeAddBranch()">x</button>

                            <form [formGroup]="addBranchForm" (ngSubmit)="createBranch()">

                                <div class="auto-flex-center-gap20">
                                    
                                    <div class="auto-flex-center-start-gap20">
                                    
                                        <input type="file" accept="image/*" name="uploadfile" id="branch_image" style="display:none;"/>
                                        <label class="glass-bg padding-10 cursor-pointer" for="branch_image">Upload Image</label>

                                    </div>

                                    <div class="auto-flex-center-start-gap20">

                                        <div class="auto-flex-start-gap5-column-no-set-width width-half">

                                            <p>Title</p>
                                            <input class="input-global" formControlName="title" type="text" />    

                                        </div>

                                        <div class="auto-flex-start-gap5-column-no-set-width width-half">

                                            <p>Title Arabic</p>
                                            <input class="input-global" formControlName="title_arabic" type="text" />
        
                                        </div>

                                        <div class="auto-flex-start-gap5-column-no-set-width width-half">

                                            <p>Contact</p>
                                            <input class="input-global" formControlName="contact" type="text" />
                        
                                        </div>
    
                                        <div class="auto-flex-start-gap5-column-no-set-width width-half">

                                            <p>Email</p>
                                            <input class="input-global" formControlName="email" type="text" />
                        
                                        </div>

                                        <div class="auto-flex-start-gap5-column-no-set-width width-half">

                                            <p>Description</p>
                                            <textarea class="input-global" formControlName="description" type="text"></textarea>
                        
                                        </div>

                                        <div class="auto-flex-start-gap5-column-no-set-width width-half">

                                            <p>Description Arabic</p>
                                            <textarea class="input-global" formControlName="description_arabic" type="text"></textarea>
                        
                                        </div>

                                        <div class="auto-flex-start-gap5-column-no-set-width width-half">

                                            <p>Radius</p>
                                            <input class="input-global" formControlName="radius" type="number" />
                        
                                        </div>

                                        <div class="auto-flex-start-gap5-column-no-set-width width-half">

                                            <p>Additional Cost For Radius</p>
                                            <input class="input-global" formControlName="additional_cost_radius" type="number" />
                        
                                        </div>

                                        <div class="auto-flex-start-gap5-column relative">

                                            <input #search class="input-global absolute-top-10 z-index" type="text" placeholder="Search" />

                                            <agm-map class="max-width height-300 width-800 border-top-left-right-10 overflow-hidden" [latitude]="centerLat" [longitude]="centerLng" [zoom]="zoom" [streetViewControl]="false" [zoomControl]="false" [mapTypeControl]="false" (mapClick)="onMapClick($event)" >
                                        
                                                <agm-marker *ngIf="selectedLat && selectedLng" [latitude]="selectedLat"  [longitude]="selectedLng" [markerDraggable]="true" (dragEnd)="onMarkerDragEnd($event)"  class="border-radius-10"></agm-marker>
                                            
                                            </agm-map>

                                        </div>

                                        <div class="auto-flex-start-gap5-column-no-set-width width-half">

                                            <p>Location</p>
                                            <input class="input-global" formControlName="location" type="text" />
        
                                        </div>

                                        <div class="auto-flex-start-gap5-column-no-set-width width-half">

                                            <p>Location Arabic</p>
                                            <input class="input-global" formControlName="location_arabic" type="text" />
            
                                        </div>

                                        <div class="auto-flex-start-gap5-column-no-set-width width-half">

                                            <p>Longitude</p>
                                            <input class="input-global" formControlName="longitude" type="text" readonly/>
                
                                        </div>

                                        <div class="auto-flex-start-gap5-column-no-set-width width-half">

                                            <p>Latitude</p>
                                            <input class="input-global" formControlName="latitude" type="text" readonly/>
                    
                                        </div>

                                    </div>

                                    <div class="auto-flex-center-gap10">

                                        <button class="primary-bg max-width padding-10 secondary-color" (click)="updateBranch()">Add Branch</button>

                                    </div>

                                </div>

                            </form>                            

                        </div>

                    </div>

                </div>

                <!-- Assign Service Provider -->
                <div class="fixed dialog" *ngIf="assignServiceProviderToggle">

                    <div class="popup height-600">

                        <div class="content-1200 max-height white-bg scrollable-div">

                            <button class="close" (click)="closeAssignServiceProvider()">x</button>
                            <div class="auto-flex-start-space-between-gap10">

                                <button class="primary-bg padding-10 secondary-color bold" (click)="addServiceProvider()">Add a New Service Provider</button>
                                <button class="primary-bg padding-10 secondary-color bold" *ngIf="selectedSPs.length>0" (click)="assignSelectedServiceProviderToBranch()">Assign Selected Service Providers to Branch</button>

                            </div>

                            <hr class="hr-black" />

                            <!-- list of service providers -->
                            <div class="auto-flex-center-start-gap10" *ngIf="spListRenderer">

                                <ng-multiselect-dropdown class="max-width" [settings]="spSettings" [data]="spList" (onSelect)="onSPSelect($event)" (onDeSelect)="onSPDeSelect($event)" (onSelectAll)="onSPSelectAll($event)" (onDeSelectAll)="onSPDeSelectAll()"></ng-multiselect-dropdown>

                            </div>

                            <!-- now we will display a list of service providers to assign, it will also dis-->
                            <!-- TO BE REPLACED -->
                            <!--<table class="table">

                                <th>ID</th>
                                <th>Name</th>
                                <th>Branch</th>
                                <th>Gender</th>
                                <th>Address</th>
                                <th>Start Time</th>
                                <th>End Time</th>
                                <th>Unavailable</th>
                                <th>Busy</th>
                                <th>Actions</th>

                                <tr *ngFor="let sp of serviceProviderListAssigned">
                                    
                                    <td>
                                        <p> {{ sp.id }} </p>
                                    </td>

                                    <td>
                                        <img [src]="sp.profile_image" *ngIf="sp.profile_image && sp.profile_image.length>0">
                                        <p> {{ sp.first_name }} {{ sp.last_name }} </p>
                                    </td>

                                    <td>
                                        <p> {{ sp.title }} </p>
                                    </td>

                                    <td>
                                        <p *ngIf="sp.gender===1">Male</p>
                                        <p *ngIf="sp.gender===2">Female</p>
                                        <p *ngIf="sp.gender===3">Any</p>
                                    </td>

                                    <td>
                                        <p> {{ sp.address }}</p>
                                    </td>

                                    <td>
                                        <p> {{ sp.start_time }} </p>
                                    </td>

                                    <td>
                                        <p> {{ sp.end_time }} </p>
                                    </td>

                                    <td>
                                        <p *ngIf="sp.unavailable"> true </p>
                                        <p *ngIf="!sp.unavailable"> false </p>
                                    </td>

                                    <td>
                                        <p *ngIf="sp.busy"> true </p>
                                        <p *ngIf="!sp.busy"> false </p>
                                    </td>

                                    <td class="auto-flex-center-gap10-no-set-width">
                                        <button class="glass-bg padding-5 border-none" (click)="serviceProviderServices(sp)">services</button>
                                        <button class="red-bg bold secondary-color padding-5 border-radius-10" (click)="unassignBranch(sp.id)">remove</button>
                                    </td>

                                </tr>

                            </table> -->

                            <table class="table">

                                <th>ID</th>
                                <th>Name</th>
                                <th>Branch</th>
                                <th>Gender</th>
                                <th>Actions</th>

                                <!-- display a list of service providers already assigned -->
                                <tr *ngFor="let sp of serviceProviderListAssigned">
                                    
                                    <td>
                                        <p> {{ sp.id }} </p>
                                    </td>

                                    <td>
                                        <p> {{ sp.first_name }} {{ sp.last_name }} </p>
                                    </td>

                                    <td>
                                        <p> {{ sp.title }} </p>
                                    </td>

                                    <td>
                                        <p *ngIf="sp.gender===1">Male</p>
                                        <p *ngIf="sp.gender===2">Female</p>
                                        <p *ngIf="sp.gender===3">Any</p>
                                    </td>

                                    <td class="auto-flex-center-gap10-no-set-width">
                                        <button class="glass-bg padding-5 border-none" (click)="serviceProviderServices(sp)">services</button>
                                        <button class="red-bg bold secondary-color padding-5 border-radius-10" (click)="unassignBranch(sp.id)">remove</button>
                                    </td>

                                </tr>

                            </table>

                        </div>

                    </div>
                    
                </div> 

                <!-- Add a new service provider -->
                <div class="fixed dialog" *ngIf="addNewServiceProviderToggle">

                    <div class="popup">

                        <div class="content white-bg scrollable-div">

                            <button class="close" (click)="closeAddNewServiceProvider()">x</button>

                            <form [formGroup]="addServiceProviderForm" (ngSubmit)="createServiceProvider()">

                                <div class="auto-flex-center-gap20">
                                    
                                    <div class="auto-flex-center-start-gap20">

                                        <div class="auto-flex-start-gap10-column-no-set-width width-half">

                                            <p class="bold">First Name</p>
                                            <input class="input-global" formControlName="first_name" type="text" />    

                                        </div>

                                        <div class="auto-flex-start-gap10-column-no-set-width width-half">

                                            <p class="bold">Last Name</p>
                                            <input class="input-global" formControlName="last_name" type="text" />
        
                                        </div>

                                    </div>

                                    <div class="auto-flex-center-start-gap20">

                                        <div class="auto-flex-start-gap10-column-no-set-width width-half">

                                            <p class="bold">Email</p>
                                            <input class="input-global" formControlName="email" type="text" />    

                                        </div>

                                        <div class="auto-flex-start-gap10-column-no-set-width width-half">

                                            <p class="bold">Phone Number</p>
                                            <input class="input-global" formControlName="phone_number" type="text" />
        
                                        </div>

                                    </div>

                                    <div class="auto-flex-center-start-gap20">

                                        <div class="auto-flex-start-gap10-column-no-set-width width-half">

                                            <p class="bold">Nationality</p>

                                            <select  class="input-global" formControlName="nationality">

                                                <option value="saudi">Saudi</option>
                                                <option value="non_saudi">Non Saudi</option>

                                            </select> 

                                        </div>

                                        <div class="auto-flex-start-gap10-column-no-set-width width-half">

                                            <p class="bold">gender</p>

                                            <select class="input-global" formControlName="gender">

                                                <option value="1">Male</option>
                                                <option value="2">Female</option>

                                            </select>
        
                                        </div>

                                    </div>
                                    

                                    <div class="auto-flex-center-start-gap20">

                                        <div class="auto-flex-start-gap10-column-no-set-width width-half">

                                            <p class="bold">Password</p>
                                            <input class="input-global" formControlName="password" type="password" />    
        
                                        </div>

                                    </div>

                              
                                    <div class="auto-flex-center-start-gap20">

                                        <div class="auto-flex-start-gap10-column-no-set-width width-half">

                                            <p class="bold">Medical License No.</p>
                                            <input class="input-global" formControlName="medical_license" type="text" />    
        
                                        </div>

                                        <div class="auto-flex-start-gap10-column-no-set-width width-half">
                                            
                                            <p class="bold">Medical License Expiry Date</p>
                                            <input class="input-global" formControlName="medical_license_expiry_date" type="date" />    

                                        </div>

                                    </div>

                                    <div class="auto-flex-center-start-gap20">

                                        <div class="auto-flex-start-gap10-column">

                                            <p class="bold">Branch</p>
                                            <select class="input-global" formControlName="branch_id">
                                                <option *ngFor="let branch of branchList" [value]="branch.id">{{branch.title}}</option>
                                            </select>
        
                                        </div>

                                    </div>
                                    
                                    <div class="auto-flex-center-gap10">

                                        <button class="primary-bg max-width padding-10 secondary-color" type="submit">Add Service Provider</button>

                                    </div>

                                </div>

                            </form>     

                        </div>

                    </div>

                </div>

                <!--TO BE REPLACED LATER-->
                <!-- <!-- Add a new service provider 
                <div class="fixed dialog" *ngIf="addNewServiceProviderToggle">

                    <div class="popup">

                        <div class="content white-bg scrollable-div">

                            <button class="close" (click)="closeAddNewServiceProvider()">x</button>

                            <form [formGroup]="addServiceProviderForm" (ngSubmit)="createServiceProvider()">

                                <div class="auto-flex-center-gap20">
                                    
                                    <div class="auto-flex-center-start-gap20">
                                    
                                        <input type="file" accept="image/*" name="uploadfile" id="branch_image" style="display:none;"/>
                                        <label class="glass-bg padding-10 cursor-pointer" for="branch_image">Upload Image</label>

                                    </div>

                                    <div class="auto-flex-center-start-gap20">

                                        <div class="auto-flex-start-gap10-column-no-set-width width-half">

                                            <p class="bold">First Name</p>
                                            <input class="input-global" formControlName="first_name" type="text" />    

                                        </div>

                                        <div class="auto-flex-start-gap10-column-no-set-width width-half">

                                            <p class="bold">Last Name</p>
                                            <input class="input-global" formControlName="last_name" type="text" />
        
                                        </div>

                                    </div>

                                    <div class="auto-flex-center-start-gap20">

                                        <div class="auto-flex-start-gap10-column-no-set-width width-half">

                                            <p class="bold">Date of Birth</p>
                                            <input class="input-global" formControlName="dob" type="date" />    

                                        </div>

                                        <div class="auto-flex-start-gap10-column-no-set-width width-half">

                                            <p class="bold">Phone Number</p>
                                            <input class="input-global" formControlName="phone_number" type="text" />
        
                                        </div>

                                    </div>

                                    <div class="auto-flex-center-start-gap20">

                                        <div class="auto-flex-start-gap10-column-no-set-width width-half">

                                            <p class="bold">Email</p>
                                            <input class="input-global" formControlName="email" type="text" />    

                                        </div>

                                        <div class="auto-flex-start-gap10-column-no-set-width width-half">

                                            <p class="bold">gender</p>

                                            <select class="input-global" formControlName="gender">

                                                <option value="1">Male</option>
                                                <option value="2">Female</option>

                                            </select>
        
                                        </div>

                                    </div>
                                    
                                    <div class="auto-flex-center-start-gap20">

                                        <div class="auto-flex-start-gap10-column-no-set-width width-half">

                                            <p class="bold">Nationality</p>

                                            <select  class="input-global" formControlName="nationality">

                                                <option value="saudi">Saudi</option>
                                                <option value="non_saudi">Non Saudi</option>

                                            </select> 

                                        </div>

                                        <div class="auto-flex-start-gap10-column-no-set-width width-half">

                                            <p class="bold">Marital Status</p>

                                            <select  class="input-global" formControlName="marital_status">

                                                <option value="single">Single</option>
                                                <option value="married">Married</option>

                                            </select>
        
                                        </div>

                                    </div>

                                    <div class="auto-flex-center-start-gap20">

                                        <div class="auto-flex-start-gap10-column">

                                            <p class="bold">Address</p>
                                            <input class="input-global" formControlName="address" type="text" />    

                                        </div>

                                    </div>

                                    <div class="auto-flex-center-start-gap20">

                                        <div class="auto-flex-start-gap10-column-no-set-width width-half">

                                            <p class="bold">ID Type</p>

                                            <select  class="input-global" formControlName="id_type">
                                                <option value="nationalId">National ID/Iqama</option>
                                                <option value="passport">Passport</option>
                                                <option value="other">Other</option>
                                            </select>
        
                                        </div>

                                        <div class="auto-flex-start-gap10-column-no-set-width width-half">

                                            <p class="bold">ID number</p>
                                            <input class="input-global" formControlName="id_number" type="text" />    

                                        </div>

                                    </div>

                                    <div class="auto-flex-center-start-gap20">

                                        <div class="auto-flex-start-gap10-column-no-set-width width-half">

                                            <p class="bold">Password</p>
                                            <input class="input-global" formControlName="password" type="password" />    
        
                                        </div>

                                        <div class="auto-flex-start-gap10-column-no-set-width width-half">

                                            <p class="bold">Type</p>
                                            <select class="input-global" formControlName="type">
                                                <option value="doctor">Doctor</option>
                                                <option value="nurse">Nurse</option>
                                            </select>

                                        </div>

                                    </div>

                                    <div class="auto-flex-center-start-gap20">

                                        <div class="auto-flex-start-gap10-column-no-set-width width-half">

                                            <p class="bold">start_time</p>
                                            <input class="input-global" formControlName="start_time" type="time" />    
        
                                        </div>

                                        <div class="auto-flex-start-gap10-column-no-set-width width-half">
                                            
                                            <p class="bold">end_time</p>
                                            <input class="input-global" formControlName="end_time" type="time" />    

                                        </div>

                                    </div>

                                    <div class="auto-flex-center-start-gap20">

                                        <div class="auto-flex-start-gap10-column-no-set-width width-half">

                                            <p class="bold">Medical License No.</p>
                                            <input class="input-global" formControlName="medical_license" type="text" />    
        
                                        </div>

                                        <div class="auto-flex-start-gap10-column-no-set-width width-half">
                                            
                                            <p class="bold">Medical License Expiry Date</p>
                                            <input class="input-global" formControlName="medical_license_expiry_date" type="date" />    

                                        </div>

                                    </div>

                                    <div class="auto-flex-center-start-gap20">

                                        <div class="auto-flex-start-gap10-column">

                                            <p class="bold">Branch</p>
                                            <select class="input-global" formControlName="branch_id">
                                                <option *ngFor="let branch of branchList" [value]="branch.id">{{branch.title}}</option>
                                            </select>
        
                                        </div>

                                    </div>
                                    
                                    <div class="auto-flex-center-gap10">

                                        <button class="primary-bg max-width padding-10 secondary-color" type="submit">Add Service Provider</button>

                                    </div>

                                </div>

                            </form>     

                        </div>

                    </div>

                </div>-->
                
                <!-- Assign services to service provider -->
                <div class="fixed dialog" *ngIf="serviceProviderServiceToggle">

                    <div class="popup height-600">

                        <div class="content white-bg scrollable-div">

                            <button class="close" (click)="closeServiceProviderServices()">x</button>

                            <form [formGroup]="addServiceProviderForm" (ngSubmit)="updateServicesForServiceProvider()">

                                <div class="auto-flex-center-gap20">

                                    <div class="auto-flex-center-gap10">

                                        <button class="primary-bg max-width padding-10 secondary-color" type="submit">Assign Services</button>

                                        <!-- list of services -->
                                        <div class="auto-flex-center-start-gap10" *ngIf="serviceListRenderer">

                                            <ng-multiselect-dropdown class="max-width" *ngIf="serviceListFiltered.length>0 && serviceSettings" [settings]="serviceSettings" [data]="serviceListFiltered" (onSelect)="onServiceSelect($event)" (onDeSelect)="onServiceDeSelect($event)" (onSelectAll)="onServiceSelectAll($event)" (onDeSelectAll)="onServiceDeSelectAll()"></ng-multiselect-dropdown>

                                        </div>

                                         <!-- now we will display a list of services assigned to service provider -->
                                        <table class="table">
                                            
                                            <th>ID</th>
                                            <th>Service Id</th>
                                            <th>Service Name</th>
                                            <th>Actions</th>

                                            <!-- display a list of service providers already assigned -->
                                            <tr *ngFor="let service of serviceProviderAssignedServices">

                                                <td>
                                                    <p> {{ service.sps_id }} </p>
                                                </td>

                                                <td>
                                                    <p> {{ service.service_id }} </p>
                                                </td>

                                                <td>
                                                    <p> {{ service.title }} </p>
                                                </td>

                                                <td class="auto-flex-center-gap10-no-set-width">
                                                    <button class="red-bg bold secondary-color padding-5 border-radius-10" (click)="unassignServiceServiceProvider(service.id)">remove</button>
                                                </td>

                                            </tr>

                                        </table>


                                    </div>

                                </div>

                            </form>     

                        </div>

                    </div>

                </div>
                    
            </div>

        </main>
    
    </section>

</div>