<div id="app">
   <section class="el-container">
      <div>
         <menu class="menu-bar">
            <a href="javascript:void(0);" class="toggle-menu">
               <div class="inactive"><span class="bar bar1"></span><span class="bar"></span><span
                     class="bar bar3"></span></div>
            </a>
            <a href="dashboard" class="logo"><img src="assets/images/Taib_logo_Trans.png" width="50%"></a>
         </menu>

         <app-sidebar></app-sidebar>
         <app-submenu></app-submenu>
         
      </div>
      <main class="el-main">
         <app-header></app-header>
         <div>
            <div>
               <button type="button" class="el-button back-btn el-button--default el-button--small is-plain"
                  routerLink="../technician">
                  <span><i class="icon-arrow-left h2"></i></span>
               </button>
               <div class="el-card customtabs is-always-shadow">
                  <!---->
                  <div class="el-card__body">
                     <div class="el-tabs el-tabs--top el-tabs--border-card">
                        <div class="el-tabs__header is-top">
                           <div class="el-tabs__nav-wrap is-top">
                              <div class="el-tabs__nav-scroll">
                                 <div role="tablist" class="el-tabs__nav is-top" style="transform: translateX(0px);">
                                    <div id="tab-basic" aria-controls="pane-basic" role="tab" aria-selected="true"
                                       tabindex="0" class="el-tabs__item is-top is-active"><span>Basic Details</span>
                                    </div>
                                    <button id="myBtn" aria-controls="pane-schedule" role="tab" tabindex="-1"
                                       class="el-tabs__item is-top"><span>Schedule Configuration</span></button>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="el-tabs__content">
                           <div role="tabpanel" id="pane-basic" aria-labelledby="tab-basic" class="el-tab-pane">
                              <div>
                                 <form class="el-form newform el-form--label-top"
                                    (ngSubmit)="postNewCareProviderStaff()" [formGroup]="typeValidationForm">
                                    <div class="m-t20">
                                       <!---->
                                       <div>
                                          <div tabindex="0" class="el-upload el-upload--text">
                                             <!---->
                                             <div class="d-flex-center"><img src="assets/images/photoupload.svg"
                                                   class="avatar-img"><input type="file" name="fileToUpload"
                                                   accept="image/*" id="fileToUploads"><span class="gray-color">Upload
                                                   Photo</span></div>
                                             <!-- <input type="file" name="filename" accept="image/*" class="el-upload__input"> -->
                                          </div>
                                       </div>
                                    </div>

                                    <div class="m-t20 el-row" style="margin-left: -15px; margin-right: -15px;">
                                       <div
                                          class="el-col el-col-24 el-col-xs-24 el-col-sm-12 el-col-md-8 el-col-lg-8 el-col-xl-8"
                                          style="padding-left: 15px; padding-right: 15px;">
                                          <div class="el-form-item is-required">
                                             <label for="role_id" class="el-form-item__label">Role</label>
                                             <div class="el-form-item__content">
                                                <div class="el-select line-input">

                                                   <select class="select" formControlName="userRoleId"
                                                      [ngClass]="{'is-invalid': type['userRoleId'].errors && (type['userRoleId'].dirty || type['userRoleId'].touched)}">
                                                      <option value="">Select Role</option>
                                                      <option class="el-select-dropdown__item multiple-select">
                                                         <span>Lab Technician</span>
                                                      </option>
                                                   </select>

                                                   <div
                                                      *ngIf="type['userRoleId'].errors && (type['userRoleId'].dirty || type['userRoleId'].touched)"
                                                      class="invalid-feedback">
                                                      <span *ngIf="type['userRoleId'].errors['required']">This value is
                                                         required.</span>
                                                   </div>

                                                </div>

                                             </div>
                                          </div>
                                       </div>
                                       <div
                                          class="el-col el-col-24 el-col-xs-24 el-col-sm-12 el-col-md-8 el-col-lg-8 el-col-xl-8"
                                          style="padding-left: 15px; padding-right: 15px;">
                                          <div class="el-form-item is-required">
                                             <label for="title_id" class="el-form-item__label">Title</label>
                                             <div class="el-form-item__content">
                                                <div class="el-select line-input">
                                                   <div class="el-input el-input--suffix">

                                                      <select class="select" formControlName="title"
                                                         [ngClass]="{'is-invalid': type['title'].errors && (type['title'].dirty || type['title'].touched)}">
                                                         <option value="">Select Title</option>
                                                         <option class="el-select-dropdown__item"><span>Ms</span>
                                                         </option>
                                                         <option class="el-select-dropdown__item">
                                                            <span>Prof_Female</span></option>
                                                         <option class="el-select-dropdown__item"><span>Prof_Male</span>
                                                         </option>
                                                         <option class="el-select-dropdown__item"><span>Mr</span>
                                                         </option>
                                                         <option class="el-select-dropdown__item"><span>Dr</span>
                                                         </option>
                                                      </select>

                                                      <div
                                                         *ngIf="type['title'].errors && (type['title'].dirty || type['title'].touched)"
                                                         class="invalid-feedback">
                                                         <span *ngIf="type['title'].errors['required']">This value is
                                                            required.</span>
                                                      </div>


                                                   </div>
                                                </div>
                                             </div>
                                          </div>
                                       </div>

                                    </div>
                                    <div class="el-row" style="margin-left: -15px; margin-right: -15px;">
                                       <div
                                          class="el-col el-col-24 el-col-xs-24 el-col-sm-12 el-col-md-8 el-col-lg-8 el-col-xl-8"
                                          style="padding-left: 15px; padding-right: 15px;">
                                          <div class="el-form-item is-required">
                                             <label for="fn.en" class="el-form-item__label">First Name</label>
                                             <div class="el-form-item__content">
                                                <div class="line-input el-input">
                                                   <!-- <input id="firstName" type="text" autocomplete="off"
                                                      placeholder="Enter First Name" class="el-input__inner"> -->


                                                   <input type="text" class="el-input__inner"
                                                      formControlName="firstName"
                                                      [ngClass]="{'is-invalid': type['firstName'].errors && (type['firstName'].dirty || type['firstName'].touched)}"
                                                      placeholder="Enter First Name" />

                                                   <div
                                                      *ngIf="type['firstName'].errors && (type['firstName'].dirty || type['firstName'].touched)"
                                                      class="invalid-feedback">
                                                      <span *ngIf="type['firstName'].errors['required']">This value is
                                                         required.</span>
                                                   </div>


                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                       <div
                                          class="el-col el-col-24 el-col-xs-24 el-col-sm-12 el-col-md-8 el-col-lg-8 el-col-xl-8"
                                          style="padding-left: 15px; padding-right: 15px;">
                                          <div class="el-form-item is-required">
                                             <label for="fn.ar" class="el-form-item__label">First name in Arabic</label>
                                             <div class="el-form-item__content">
                                                <div class="line-input el-input">
                                                   <!-- <input id="firstNameArabic" type="text" autocomplete="off"
                                                      placeholder="Enter First name in Arabic" class="el-input__inner"> -->

                                                   <input type="text" class="el-input__inner"
                                                      formControlName="firstNameArabic"
                                                      [ngClass]="{'is-invalid': type['firstNameArabic'].errors && (type['firstNameArabic'].dirty || type['firstNameArabic'].touched)}"
                                                      placeholder="Enter First name in Arabic" />

                                                   <div
                                                      *ngIf="type['firstNameArabic'].errors && (type['firstNameArabic'].dirty || type['firstNameArabic'].touched)"
                                                      class="invalid-feedback">
                                                      <span *ngIf="type['firstNameArabic'].errors['required']">This
                                                         value is required.</span>
                                                   </div>



                                                </div>

                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                    <div class="el-row" style="margin-left: -15px; margin-right: -15px;">
                                       <div
                                          class="el-col el-col-24 el-col-xs-24 el-col-sm-12 el-col-md-8 el-col-lg-8 el-col-xl-8"
                                          style="padding-left: 15px; padding-right: 15px;">
                                          <div class="el-form-item is-required">
                                             <label for="ln.en" class="el-form-item__label">Last Name</label>
                                             <div class="el-form-item__content">
                                                <div class="line-input el-input">
                                                   <!-- <input id="lastName" type="text" autocomplete="off"
                                                      placeholder="Enter Last Name" class="el-input__inner"> -->

                                                   <input type="text" class="el-input__inner" formControlName="lastName"
                                                      [ngClass]="{'is-invalid': type['lastName'].errors && (type['lastName'].dirty || type['lastName'].touched)}"
                                                      placeholder="Enter Last Name" />

                                                   <div
                                                      *ngIf="type['lastName'].errors && (type['lastName'].dirty || type['lastName'].touched)"
                                                      class="invalid-feedback">
                                                      <span *ngIf="type['lastName'].errors['required']">This value is
                                                         required.</span>
                                                   </div>


                                                </div>
                                             </div>
                                          </div>
                                       </div>

                                       <div
                                          class="el-col el-col-24 el-col-xs-24 el-col-sm-12 el-col-md-8 el-col-lg-8 el-col-xl-8"
                                          style="padding-left: 15px; padding-right: 15px;">
                                          <div class="el-form-item is-required">
                                             <label for="ln.ar" class="el-form-item__label">Last name in Arabic</label>
                                             <div class="el-form-item__content">
                                                <div class="line-input el-input">
                                                   <!-- <input id="lastNameArabic" type="text" autocomplete="off"
                                                      placeholder="Enter Last name in Arabic" class="el-input__inner"> -->

                                                   <input type="text" class="el-input__inner"
                                                      formControlName="lastNameArabic"
                                                      [ngClass]="{'is-invalid': type['lastNameArabic'].errors && (type['lastNameArabic'].dirty || type['lastNameArabic'].touched)}"
                                                      placeholder="Enter Last name in Arabic" />

                                                   <div
                                                      *ngIf="type['lastNameArabic'].errors && (type['lastNameArabic'].dirty || type['lastNameArabic'].touched)"
                                                      class="invalid-feedback">
                                                      <span *ngIf="type['lastNameArabic'].errors['required']">This value
                                                         is required.</span>
                                                   </div>


                                                </div>

                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                    <div class="el-row" style="margin-left: -15px; margin-right: -15px;">
                                       <div
                                          class="el-col el-col-24 el-col-xs-24 el-col-sm-12 el-col-md-8 el-col-lg-8 el-col-xl-8"
                                          style="padding-left: 15px; padding-right: 15px;">
                                          <div class="el-form-item is-required">
                                             <label for="email" class="el-form-item__label">Email id</label>
                                             <div class="el-form-item__content">
                                                <div class="line-input el-input">
                                                   <!-- <input id="emailId" type="text" autocomplete="off"
                                                      placeholder="Enter Email" class="el-input__inner"> -->

                                                   <input type="text" class="el-input__inner" id="emailId"
                                                      formControlName="emailId"
                                                      [ngClass]="{'is-invalid': type['emailId'].errors && (type['emailId'].dirty || type['emailId'].touched)}"
                                                      placeholder="Enter Email" />

                                                   <div
                                                      *ngIf="type['emailId'].errors && (type['emailId'].dirty || type['emailId'].touched)"
                                                      class="invalid-feedback">
                                                      <span *ngIf="type['emailId'].errors['required']">This value is
                                                         required.</span>
                                                   </div>



                                                </div>

                                             </div>
                                          </div>
                                       </div>
                                       <div
                                          class="el-col el-col-24 el-col-xs-24 el-col-sm-12 el-col-md-8 el-col-lg-8 el-col-xl-8"
                                          style="padding-left: 15px; padding-right: 15px;">
                                          <div class="el-form-item is-required">
                                             <label for="natio" class="el-form-item__label">Nationality</label>
                                             <div class="el-form-item__content">
                                                <div class="el-select line-input">
                                                   <div class="el-input el-input--suffix">
                                                      <select class="select" formControlName="nationality"
                                                         [ngClass]="{'is-invalid': type['nationality'].errors && (type['nationality'].dirty || type['nationality'].touched)}">
                                                         <option value="">Select Nationality</option>
                                                         <option class="el-select-dropdown__item">
                                                            <span>Saudi Arabia</span>
                                                         </option>
                                                      </select>

                                                      <div
                                                         *ngIf="type['nationality'].errors && (type['nationality'].dirty || type['nationality'].touched)"
                                                         class="invalid-feedback">
                                                         <span *ngIf="type['nationality'].errors['required']">This value
                                                            is required.</span>
                                                      </div>
                                                   </div>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                       <div
                                          class="el-col el-col-24 el-col-xs-24 el-col-sm-12 el-col-md-8 el-col-lg-8 el-col-xl-8"
                                          style="padding-left: 15px; padding-right: 15px;">
                                          <div class="el-row" style="margin-left: -10px; margin-right: -10px;">
                                             <div
                                                class="el-col el-col-24 el-col-xs-8 el-col-sm-8 el-col-md-8 el-col-lg-8 el-col-xl-8"
                                                style="padding-left: 10px; padding-right: 10px;">
                                                <div class="el-form-item is-required">
                                                   <label for="pc" class="el-form-item__label">Code</label>
                                                   <div class="el-form-item__content">
                                                      <div class="el-select line-input">
                                                         <div class="el-input el-input--suffix">
                                                            <select class="select" formControlName="code"
                                                               [ngClass]="{'is-invalid': type['code'].errors && (type['code'].dirty || type['code'].touched)}">
                                                               <option value="">Select</option>
                                                               <option class="el-select-dropdown__item">
                                                                  <span>+966</span>
                                                               </option>
                                                            </select>


                                                            <div
                                                               *ngIf="type['code'].errors && (type['code'].dirty || type['code'].touched)"
                                                               class="invalid-feedback">
                                                               <span *ngIf="type['code'].errors['required']">This value
                                                                  is required.</span>
                                                            </div>
                                                         </div>
                                                      </div>

                                                   </div>
                                                </div>
                                             </div>
                                             <div
                                                class="el-col el-col-24 el-col-xs-16 el-col-sm-16 el-col-md-16 el-col-lg-16 el-col-xl-16"
                                                style="padding-left: 10px; padding-right: 10px;">
                                                <div class="el-form-item is-required">
                                                   <label for="ph" class="el-form-item__label">Mobile number</label>
                                                   <div class="el-form-item__content">
                                                      <div class="line-input el-input">
                                                         <!-- <input id="mobileNumber" type="number" autocomplete="off"
                                                            placeholder="Mobile number" class="el-input__inner"> -->

                                                         <input type="number" class="el-input__inner"
                                                            formControlName="mobile"
                                                            [ngClass]="{'is-invalid': type['mobile'].errors && (type['mobile'].dirty || type['mobile'].touched)}"
                                                            placeholder="Enter Mobile number" />

                                                         <div
                                                            *ngIf="type['mobile'].errors && (type['mobile'].dirty || type['mobile'].touched)"
                                                            class="invalid-feedback">
                                                            <span *ngIf="type['mobile'].errors['required']">This value
                                                               is required.</span>
                                                         </div>



                                                      </div>
                                                   </div>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                       <div
                                          class="el-col el-col-24 el-col-xs-24 el-col-sm-12 el-col-md-8 el-col-lg-8 el-col-xl-8"
                                          style="padding-left: 15px; padding-right: 15px;">
                                          <div class="el-form-item">
                                             <label for="dob" class="el-form-item__label">Date Of Birth</label>
                                             <div class="el-form-item__content">
                                                <!-- <input id="dobinput" type="date" name="" class="date" placeholder="DOB"> -->
                                                <input type="date" class="date" id="dobinput" formControlName="dob"
                                                   placeholder="DOB" />
                                                   <div *ngIf="type['dob'].errors && (type['dob'].dirty || type['dob'].touched)" class="invalid-feedback">
                                                      <span *ngIf="type['dob'].errors['required']">This value is required.</span>
                                                    </div>

                                             </div>
                                          </div>
                                       </div>
                                       <div
                                          class="el-col el-col-24 el-col-xs-24 el-col-sm-12 el-col-md-8 el-col-lg-8 el-col-xl-8"
                                          style="padding-left: 15px; padding-right: 15px;">
                                          <div class="el-form-item">
                                             <label for="blood" class="el-form-item__label">Blood Group</label>
                                             <div class="el-form-item__content">
                                                <div class="el-select line-input">
                                                   <div class="el-input el-input--suffix">
                                                      <select id="bloodGroup" class="select"
                                                         (change)="bloodGroupChanged($event)"
                                                         formControlName="bloodGroup">
                                                         <option value="">Select Blood Group</option>
                                                         <option class="el-select-dropdown__item"><span>A+</span>
                                                         </option>
                                                         <option class="el-select-dropdown__item"><span>B+</span>
                                                         </option>
                                                         <option class="el-select-dropdown__item"><span>AB+</span>
                                                         </option>
                                                         <option class="el-select-dropdown__item"><span>A-</span>
                                                         </option>
                                                         <option class="el-select-dropdown__item"><span>B-</span>
                                                         </option>
                                                         <option class="el-select-dropdown__item"><span>AB-</span>
                                                         </option>
                                                         <option class="el-select-dropdown__item"><span>O+</span>
                                                         </option>
                                                         <option class="el-select-dropdown__item"><span>O-</span>
                                                         </option>
                                                      </select>
                                                   </div>
                                                </div>

                                             </div>
                                          </div>
                                       </div>
                                       <div
                                          class="el-col el-col-24 el-col-xs-24 el-col-sm-12 el-col-md-8 el-col-lg-8 el-col-xl-8"
                                          style="padding-left: 15px; padding-right: 15px;">
                                          <div class="el-form-item is-required">
                                             <label for="deg" class="el-form-item__label">Degree</label>
                                             <div class="el-form-item__content">
                                                <div class="el-select line-input">
                                                   <div class="el-input el-input--suffix">
                                                      <select class="select" formControlName="degree"
                                                         [ngClass]="{'is-invalid': type['degree'].errors && (type['degree'].dirty || type['degree'].touched)}">
                                                         <option value="">Select Degree</option>
                                                         <option class="el-select-dropdown__item"><span>Bachelor
                                                               Degree</span></option>
                                                         <option class="el-select-dropdown__item"><span>PhD / Consultant
                                                               speciaoptionst</span></option>
                                                         <option class="el-select-dropdown__item"><span>Master degree/
                                                               Senior speciaoptionst</span></option>
                                                         <option class="el-select-dropdown__item"><span>Master
                                                               Degree</span></option>
                                                         <option class="el-select-dropdown__item"><span>Diploma</span>
                                                         </option>
                                                         <option class="el-select-dropdown__item"><span>Bachelor
                                                               degree/Speciaoptionst</span></option>
                                                         <option class="el-select-dropdown__item">
                                                            <span>Highschool</span></option>
                                                      </select>

                                                      <div
                                                         *ngIf="type['degree'].errors && (type['degree'].dirty || type['degree'].touched)"
                                                         class="invalid-feedback">
                                                         <span *ngIf="type['degree'].errors['required']">This value is
                                                            required.</span>
                                                      </div>

                                                   </div>
                                                </div>

                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                    <div class="el-row" style="margin-left: -15px; margin-right: -15px;">
                                       <div
                                          class="el-col el-col-24 el-col-xs-24 el-col-sm-12 el-col-md-8 el-col-lg-8 el-col-xl-8"
                                          style="padding-left: 15px; padding-right: 15px;">
                                          <div class="el-form-item is-required">
                                             <label for="known_lang.en" class="el-form-item__label">Languages
                                                spoken</label>
                                             <div class="el-form-item__content">
                                                <div class="el-select line-input">

                                                   <select class="select" formControlName="languagesSpoken"
                                                      [ngClass]="{'is-invalid': type['languagesSpoken'].errors && (type['languagesSpoken'].dirty || type['languagesSpoken'].touched)}">
                                                      <option value="">Select Language</option>
                                                      <option class="el-select-dropdown__item"><span>Arabic</span>
                                                      </option>
                                                      <option class="el-select-dropdown__item"><span>English</span>
                                                      </option>
                                                   </select>

                                                   <div
                                                      *ngIf="type['languagesSpoken'].errors && (type['languagesSpoken'].dirty || type['languagesSpoken'].touched)"
                                                      class="invalid-feedback">
                                                      <span *ngIf="type['languagesSpoken'].errors['required']">This
                                                         value is required.</span>
                                                   </div>

                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                       <div
                                          class="el-col el-col-24 el-col-xs-24 el-col-sm-12 el-col-md-8 el-col-lg-8 el-col-xl-8"
                                          style="padding-left: 15px; padding-right: 15px;">
                                          <div class="el-form-item is-required">
                                             <label for="known_lang.ar" class="el-form-item__label">Languages spoken in
                                                Arabic</label>
                                             <div class="el-form-item__content">
                                                <div class="el-select line-input">

                                                   <select class="select" formControlName="languagesSpokenArabic"
                                                      [ngClass]="{'is-invalid': type['languagesSpokenArabic'].errors && (type['languagesSpokenArabic'].dirty || type['languagesSpokenArabic'].touched)}">
                                                      <option value="">Select Language in Arabic</option>
                                                      <option class="el-select-dropdown__item"><span>عربي</span>
                                                      </option>
                                                      <option class="el-select-dropdown__item"><span>إنجليزي</span>
                                                      </option>
                                                   </select>


                                                   <div
                                                      *ngIf="type['languagesSpokenArabic'].errors && (type['languagesSpokenArabic'].dirty || type['languagesSpokenArabic'].touched)"
                                                      class="invalid-feedback">
                                                      <span
                                                         *ngIf="type['languagesSpokenArabic'].errors['required']">This
                                                         value is required.</span>
                                                   </div>

                                                </div>

                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                    <div class="el-row" style="margin-left: -15px; margin-right: -15px;">
                                       <div
                                          class="el-col el-col-24 el-col-xs-24 el-col-sm-12 el-col-md-8 el-col-lg-8 el-col-xl-8"
                                          style="padding-left: 15px; padding-right: 15px;">
                                          <div class="el-form-item">
                                             <label for="des" class="el-form-item__label">Designation</label>
                                             <div class="el-form-item__content">
                                                <div class="line-input el-input">
                                                   <input id="designation" type="text" autocomplete="off"
                                                      formControlName="designation" placeholder="Enter Designation"
                                                      class="el-input__inner">
                                                </div>

                                             </div>
                                          </div>
                                       </div>

                                       <div
                                          class="el-col el-col-24 el-col-xs-24 el-col-sm-12 el-col-md-8 el-col-lg-8 el-col-xl-8"
                                          style="padding-left: 15px; padding-right: 15px;">
                                          <div class="el-form-item custom-radio">
                                             <label for="gnd" class="el-form-item__label">Gender</label>
                                             <div class="el-form-item__content">
                                                <input type="radio" id="" name="gender" class="el-radio__inner"
                                                   value="Male" checked (change)="genderSelected($event, 1)"
                                                   formControlName="gender">
                                                  <label for="">Male</label>
                                                  <input type="radio" id="" name="gender" class="el-radio__inner"
                                                   value="Female" (change)="genderSelected($event, 2)"
                                                   formControlName="gender">
                                                  <label for="">Female</label>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                    <div class="el-row" style="margin-left: -15px; margin-right: -15px;">
                                       <div
                                          class="el-col el-col-24 el-col-xs-24 el-col-sm-12 el-col-md-8 el-col-lg-8 el-col-xl-8"
                                          style="padding-left: 15px; padding-right: 15px;">
                                          <div class="el-form-item is-required">
                                             <label for="med_reg" class="el-form-item__label">Medical Reg No</label>
                                             <div class="el-form-item__content">
                                                <div class="line-input el-input">
                                                   <!-- <input id="medicalregno" type="text" autocomplete="off"
                                                      placeholder="Medical Reg No" class="el-input__inner"> -->

                                                   <input type="text" class="el-input__inner"
                                                      formControlName="medicalLicenseNo"
                                                      [ngClass]="{'is-invalid': type['medicalLicenseNo'].errors && (type['medicalLicenseNo'].dirty || type['medicalLicenseNo'].touched)}"
                                                      placeholder="Medical Reg No" />

                                                   <div
                                                      *ngIf="type['medicalLicenseNo'].errors && (type['medicalLicenseNo'].dirty || type['medicalLicenseNo'].touched)"
                                                      class="invalid-feedback">
                                                      <span *ngIf="type['medicalLicenseNo'].errors['required']">This
                                                         value is required.</span>
                                                   </div>


                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                       <div
                                          class="el-col el-col-24 el-col-xs-24 el-col-sm-12 el-col-md-12 el-col-lg-8 el-col-xl-8"
                                          style="padding-left: 15px; padding-right: 15px;">
                                          <div class="el-form-item is-required">
                                             <label for="med_reg_exp" class="el-form-item__label">Medical Licence
                                                expiry</label>
                                             <div class="el-form-item__content">
                                                <!-- <input id="medicallicence" type="date" id="" name="" class="date"
                                                   placeholder="DOB"> -->

                                                <input type="date" class="date"
                                                   formControlName="medicalLicenseExpiryDate"
                                                   [ngClass]="{'is-invalid': type['medicalLicenseExpiryDate'].errors && (type['medicalLicenseExpiryDate'].dirty || type['medicalLicenseExpiryDate'].touched)}"
                                                   placeholder="DOB" />

                                                <div
                                                   *ngIf="type['medicalLicenseExpiryDate'].errors && (type['medicalLicenseExpiryDate'].dirty || type['medicalLicenseExpiryDate'].touched)"
                                                   class="invalid-feedback">
                                                   <span
                                                      *ngIf="type['medicalLicenseExpiryDate'].errors['required']">This
                                                      value is required.</span>
                                                </div>

                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                    <div class="el-row" style="margin-left: -15px; margin-right: -15px;">
                                       <div
                                          class="el-col el-col-24 el-col-xs-24 el-col-sm-12 el-col-md-8 el-col-lg-8 el-col-xl-8"
                                          style="padding-left: 15px; padding-right: 15px;">
                                          <div class="el-form-item is-required">
                                             <label for="exp.en.val" class="el-form-item__label">Experience</label>
                                             <div class="el-form-item__content">
                                                <div class="line-input el-input">
                                                   <!-- <input id="experience" type="number" autocomplete="off" max="2"
                                                      onkeypress="if(this.value.length==2) return;"
                                                      placeholder="Enter Experience" class="el-input__inner"> -->

                                                   <input type="text" class="el-input__inner"
                                                      formControlName="experience" max="2"
                                                      onkeypress="if(this.value.length==2) return;"
                                                      [ngClass]="{'is-invalid': type['experience'].errors && (type['experience'].dirty || type['experience'].touched)}"
                                                      placeholder="Enter Experience" />

                                                   <div
                                                      *ngIf="type['experience'].errors && (type['experience'].dirty || type['experience'].touched)"
                                                      class="invalid-feedback">
                                                      <span *ngIf="type['experience'].errors['required']">This value is
                                                         required.</span>
                                                   </div>



                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                       <div
                                          class="el-col el-col-24 el-col-xs-24 el-col-sm-12 el-col-md-8 el-col-lg-8 el-col-xl-8"
                                          style="padding-left: 15px; padding-right: 15px;">
                                          <div class="el-form-item is-required">
                                             <label for="exp.ar.val" class="el-form-item__label">Experience in
                                                Arabic</label>
                                             <div class="el-form-item__content">
                                                <div class="line-input el-input">
                                                   <!-- <input type="number" autocomplete="off" max="2"
                                                      onkeypress="if(this.value.length==2) return;"
                                                      placeholder="Enter Experience in Arabic" class="el-input__inner"> -->


                                                   <input type="text" class="el-input__inner"
                                                      formControlName="experienceArabic" max="2"
                                                      onkeypress="if(this.value.length==2) return;"
                                                      [ngClass]="{'is-invalid': type['experienceArabic'].errors && (type['experienceArabic'].dirty || type['experienceArabic'].touched)}"
                                                      placeholder="Enter Experience in Arabic" />

                                                   <div
                                                      *ngIf="type['experienceArabic'].errors && (type['experienceArabic'].dirty || type['experienceArabic'].touched)"
                                                      class="invalid-feedback">
                                                      <span *ngIf="type['experienceArabic'].errors['required']">This
                                                         value is required.</span>
                                                   </div>


                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                    <div class="el-row" style="margin-left: -15px; margin-right: -15px;"></div>
                                    <div class="el-row" style="margin-left: -15px; margin-right: -15px;"></div>
                                    <div class="el-row" style="margin-left: -15px; margin-right: -15px;"></div>
                                    <div class="el-row" style="margin-left: -15px; margin-right: -15px;"></div>
                                    <div class="el-row" style="margin-left: -15px; margin-right: -15px;"></div>
                                    <div class="el-row" style="margin-left: -15px; margin-right: -15px;"></div>
                                    <div class="el-row" style="margin-left: -15px; margin-right: -15px;"></div>
                                    <div class="el-row" style="margin-left: -15px; margin-right: -15px;"></div>
                                    <div class="el-row" style="margin-left: -15px; margin-right: -15px;"></div>
                                    <div class="m-t30 el-row" style="margin-left: -15px; margin-right: -15px;"></div>

                                    <div class="m-t30 el-row">
                                       <h4>Service Type</h4>
                                       <form class="el-form">
                                          <div class="el-form-item">
                                             <!---->
                                             <div class="el-form-item__content">
                                                <label class="el-checkbox"><span class="el-checkbox__input">
                                                      <input type="checkbox" id="scales" class="el-checkbox__inner"
                                                         name="">
                                                   </span>
                                                   <span class="el-checkbox__label">Home Visit
                                                   </span></label>

                                             </div>
                                          </div>
                                       </form>

                                       <div class="el-form-item">
                                          <label for="bio.en" class="el-form-item__label">Short Biography </label>
                                          <div class="el-form-item__content">
                                             <div class="line-input el-textarea">
                                                <textarea autocomplete="off" placeholder="Short Biography"
                                                   class="el-textarea__inner"
                                                   style="min-height: 138px; height: 138px;"></textarea>

                                             </div>
                                             <!---->
                                          </div>
                                       </div>
                                       <div class="el-form-item">
                                          <label for="bio.ar" class="el-form-item__label">Short Biography in
                                             Arabic</label>
                                          <div class="el-form-item__content">
                                             <div class="line-input el-textarea">
                                                <textarea autocomplete="off" placeholder="Short Biography in Arabic"
                                                   class="el-textarea__inner"
                                                   style="min-height: 138px; height: 138px;"></textarea>

                                             </div>
                                             <!---->
                                          </div>
                                       </div>
                                       <div class="m-b20 ">
                                          <!---->
                                          <div>
                                             <div tabindex="0" class="el-upload el-upload--text">
                                                <div class="d-flex-center"><i class="icon-circle-plus ico-blu"></i>
                                                   <span class="gray-color">Upload attachments (optional) </span>


                                                </div>

                                                <!-- <input type="file" name="fileToUpload" id="fileToUploads"> -->
                                                <input type="file" name="filename" accept="/*" class="el-upload__input"
                                                   multiple="multiple">
                                             </div>
                                             <ul class="el-upload-list el-upload-list--text"></ul>
                                          </div>
                                       </div>
                                    </div>
                                    <div class="el-form-item status" width="100">
                                       <label class="el-form-item__label">Status</label>
                                       <div class="el-form-item__content">
                                          <label class="el-checkbox is-disabled is-checked">
                                             <span class="el-checkbox__input is-disabled is-checked"><span
                                                   class="el-checkbox__inner"></span><input type="checkbox"
                                                   aria-hidden="false" disabled="disabled" class="el-checkbox__original"
                                                   value=""></span>
                                             <span class="el-checkbox__label">
                                                Active

                                             </span>
                                          </label>

                                       </div>
                                    </div>
                                    <div class="text-right">
                                       <button type="button" class="el-button el-button--default">
                                          <span>Reset</span>
                                       </button>

                                       <!-- <button type="button" class="el-button el-button--primary"
                                          (click)="onClickCreateUser()">
                                          <span>Save</span>
                                       </button> -->
                                       <button type="submit" class="btn btn-primary el-button el-button--primary save"
                                          [disabled]="!this.typeValidationForm.valid">
                                          Save
                                       </button>


                                    </div>
                                 </form>
                              </div>
                           </div>
                           <div role="tabpanel" aria-hidden="true" id="pane-schedule" aria-labelledby="tab-schedule"
                              class="el-tab-pane" style="display: none;"></div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </main>
   </section>
</div>
<div id="myModal" class="modal">

   <!-- Modal content -->
   <div class="modal-content">
      <div class="modal-body">
         <div class="el-dialog__header"><span class="el-dialog__title"></span><button type="button" aria-label="Close"
               class="el-dialog__headerbtn close"><i class="el-dialog__close el-icon el-icon-close"></i></button></div>
         <div class="el-dialog__body"><span class="sanarsprit schedule"></span>
            <p class="m-tb20" style="text-align: center;">To Add Schedule you must add employee</p>
         </div>
         <div class="el-dialog__footer"><span class="dialog-footer"><button type="button"
                  class="el-button el-button--primary ok">
                  <!----><span>Ok</span></button></span></div>
      </div>
      <div class="modal-footer">
         <h3></h3>
      </div>
   </div>

</div>
<script async="" defer="defer"
   src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA-EXDwh2adbELTFKlDgn3RXMP648GC12s&amp;sensor=false&amp;libraries=places">
</script>
<script type="text/javascript" src="static/js/manifest.787d0d92fd70cf16874e.js"></script>
<script type="text/javascript" src="static/js/vendor.6f6ef6bc866762bf29a6.js"></script>
<script type="text/javascript" src="static/js/app.a27789e3d261f525a01a.js"></script>
<div class="progress" style="width: 0%; height: 2px; background-color: rgb(122, 195, 254); opacity: 0;"></div>
<div role="tooltip" id="el-tooltip-1472" aria-hidden="true" class="el-tooltip__popper is-dark"
   style="transform-origin: center bottom; z-index: 2001; display: none;">
   Accounts
   <div x-arrow="" class="popper__arrow" style="left: 8px;"></div>
</div>