<app-checkout-header></app-checkout-header>

<div class="web auto-flex-start-gap40-column main-div-max padding-top-40" style="padding: 20px;">

    <!-- full name and user id -->
    <div class="auto-flex-center-start-gap20 cursor-pointer">

        <img class="xxmedImg" src="assets/images/web/icons/user.svg" />

        <div class="auto-flex-start-gap5-column-no-set-width">

            <p class="med bold" *ngIf="userData">{{ userData.first_name }} {{ userData.last_name }}</p>
            <p class="web-font-primary-light" *ngIf="userData">PAT{{ userData.id }}</p>
            <p class="web-font-primary-light" *ngIf="userData">{{ userData.phone_number }}</p>
            <button class="border-none padding-5 light-red-bg red-color" *ngIf="userData" (click)="logout()">{{ 'header.logout' | translate }}</button>
            
        </div>

    </div>

    <!-- tabs -->
    <div class="auto-flex-center-space-between-gap20">

        <div #personalInfo class="auto-flex-start-gap20-no-set-width width-half gray-border border-radius-20 padding-20 item-selected cursor-pointer" (click)="displayBlock('userInfo')">

            <img class="smallImg" src="assets/images/web/icons/account.svg" />
            
            <div class="auto-flex-start-gap10-column-no-set-width">

                <p class="bold">{{ 'patientProfile.account' | translate }}</p>
                <p class="web-font-primary-light capitalize">{{ 'patientProfile.personalInformation' | translate }}</p>

            </div>

        </div>

        <div #appointmentInfo class="auto-flex-start-gap20-no-set-width width-half gray-border border-radius-20 padding-20 cursor-pointer" (click)="displayBlock('appointmentInfo')">

            <img class="smallImg" src="assets/images/web/icons/appointment.svg" />
            
            <div class="auto-flex-start-gap10-column-no-set-width">

                <p class="bold">{{ 'patientProfile.appointments' | translate }}</p>
                <p class="web-font-primary-light capitalize">{{ 'patientProfile.appointmentInformation' | translate }}</p>

            </div>

        </div>

    </div>

    <!-- users tab-->
    <div class="auto-flex-start-gap10" *ngIf="displayUserInfo">
       
        <!-- users -->
        <div class="auto-flex-start-gap20-column border-radius-20 gray-border padding-20">

            <div class="auto-flex-center-start-gap10 cursor-pointer" (click)="addDependant()">

                <p class="med bold">{{ 'patientProfile.users' | translate }}</p>

                <div class="gray-border padding-5 border-radius-100">

                    <img class="img-20" src="assets/images/web/icons/plus.svg" />

                </div>

            </div>

            <div class="auto-flex-start-gap20-no-wrap overflow-auto padding-bottom-20 place-stretch">

                <div class="auto-flex-center-gap10-column-no-set-width width-min-100">

                    <img class="medImg" src="assets/images/web/icons/user.svg" />
                    <p class="bold">{{ 'patientProfile.users' | translate }}</p>

                </div>

                <div class="hr-black-vertical min-height-100"></div>

                <div class="auto-flex-center-gap10-column-no-set-width cursor-pointer width-min-100" *ngFor="let dependant of userDependants; let dependantIndex = index" (click)="showDependant(dependantIndex)">

                    <img class="medImg" src="assets/images/web/icons/user.svg" />
                    <p class="bold"> {{ dependant.first_name }} {{ dependant.last_name }}</p>

                </div>
                    
            </div>

            <!-- add dependent -->
            <div class="auto-flex-center-gap20-column" *ngIf="addDependantToggle">
                    
                <form class="auto-flex-start-gap10" [formGroup]="addDependantForm" (ngSubmit)="createDependant()">

                    <!-- input fields -->
                    <div class="auto-flex-center-space-between-gap20">

                        <div class="auto-flex-start-gap10-column-no-set-width width-half web-font-primary-light">

                            <p class="xsmall bold">{{ 'inputFields.firstName' | translate }}</p>
                            <input class="input-global" type="text" formControlName="first_name" placeholder="{{ 'inputFields.firstName_placeholder' | translate }}" />
                            <p *ngIf="addDependantForm.get('first_name').hasError('invalidFName')" class="xsmall red-color">{{ 'inputFields.firstName' | translate }}</p>

                        </div>    

                        <div class="auto-flex-start-gap10-column-no-set-width width-half web-font-primary-light">

                            <p class="xsmall bold">{{ 'inputFields.lastName' | translate }}</p>
                            <input class="input-global" type="text" formControlName="last_name"  placeholder="{{ 'inputFields.lastName_placeholder' | translate }}" />
                            
                        </div>    

                        <!--
                        <div class="auto-flex-start-gap10-column-no-set-width width-half web-font-primary-light">

                            <p class="xsmall bold">Email</p>
                            <input class="input-global" type="email" formControlName="email" placeholder="name@example.com" />
                            <p *ngIf="addDependantForm.get('email').hasError('invalidEmail')" class="xsmall red-color">Enter valid email</p>

                        </div>    

                        <div class="auto-flex-start-gap10-column-no-set-width width-half web-font-primary-light">

                            <p class="xsmall bold">Phone Number</p>
                            <input class="input-global" type="tel" formControlName="phone_number" placeholder="966 XX XXXXXXXXX" />
                            <p *ngIf="addDependantForm.get('phone_number').hasError('invalidPhoneNumber')" class="xsmall red-color">Enter valid phone number</p>

                        </div>    
                        -->
                        
                        <div class="auto-flex-start-gap10-column-no-set-width width-half web-font-primary-light">

                            <p class="xsmall bold">{{ 'inputFields.dob' | translate }}</p>
                            <input class="input-global" type="date" formControlName="dob" placeholder="{{ 'inputFields.dob_placeholder' | translate }}" />
                        
                        </div>    

                        <div class="auto-flex-start-gap10-column-no-set-width width-half web-font-primary-light">

                            <p class="xsmall bold">{{ 'inputFields.gender' | translate }}</p>
                            <select class="input-global" formControlName="gender">
                                
                                <option disabled></option>
                                <option value="1">{{ 'inputFields.male' | translate }}</option>
                                <option value="2">{{ 'inputFields.female' | translate }}</option>
    
                            </select>
                            <p *ngIf="addDependantForm.get('gender').hasError('invalidGender')" class="xsmall red-color">{{ 'inputFields.validGender' | translate }}</p>
                            
                        </div>    

                        <div class="auto-flex-start-gap10-column-no-set-width width-half web-font-primary-light">

                            <p class="xsmall bold">{{ 'inputFields.nationality' | translate }}</p>
                            <select class="input-global" formControlName="nationality">
                                
                                <option disabled></option>
                                <option value="saudi">{{ 'inputFields.saudi' | translate }}</option>
                                <option value="non_saudi">{{ 'inputFields.nonSaudi' | translate }}</option>

                            </select>
                            <p *ngIf="addDependantForm.get('nationality').hasError('invalidNationality')" class="xsmall red-color">{{ 'inputFields.selectNationality' | translate }}</p>

                        </div>    

                        <div class="auto-flex-start-gap10-column-no-set-width width-half web-font-primary-light">

                            <p class="xsmall bold">{{ 'inputFields.idType' | translate }}</p>
                            <select class="input-global" formControlName="id_type">
    
                                <option disabled></option>
                                <option value="national_id">{{ 'inputFields.nationalId' | translate }}</option>
                                <option value="iqama">{{ 'inputFields.iqama' | translate }}</option>
                                <option value="passport">{{ 'inputFields.passport' | translate }}</option>
                            </select>
                            <p *ngIf="addDependantForm.get('id_type').hasError('invalidIdType')" class="xsmall red-color">{{ 'inputFields.selectIdType' | translate }}</p>

                        </div>    

                        
                        <div class="auto-flex-start-gap10-column-no-set-width width-half web-font-primary-light">

                            <p class="xsmall bold">{{ 'inputFields.isNumber' | translate }}</p>
                            <input class="input-global" type="text" formControlName="id_number" placeholder="{{ 'inputFields.idNumber_placeholder' | translate }}" />
                            <p *ngIf="addDependantForm.get('id_number').hasError('invalidIdNumber')" class="xsmall red-color">{{ 'inputFields.validIdNumber' | translate }}</p>

                        </div>    

                        <div class="auto-flex-start-gap10-column-no-set-width width-half web-font-primary-light">

                            <p class="xsmall bold">{{ 'inputFields.maritalStatus' | translate }}</p>
                            <select class="input-global" formControlName="marital_status">
    
                                <option value="single">{{ 'inputFields.single' | translate }}</option>
                                <option value="married">{{ 'inputFields.married' | translate }}</option>

                            </select>

                        </div>    

                        <!--
                        <div class="auto-flex-start-gap10-column-no-set-width width-half web-font-primary-light">

                            <p class="xsmall bold">Relationship Type</p>
                            <select class="input-global" formControlName="relationship_type">
                                
                                <option disabled></option>
                                <option value="daughter">Daughter</option>
                                <option value="son">Son</option>
                                <option value="wife">Wife</option>
                                <option value="other">Other</option>
    
                            </select>
                            <p *ngIf="addDependantForm.get('relationship_type').hasError('invalidRelationshipType')" class="xsmall red-color">Select relationship type</p>

                        </div>    
                        -->

                    </div>

                    <div class="auto-flex-end-gap10">

                        <!-- continue button -->
                        <button class="white-bg padding-10 gray-border web-font-primary-light xsmall" (click)="discardAddDependant()">{{ 'patientProfile.discardChanges' | translate }}</button>
                        <button class="primary-bg padding-10 box-shadow width-200 phone-width-auto" type="submit">{{ 'patientProfile.addDependant' | translate }}</button>

                    </div>

                </form>
               
            </div>

            <!-- dependent details and update-->
            <div class="auto-flex-center-gap10 fixed dialog z-index" *ngIf="showDependantDetails" style="z-index: 1000;">

                <div class="popup">
        
                    <div class="auto-flex-start-gap20-column relative white-bg overflow-auto max-height-500 border-radius-20 width-min-600 width-max-600 phone-min-width phone-max-height-70Percent">
        
                        <img class="xsmallImg cursor-pointer" src="assets/images/web/icons/delete.svg" style="align-self: flex-end;" (click)="confirmDeleteDependant()" />
                        <!-- input fields -->
                        <div class="auto-flex-center-space-between-gap20">
        
                            <div class="auto-flex-start-gap5-column">
        
                                <p class="med bold">{{ dependantData.first_name }} {{ dependantData.last_name }}</p>
                                <p class="web-font-primary-light">PAT{{ dependantData.id }}</p>
                                <p class="web-font-primary-light">{{ dependantData.phone_number }}</p>
                                
                            </div>
        
                            <div class="auto-flex-start-gap10-column-no-set-width width-half web-font-primary-light">
        
                                <p class="xsmall bold">{{ 'inputFields.firstName' | translate }}</p>
                                <input class="input-global" type="text" [(ngModel)]="dependantData.first_name" placeholder="{{ 'inputFields.firstName_placeholder' | translate }}" />
                                <p *ngIf="updateDependantForm.get('first_name').hasError('invalidFName')" class="xsmall red-color">{{ 'inputFields.firstName' | translate }}</p>
                                
                            </div>    
        
                            <div class="auto-flex-start-gap10-column-no-set-width width-half web-font-primary-light">
        
                                <p class="xsmall bold">{{ 'inputFields.lastName' | translate }}</p>
                                <input class="input-global" type="text" [(ngModel)]="dependantData.last_name"  placeholder="{{ 'inputFields.lastName_placeholder' | translate }}" />
                                 
                            </div>    
        
                            <div class="auto-flex-start-gap10-column-no-set-width width-half web-font-primary-light">
                          
                                <p class="xsmall bold">{{ 'inputFields.dob' | translate }}</p>
                                <input class="input-global" type="date" [(ngModel)]="dependantData.dob" placeholder="{{ 'inputFields.dob_placeholder' | translate }}" />
                    
                            </div>    
        
                            <div class="auto-flex-start-gap10-column-no-set-width width-half web-font-primary-light">
        
                                <p class="xsmall bold">{{ 'inputFields.gender' | translate }}</p>
                                <select class="input-global" [(ngModel)]="dependantData.gender">
                                    
                                    <option disabled></option>
                                    <option value="1">{{ 'inputFields.male' | translate }}</option>
                                    <option value="2">{{ 'inputFields.female' | translate }}</option>
        
                                </select>
                                <p *ngIf="updateDependantForm.get('gender').hasError('invalidGender')" class="xsmall red-color">{{ 'inputFields.validGender' | translate }}</p>
        
                            </div>    
        
                            <div class="auto-flex-start-gap10-column-no-set-width width-half web-font-primary-light">
    
                                <p class="xsmall bold">{{ 'inputFields.nationality' | translate }}</p>
                                <select class="input-global" [(ngModel)]="dependantData.nationality">
                                    
                                    <option disabled></option>
                                    <option value="saudi">{{ 'inputFields.saudi' | translate }}</option>
                                    <option value="non_saudi">{{ 'inputFields.nonSaudi' | translate }}</option>
        
                                </select>
                                <p *ngIf="updateDependantForm.get('nationality').hasError('invalidNationality')" class="xsmall red-color">{{ 'inputFields.selectNationality' | translate }}</p>
        
                            </div>    
        
                            <div class="auto-flex-start-gap10-column-no-set-width width-half web-font-primary-light">
        
                                <p class="xsmall bold">{{ 'inputFields.idType' | translate }}</p>
                                <select class="input-global" [(ngModel)]="dependantData.id_type">
        
                                    <option disabled></option>
                                    <option value="national_id">{{ 'inputFields.nationalId' | translate }}</option>
                                    <option value="iqama">{{ 'inputFields.iqama' | translate }}</option>
                                    <option value="passport">{{ 'inputFields.passport' | translate }}</option>

                                </select>
                                <p *ngIf="updateDependantForm.get('id_type').hasError('invalidIdType')" class="xsmall red-color">{{ 'inputFields.selectIdType' | translate }}</p>

                            </div>    
        
                            
                            <div class="auto-flex-start-gap10-column-no-set-width width-half web-font-primary-light">
        
                                <p class="xsmall bold">{{ 'inputFields.isNumber' | translate }}</p>
                                <input class="input-global" type="text" [(ngModel)]="dependantData.id_number" placeholder="{{ 'inputFields.idNumber_placeholder' | translate }}" />
                                <p *ngIf="updateDependantForm.get('id_number').hasError('invalidIdNumber')" class="xsmall red-color">{{ 'inputFields.validIdNumber' | translate }}</p>
        
                            </div>    
        
                            <div class="auto-flex-start-gap10-column-no-set-width width-half web-font-primary-light">

                                <p class="xsmall bold">{{ 'inputFields.maritalStatus' | translate }}</p>
                                <select class="input-global" [(ngModel)]="dependantData.marital_status">
          
                                    <option value="single">{{ 'inputFields.single' | translate }}</option>
                                    <option value="married">{{ 'inputFields.married' | translate }}</option>
        
                                </select>
        
                            </div>    

                            
                            <!--
                            <div class="auto-flex-start-gap10-column-no-set-width width-half web-font-primary-light">

                                <p class="xsmall bold">Relationship Type</p>
                                <select class="input-global" [(ngModel)]="dependantData.relationship_type">
                                    
                                    <option value="daughter">Daughter</option>
                                    <option value="son">Son</option>
                                    <option value="wife">Wife</option>
                                    <option value="other">Other</option>
        
                                </select>
                                <p *ngIf="updateDependantForm.get('relationship_type').hasError('invalidRelationshipType')" class="xsmall red-color">Select relationship type</p>

                            </div>    
                            -->
                        
                        </div>
        
                        <div class="auto-flex-end-gap10">
        
                            <!-- continue button -->
                            <button class="white-bg padding-10 gray-border web-font-primary-light xsmall" (click)="discardUpdateDependant()">{{ 'messages.cancel' | translate }}</button>
                            <button class="primary-bg padding-10 box-shadow width-200 phone-width-auto" (click)="updateDependant()">{{ 'allServices.saveChanges' | translate }}</button>
        
                        </div>
        
                    </div>
        
                </div>
        
            </div>

        </div>

        <!-- addresses -->
        <div class="auto-flex-start-gap20-column border-radius-20 gray-border padding-20">

            <div class="auto-flex-center-start-gap10 cursor-pointer" (click)="addLocation()">

                <p class="med bold">{{ 'patientProfile.addresses' | translate }}</p>
                
                <div class="gray-border padding-5 border-radius-100">

                    <img class="img-20" src="assets/images/web/icons/plus.svg" />

                </div>

            </div>
<!--address-->
            <div class="auto-flex-start-center-gap20-no-wrap overflow-auto padding-bottom-20">

                <div class="auto-flex-start-gap20-no-set-width gray-border border-radius-10 padding-10 relative width-300 max-width" *ngFor="let address of userLocations; let addressIndex = index">

                    <img class="xxxmedImg cover border-radius-10" src="assets/images/web/icons/map.svg" />

                    <div class="auto-flex-start-gap10-column-no-set-width" style="max-width: 100px;">

                        <p class="web-font-primary-light bold">{{ address.address_name }}</p>
                        <p class="web-font-primary-light" *ngIf="address && address.city && address.city.length>0">{{ address.city }}</p>
                        <p class="web-font-primary-light" *ngIf="address && address.country && address.country.length>0">{{ address.country }}</p>
                        <p class="web-font-primary-light">{{ address.address_line1 }}</p>
                        <p class="web-font-primary-light">{{ address.address_line2 }}</p>

                    </div>

                    <img class="xsmallImg absolute-top-right-10 cursor-pointer" src="assets/images/web/icons/delete.svg" (click)="removeAddress(addressIndex)" />

                </div>

            </div>

            <div class="auto-flex-center-gap30-column" *ngIf="showLocationMap">
                
                <div class="auto-flex-center-gap30-column white-bg overflow-auto max-height-500 border-radius-20 max-width relative padding-none border-none">
                
                    <input #search class="input-global z-index width-90Percent absolute-top-10" type="text" [(ngModel)]="searchLocation" placeholder="{{'patientProfile.searchLocation' | translate }}" />

                    <div class="auto-flex-center-gap20-column box-shadow padding-none border-radius-10 gray-border">                

                        <button *ngIf="placeSelected" class="primary-bg padding-10 border-none box-shadow absolute-bottom-10 width-300 z-index xsmall" (click)="onConfirmLocation()">{{'allServices.confirmLocation' | translate }}</button>
                
                        <agm-map [latitude]="centerLat" [longitude]="centerLng" [zoom]="zoom" (mapClick)="onMapClick($event)" class="max-width height-300 border-top-left-right-10 overflow-hidden">
                
                            <agm-marker *ngIf="selectedLat && selectedLng" [latitude]="selectedLat"  [longitude]="selectedLng" [markerDraggable]="true" (dragEnd)="onMarkerDragEnd($event)" class=" border-radius-10"></agm-marker>
                        
                        </agm-map>

                    </div>
                
                </div>
                
                <!-- add address -->

                <form class="auto-flex-start-gap10" [formGroup]="addressForm" (ngSubmit)="createAddress()">
                
                    <div class="auto-flex-center-gap20-column">
                
                        <!-- address input fields -->
                        <div class="auto-flex-center-space-between-gap20">
        
                            <div class="auto-flex-start-gap10-column web-font-primary-light">
                                
                                <p class="xsmall bold">{{ 'allServices.addressName' | translate }}</p>
                                <input class="input-global" type="text" formControlName="address_name" placeholder="{{ 'allServices.addressName_1_placeholder' | translate }}" />
                                <p *ngIf="addressForm.get('address_name').hasError('invalidAddressName')" class="xsmall red-color">{{ 'allServices.addressName_1_placeholder' | translate }}</p>
    
                            </div>    

                            <div class="auto-flex-start-gap10-column web-font-primary-light">
        
                                <p class="xsmall bold">{{ 'allServices.addressLine_1' | translate }}</p>
                                <input class="input-global" type="text" formControlName="address_line1" placeholder="{{ 'allServices.addressLine_1_placeholder' | translate }}" />
                                <p *ngIf="addressForm.get('address_line1').hasError('invalidAddressLine1')" class="xsmall red-color">{{ 'allServices.addressLine_1' | translate }}</p>

                            </div>    
        
                            <div class="auto-flex-start-gap10-column web-font-primary-light">
        
                                <p class="xsmall bold">{{ 'allServices.addressLine_2' | translate }}</p>
                                <input class="input-global" type="text" placeholder="{{ 'allServices.addressLine_2_placeholder' | translate }}" />
                          
                            </div>   
                            
                            <p *ngIf="addressForm.get('latitude').hasError('invalidLocation') || addressForm.get('longitude').hasError('invalidLocation')" class="xsmall red-color">{{ 'allServices.enterValidLocation' | translate }}</p>
        
                        </div>
        
                        <div class="auto-flex-end-gap10">
        
                            <!-- continue button -->
                            <button class="white-bg padding-10 gray-border web-font-primary-light xsmall" (click)="discardAddress()">{{ 'messages.cancel' | translate }}</button>
                            <button class="primary-bg padding-10 box-shadow width-200 xsmall phone-width-auto" type="submit">{{ 'allServices.saveChanges' | translate }}</button>
        
                        </div>
        
                    </div>
        
                </form>
                
            </div>

        </div>

         <!-- users -->
        <div class="white-bg fixed-bottom max-width padding-10 cursor-pointer auto-flex-center-gap10 gray-border border-radius-20 ">

            <button class="primary-bg text-center width-max-80Percent max-width" (click)="goToServices()">{{ 'patientProfile.bookService' | translate }}</button>

        </div>

         <!--
      
        <div class="auto-flex-start-gap20-column border-radius-20 gray-border padding-20">

            <p class="med bold">Payment methods</p>

            <div class="auto-flex-start-center-gap20-no-wrap overflow-auto padding-bottom-20">

                <div class="auto-flex-start-gap20-no-set-width gray-border border-radius-10 padding-10 relative width-300 max-width">

                    <div class="auto-flex-start-gap10-column-no-set-width">

                        <p class="bold">**** **** **** 4629</p>
                        <p class="xsmall web-font-primary-light">12/25</p>
                        <p class="web-font-primary-light">Jane Robertson</p>

                    </div>

                    <img class="xsmallImg absolute-top-right-10" src="assets/images/web/icons/delete.svg" />
                    <img class="xsmallImg absolute-bottom-right-10" src="assets/images/web/icons/visa.svg" />

                </div>

                <div class="auto-flex-start-gap20-no-set-width gray-border border-radius-10 padding-10 relative width-300 max-width">

                    <div class="auto-flex-start-gap10-column-no-set-width">

                        <p class="bold">**** **** **** 4629</p>
                        <p class="xsmall web-font-primary-light">12/25</p>
                        <p class="web-font-primary-light">Jane Robertson</p>

                    </div>

                    <img class="xsmallImg absolute-top-right-10" src="assets/images/web/icons/delete.svg" />
                    <img class="xsmallImg absolute-bottom-right-10" src="assets/images/web/icons/mastercard.svg" />

                </div>

                <div class="border-radius-100 gray-border padding-10 cursor-pointer">

                    <img class="xsmallImg" src="assets/images/web/icons/plus.svg" />

                </div>
                    
            </div>

      
            <div class="auto-flex-center-gap20-column">
            
                <div class="auto-flex-center-space-between-gap20">

                    <div class="auto-flex-start-gap10-column-no-set-width width-half web-font-primary-light">

                        <p class="xsmall bold">Card number</p>
                        <input class="input-global" type="text" placeholder="XXXX - XXXX - XXXX - XXXX" />
            
                    </div>    

                    <div class="auto-flex-start-gap10-column-no-set-width width-23Percent web-font-primary-light">

                        <p class="xsmall bold">Expiration</p>
                        <input class="input-global" type="text" placeholder="MM / YYYY" />
            
                    </div>    

                    <div class="auto-flex-start-gap10-column-no-set-width width-23Percent web-font-primary-light">

                        <p class="xsmall bold">CVC</p>
                        <input class="input-global" type="text" placeholder="XXX" />
            
                    </div>    

                </div>

                <div class="auto-flex-center-space-between-gap20">

                    <div class="auto-flex-start-gap10-column-no-set-width width-half web-font-primary-light">

                        <p class="xsmall bold">Cardholder</p>
                        <input class="input-global" type="text" placeholder="Enter name on card" />
            
                    </div>    

                </div>

                <div class="auto-flex-end-gap10">

                    <button class="white-bg padding-10 gray-border web-font-primary-light xsmall">Discard Changes</button>
                    <button class="primary-bg padding-10 box-shadow width-200 xsmall phone-width-auto">Add Payment Method</button>

                </div>

            </div>
       
        </div>
    -->

    </div>

     <!-- appointments tab-->
    <div class="auto-flex-start-gap10 padding-none border-radius-20 gray-border overflow-hidden" *ngIf="displayAppointmentInfo">

        <table class="custom-table web-font-primary-light">

            <thead class="custom-table-thead" style="text-align: start;">
                <tr>
                    <th class="padding-20"><p>{{ 'patientProfile.appointmentId' | translate }}</p></th>
                    <th class="padding-20"><p>{{ 'patientProfile.serviceName' | translate }}</p></th>
                    <th class="padding-20"><p>{{ 'patientProfile.dateTime' | translate }}</p></th>
                </tr>
            </thead>

            <tbody>

                <tr *ngFor="let appointment of userAppointments">
                    <td><p>APP{{ appointment.appointmentId }}</p></td>
                    <td><p class="table-content gap-10" *ngFor="let service of appointment.services">{{ service.serviceName }}</p></td>
                    <td><p>{{ appointment.serviceDate | date:'yyyy-MM-dd' }} - {{ appointment.serviceTime }}</p></td>
                </tr>

            
            </tbody>

        </table>


    </div>

    <!-- User already exists-->
    <app-custom-alert *ngIf="showUserAlreadyExist" [title]="'messages.userAlreadyExistTitle'" [message]="'messages.userAlreadyExistDesc'" [cancelButtonText]="'cart.cancel' | translate" [continueButtonText]="'messages.continue' | translate" (cancelClick)="handleCancelClick()" (continueClick)="handleContinueClick()" [showCancel]="false" [showConfirm]="true"></app-custom-alert>
  
    <!-- An Error occured while creating user. Try again later -->
    <app-custom-alert *ngIf="showErrorCreatingDependant" [title]="'messages.error' | translate" [message]="'messages.tryAgain' | translate" [cancelButtonText]="'cart.cancel' | translate" [continueButtonText]="'messages.continue' | translate" (cancelClick)="handleCancelClick()" (continueClick)="handleContinueClick()" [showCancel]="false" [showConfirm]="true"></app-custom-alert>

     <!-- An Error occured while creating user. Try again later -->
     <app-custom-alert *ngIf="showSuccessUpdatingDependant" [title]="'messages.success' | translate" [message]="'patientProfile.dependantSuccess' | translate" [cancelButtonText]="'cart.cancel' | translate" [continueButtonText]="'messages.continue' | translate" (cancelClick)="handleCancelClick()" (continueClick)="handleContinueClick()" [showCancel]="false" [showConfirm]="true"></app-custom-alert>

    <!-- An Error occured while updating user. Try again later -->
    <app-custom-alert *ngIf="showErrorUpdatingDependant" [title]="'messages.error' | translate" [message]="'messages.tryAgain' | translate" [cancelButtonText]="'cart.cancel' | translate" [continueButtonText]="'messages.continue' | translate" (cancelClick)="handleCancelClick()" (continueClick)="handleContinueClick()" [showCancel]="false" [showConfirm]="true"></app-custom-alert>

    <!-- An Error occured while updating user. Try again later -->
    <app-custom-alert *ngIf="showDeleteDependant" [title]="'Remove Dependant'" [message]="'messages.sureRemovingUser' | translate" [cancelButtonText]="'cart.cancel' | translate" [continueButtonText]="'messages.continue' | translate" (cancelClick)="cancelDeleteDependant()" (continueClick)="deleteDependant()" [showCancel]="true" [showConfirm]="true"></app-custom-alert>

    <!-- An Error occured while deleting user. Try again later -->
    <app-custom-alert *ngIf="showErrorDeletingDependant" [title]="'messages.error' | translate" [message]="'messages.tryAgain' | translate" [cancelButtonText]="'cart.cancel' | translate" [continueButtonText]="'messages.continue' | translate" (cancelClick)="handleCancelClick()" (continueClick)="handleContinueClick()" [showCancel]="false" [showConfirm]="true"></app-custom-alert>
    
    <!-- An Error occured while updating user. Try again later -->
    <app-custom-alert *ngIf="showErrorUpdatingAddress" [title]="'messages.error' | translate" [message]="'messages.tryAgain' | translate" [cancelButtonText]="'cart.cancel' | translate" [continueButtonText]="'messages.continue' | translate" (cancelClick)="handleCancelClick()" (continueClick)="handleContinueClick()" [showCancel]="false" [showConfirm]="true"></app-custom-alert>

</div>

<app-checkout-footer></app-checkout-footer>