<div class="web auto-flex-start-gap40-column main-div">

    <!-- full name and user id -->
    <div class="auto-flex-center-start-gap20 cursor-pointer">

        <img class="xxmedImg" src="assets/images/web/icons/user.svg" />

        <div class="auto-flex-start-gap5-column-no-set-width">

            <p class="med bold">Full name</p>
            <p class="web-font-primary-light">user id</p>

        </div>

    </div>

    <!-- tabs -->
    <div class="auto-flex-center-space-between-gap20">

        <div class="auto-flex-start-gap20-no-set-width width-half gray-border border-radius-20 padding-20">

            <img class="smallImg" src="assets/images/web/icons/account.svg" />
            
            <div class="auto-flex-start-gap10-column-no-set-width">

                <p class="bold">Account</p>
                <p class="web-font-primary-light capitalize">personal informatiom</p>

            </div>

        </div>

        <div class="auto-flex-start-gap20-no-set-width width-half gray-border border-radius-20 padding-20">

            <img class="smallImg" src="assets/images/web/icons/appointment.svg" />
            
            <div class="auto-flex-start-gap10-column-no-set-width">

                <p class="bold">Appointments</p>
                <p class="web-font-primary-light capitalize">Appointments' informatiom</p>

            </div>

        </div>

    </div>

    <!-- users tab-->
    <div class="auto-flex-start-gap10">
       
        <!-- users -->
        <div class="auto-flex-start-gap20-column border-radius-20 gray-border padding-20">

            <p class="med bold">Users</p>

            <div class="auto-flex-start-center-gap20-no-wrap overflow-auto padding-bottom-20">

                <div class="auto-flex-center-gap10-column-no-set-width">

                    <img class="medImg" src="assets/images/web/icons/user.svg" />
                    <p class="bold">Main</p>

                </div>

                <div class="hr-black-vertical min-height-100"></div>

                <div class="auto-flex-center-gap10-column-no-set-width">

                    <img class="medImg" src="assets/images/web/icons/user.svg" />
                    <p class="bold">Dependent</p>

                </div>

                <div class="auto-flex-center-gap10-column-no-set-width">

                    <img class="medImg" src="assets/images/web/icons/user.svg" />
                    <p class="bold">Dependent</p>

                </div>

                <div class="auto-flex-center-gap10-column-no-set-width">

                    <img class="medImg" src="assets/images/web/icons/user.svg" />
                    <p class="bold">Dependent</p>

                </div>

                <div class="border-radius-100 gray-border padding-10 cursor-pointer">

                    <img class="xsmallImg" src="assets/images/web/icons/plus.svg" />

                </div>
                    
            </div>

            <!-- add dependent -->
            <div class="auto-flex-center-gap20-column">
                    
                <!-- register input fields -->
                <div class="auto-flex-center-space-between-gap20">

                    <div class="auto-flex-start-gap10-column-no-set-width width-half web-font-primary-light">

                        <p class="xsmall bold">First name</p>
                        <input class="input-global" type="text" placeholder="Enter your first name" />
            
                    </div>    

                    <div class="auto-flex-start-gap10-column-no-set-width width-half web-font-primary-light">

                        <p class="xsmall bold">Last name</p>
                        <input class="input-global" type="text" placeholder="Enter your last name" />
            
                    </div>    

                </div>

                <div class="auto-flex-center-space-between-gap20">

                    <div class="auto-flex-start-gap10-column-no-set-width width-half web-font-primary-light">

                        <p class="xsmall bold">Date of birth</p>
                        <input class="input-global" type="date" placeholder="Enter your dob" />
            
                    </div>    

                    <div class="auto-flex-start-gap10-column-no-set-width width-half web-font-primary-light">

                        <p class="xsmall bold">Gender</p>
                        <select class="input-global">

                            <option value="1">Male</option>
                            <option value="2">Female</option>

                        </select>


                    </div>    

                </div>

                <div class="auto-flex-end-gap10">

                    <!-- continue button -->
                    <button class="white-bg padding-10 gray-border web-font-primary-light xsmall">Discard Changes</button>
                    <button class="primary-bg padding-10 box-shadow width-200 phone-width-auto">Add depend</button>

                </div>

            </div>

        </div>

        <!-- addresses -->
        <div class="auto-flex-start-gap20-column border-radius-20 gray-border padding-20">

            <p class="med bold">Addresses</p>

            <div class="auto-flex-start-center-gap20-no-wrap overflow-auto padding-bottom-20">

                <div class="auto-flex-start-gap20-no-set-width gray-border border-radius-10 padding-10 relative width-300 max-width">

                    <img class="xxxmedImg cover border-radius-10" src="assets/images/web/icons/map.svg" />

                    <div class="auto-flex-start-gap10-column-no-set-width">

                        <p class="bold">City</p>
                        <p class="xsmall web-font-primary-light">Country</p>
                        <p class="web-font-primary-light">Address line</p>

                    </div>

                    <img class="xsmallImg absolute-top-right-10" src="assets/images/web/icons/delete.svg" />

                </div>

                <div class="border-radius-100 gray-border padding-10 cursor-pointer">

                    <img class="xsmallImg" src="assets/images/web/icons/plus.svg" />

                </div>

            </div>

            <div class="auto-flex-center-gap30-column white-bg overflow-auto max-height-500 border-radius-20 max-width relative padding-none border-none">

                <div class="auto-flex-center-gap20-column box-shadow padding-none border-radius-10 gray-border">

                    <input class="input-global absolute-top-10 z-index width-90Percent" type="text" placeholder="Search" />

                    <agm-map class="max-width height-300 border-top-left-right-10 overflow-hidden" [streetViewControl]="false" [zoomControl]="false" [mapTypeControl]="false">
                
                        <agm-marker class="border-radius-10"></agm-marker>
                    
                    </agm-map>

                    <button class="primary-bg padding-10 border-none box-shadow absolute-bottom-10 width-300 z-index xsmall">Confirm</button>
                
                </div>

            </div>
    
            <!-- add address -->
            <div class="auto-flex-center-gap20-column">
            
                <!-- address input fields -->
                <div class="auto-flex-center-space-between-gap20">

                    <div class="auto-flex-start-gap10-column web-font-primary-light">

                        <p class="xsmall bold">Address line 1</p>
                        <input class="input-global" type="text" placeholder="Enter address" />
            
                    </div>    

                    <div class="auto-flex-start-gap10-column web-font-primary-light">

                        <p class="xsmall bold">Address line 2</p>
                        <input class="input-global" type="text" placeholder="Enter address (optional)" />
            
                    </div>    

                </div>

                <div class="auto-flex-end-gap10">

                    <!-- continue button -->
                    <button class="white-bg padding-10 gray-border web-font-primary-light xsmall">Discard Changes</button>
                    <button class="primary-bg padding-10 box-shadow width-200 xsmall phone-width-auto">Save changes</button>

                </div>

            </div>

        </div>

        <!--payment methods-->
        <div class="auto-flex-start-gap20-column border-radius-20 gray-border padding-20">

            <p class="med bold">Payment methods</p>

            <div class="auto-flex-start-center-gap20-no-wrap overflow-auto padding-bottom-20">

                <div class="auto-flex-start-gap20-no-set-width gray-border border-radius-10 padding-10 relative width-300 max-width">

                    <div class="auto-flex-start-gap10-column-no-set-width">

                        <p class="bold">**** **** **** 4629</p>
                        <p class="xsmall web-font-primary-light">12/25</p>
                        <p class="web-font-primary-light">Jane Robertson</p>

                    </div>

                    <img class="xsmallImg absolute-top-right-10" src="assets/images/web/icons/delete.svg" />
                    <img class="xsmallImg absolute-bottom-right-10" src="assets/images/web/icons/visa.svg" />

                </div>

                <div class="auto-flex-start-gap20-no-set-width gray-border border-radius-10 padding-10 relative width-300 max-width">

                    <div class="auto-flex-start-gap10-column-no-set-width">

                        <p class="bold">**** **** **** 4629</p>
                        <p class="xsmall web-font-primary-light">12/25</p>
                        <p class="web-font-primary-light">Jane Robertson</p>

                    </div>

                    <img class="xsmallImg absolute-top-right-10" src="assets/images/web/icons/delete.svg" />
                    <img class="xsmallImg absolute-bottom-right-10" src="assets/images/web/icons/mastercard.svg" />

                </div>

                <div class="border-radius-100 gray-border padding-10 cursor-pointer">

                    <img class="xsmallImg" src="assets/images/web/icons/plus.svg" />

                </div>
                    
            </div>

            <!-- add payment -->
            <div class="auto-flex-center-gap20-column">
            
                <!-- payment input fields -->
                <div class="auto-flex-center-space-between-gap20">

                    <div class="auto-flex-start-gap10-column-no-set-width width-half web-font-primary-light">

                        <p class="xsmall bold">Card number</p>
                        <input class="input-global" type="text" placeholder="XXXX - XXXX - XXXX - XXXX" />
            
                    </div>    

                    <div class="auto-flex-start-gap10-column-no-set-width width-23Percent web-font-primary-light">

                        <p class="xsmall bold">Expiration</p>
                        <input class="input-global" type="text" placeholder="MM / YYYY" />
            
                    </div>    

                    <div class="auto-flex-start-gap10-column-no-set-width width-23Percent web-font-primary-light">

                        <p class="xsmall bold">CVC</p>
                        <input class="input-global" type="text" placeholder="XXX" />
            
                    </div>    

                </div>

                <div class="auto-flex-center-space-between-gap20">

                    <div class="auto-flex-start-gap10-column-no-set-width width-half web-font-primary-light">

                        <p class="xsmall bold">Cardholder</p>
                        <input class="input-global" type="text" placeholder="Enter name on card" />
            
                    </div>    

                </div>

                <div class="auto-flex-end-gap10">

                    <!-- continue button -->
                    <button class="white-bg padding-10 gray-border web-font-primary-light xsmall">Discard Changes</button>
                    <button class="primary-bg padding-10 box-shadow width-200 xsmall phone-width-auto">Add depend</button>

                </div>

            </div>

        </div>

    </div>

     <!-- appointments tab-->
    <div class="auto-flex-start-gap10 padding-none border-radius-20 gray-border overflow-hidden">

        <table class="custom-table web-font-primary-light">

            <thead class="custom-table-thead">
                <tr>
                    <th class="padding-20"><p>Appointment Id</p></th>
                    <th class="padding-20"><p>Service Name</p></th>
                    <th class="padding-20"><p>Date & time</p></th>
                </tr>
            </thead>

            <tbody>

                <tr>
                    <td><p>1234455</p></td>
                    <td><p class="table-content">1234455</p></td>
                    <td><p>1234455</p></td>
                </tr>

                <tr>
                    <td><p>1234455</p></td>
                    <td><p class="table-content">1234455</p></td>
                    <td><p>1234455</p></td>
                </tr>

                <tr>
                    <td><p>1234455</p></td>
                    <td><p class="table-content">1234455</p></td>
                    <td><p>1234455</p></td>
                </tr>

            </tbody>

        </table>


    </div>

</div>