<div class="web auto-flex-center-space-between-no-gap-column padding-none direction-reverse">

    <div class="auto-flex-center-space-between-gap20 primary-bg border-radius-0 border-none">

        <div class="auto-flex-center-space-between-gap20 mobile-center main-div">

            <div class="auto-flex-start-gap20-column-no-set-width width-max-500">

                <a class="auto-flex-center-start-gap20 width-max-550 padding-20" (click)="naviagteToHome()">

                    <img class="xxxsmallImg" src="assets/images/web/icons/back_arrow.svg" style="filter: invert(1);">
                    <p class="xsmall bold secondary-color capitalize cursor-pointer">{{ 'auth.backToHome' | translate }}</p>
        
                </a>
                <h3 class="large bold secondary-color"  style="text-align: start;">{{ currentTitle }}</h3>
                <p>{{ currentDesc }}</p>
        
            </div>
    
            <img class="xxxlargeImg-350" [src]="currentImage" />    

        </div>

    </div>

    <!-- Account Details -->
    <div class="auto-flex-center-gap20-column padding-40" #account_details>

        <div class="auto-flex-start-gap20-column padding-20 main-div">

            <h3 class="xxlarge bold capitalize" style="text-align: start;">{{ 'auth.accountDetails' | translate }}</h3>
            <p class="web-font-primary-light">{{ 'auth.accountDetailsDesc' | translate }}</p>
    
            <form class="auto-flex-start-gap10" [formGroup]="accountDetailsForm" (ngSubmit)="accountDetails()">
                
                <div class="auto-flex-center-gap20-column">
                
                    <!-- register input fields -->
                    <div class="auto-flex-center-space-between-gap20">

                        <div class="auto-flex-start-gap10-column-no-set-width width-half web-font-primary-light">

                            <p class="xsmall bold">{{ 'inputFields.email' | translate }}</p>
                            <input class="input-global" type="email" formControlName="email" placeholder="name@example.com" />
                            <p *ngIf="accountDetailsForm.get('email').hasError('invalidEmail')" class="xsmall red-color">{{ 'inputFields.validEmail' | translate }}</p>

                
                        </div>    

                        <div class="auto-flex-start-gap10-column-no-set-width width-half web-font-primary-light">
                              
                            <p class="xsmall bold">{{ 'inputFields.mobileNumber' | translate }}</p>
                            <input class="input-global" type="tel" formControlName="phone_number" placeholder="966 XX XXXXXXXXX" (keypress)="restrictInput($event)" />
                            <p *ngIf="accountDetailsForm.get('phone_number').hasError('invalidPhoneNumber')" class="xsmall red-color">{{ 'inputFields.validMobile' | translate }}</p>

                        </div>    

                        <div class="auto-flex-start-gap10-column-no-set-width width-half web-font-primary-light">

                            <p class="xsmall bold">{{ 'inputFields.password' | translate }}</p>
                            <input class="input-global" type="password" formControlName="password" placeholder="{{ 'inputFields.password_placeholder' | translate }}" />
                            <p *ngIf="accountDetailsForm.get('password').hasError('invalidPassword')" class="xsmall red-color">{{ 'inputFields.validPassword_2' | translate }}</p>
                
                        </div>    

                        <div class="auto-flex-start-gap10-column-no-set-width width-half web-font-primary-light">

                            <p class="xsmall bold">{{ 'inputFields.cPassword' | translate }}</p>
                            <input class="input-global" type="password" formControlName="confirm_password" placeholder="{{ 'inputFields.password_placeholder' | translate }}" />
                            <p *ngIf="accountDetailsForm.get('confirm_password').hasError('invalidCPassword')" class="xsmall red-color">{{ 'inputFields.validPassword_2' | translate }}</p>
                            <p *ngIf="accountDetailsForm.get('confirm_password').hasError('invalidCPasswordNotMatched')" class="xsmall red-color">{{ 'inputFields.validPassword_3' | translate }}</p>

                        </div>    

                    </div>

                </div>
        
                <div class="auto-flex-end-gap10">

                    <!-- continue button -->
                    <button class="primary-bg padding-10 capitalize box-shadow width-300">{{ 'messages.continue' | translate }}</button>

                </div>
            
            </form>
        
            <!-- sign up -->
             <!-- remember me -->
             <div class="auto-flex-start-center-gap10">
    
                <p class="xsmall bold web-font-primary-light">{{ 'auth.alreadyHaveAccount' | translate }}</p>
                <p class="xsmall bold blue-color cursor-pointer" (click)="naviagteToLogin()">{{ 'auth.signIn' | translate }}</p>
    
            </div>

        </div>

    </div>

    <!-- Confirmation -->
    <div class="auto-flex-center-gap20-column padding-40 hide" #account_confirmation>

        <div class="auto-flex-start-gap20-column padding-20 main-div">

            <h3 class="xxlarge bold capitalize" style="text-align: start;">{{ 'auth.confirmationTitle' | translate }}</h3>
            <p class="web-font-primary-light">{{ 'auth.confirmationDesc' |translate }}</p>
    
            <div class="auto-flex-center-gap20-column">
                
                
                <div class="auto-flex-start-gap10-column web-font-primary-light">

                    <p class="xsmall bold">{{ 'inputFields.confirmationCode' |translate }}</p>
                    <input class="input-global" type="text" [(ngModel)]="verificationCodeInput" placeholder="XXX - XXX" />
        
                </div>    

            </div>

    
            <div class="auto-flex-end-gap10">

                <!-- continue button -->
                <button class="primary-bg padding-10 capitalize box-shadow width-300" (click)="verifyCode()">{{ 'messages.continue' | translate }}</button>

            </div>
            
             <div class="auto-flex-start-center-gap10">
    
                <p class="xsmall bold web-font-primary-light">{{ 'auth.alreadyHaveAccount' | translate }}</p>
                <p class="xsmall bold blue-color cursor-pointer" (click)="naviagteToLogin()">{{ 'auth.signIn' | translate }}</p>
    
            </div>

        </div>

    </div>

    <!-- Personal Info -->
    <div class="auto-flex-center-gap20-column padding-40 hide" #account_setup>

        <div class="auto-flex-start-gap20-column padding-20 main-div">

            <h3 class="xxlarge bold capitalize" style="text-align: start;">{{ 'auth.personalInformationTitle' | translate }}</h3>
            <p class="web-font-primary-light">{{ 'auth.personalInformationDesc' | translate }}</p>
    
            <form class="auto-flex-start-gap10" [formGroup]="accountSetupForm" (ngSubmit)="accountSetup()">

                <div class="auto-flex-center-gap20-column">
                
                    <!-- register input fields -->
                    <div class="auto-flex-center-space-between-gap20">
    
                        <div class="auto-flex-start-gap10-column-no-set-width width-half web-font-primary-light">
    
                            <p class="xsmall bold">{{ 'inputFields.firstName' | translate }}</p>
                            <input class="input-global" type="text" formControlName="first_name" placeholder="{{ 'inputFields.firstName_placeholder' | translate }}" />
                            <p *ngIf="accountSetupForm.get('first_name').hasError('invalidFName')" class="xsmall red-color">{{ 'inputFields.firstName' | translate }}</p>

                        </div>    
    
                        <div class="auto-flex-start-gap10-column-no-set-width width-half web-font-primary-light">
    
                            <p class="xsmall bold">{{ 'inputFields.lastName' | translate }}</p>
                            <input class="input-global" type="text" formControlName="last_name" placeholder="{{ 'inputFields.lastName_placeholder' | translate }}" />

                        </div>    
    
                        <div class="auto-flex-start-gap10-column-no-set-width width-half web-font-primary-light">
    
                            <p class="xsmall bold">{{ 'inputFields.dob' | translate }}</p>
                            <input class="input-global" type="date" formControlName="dob" placeholder="{{ 'inputFields.dob_placeholder' | translate }}" />
                            
                        </div>    
    
                        <div class="auto-flex-start-gap10-column-no-set-width width-half web-font-primary-light">
    
                            <p class="xsmall bold">{{ 'inputFields.gender' | translate }}</p>
                            <select class="input-global" formControlName="gender">
                                
                                <option disabled></option>
                                <option value="1">{{ 'inputFields.male' | translate }}</option>
                                <option value="2">{{ 'inputFields.female' | translate }}</option>
    
                            </select>
                            <p *ngIf="accountSetupForm.get('gender').hasError('invalidGender')" class="xsmall red-color">{{ 'inputFields.validGender' | translate }}</p>

                        </div>    
    
                        <div class="auto-flex-start-gap10-column-no-set-width width-half web-font-primary-light">
    
                            <p class="xsmall bold">{{ 'inputFields.nationality' | translate }}</p>
                            <select class="input-global" formControlName="nationality">
                                
                                <option disabled></option>
                                <option value="saudi">{{ 'inputFields.saudi' | translate }}</option>
                                <option value="non_saudi">{{ 'inputFields.nonSaudi' | translate }}</option>
    
                            </select>

                            <p *ngIf="accountSetupForm.get('nationality').hasError('invalidNationality')" class="xsmall red-color">{{ 'inputFields.selectNationality' | translate }}</p>
                        
                        </div>  
                        
                        <div class="auto-flex-start-gap10-column-no-set-width width-half web-font-primary-light">
    
                            <p class="xsmall bold">{{ 'inputFields.idType' | translate }}</p>
                            <select class="input-global" formControlName="id_type">
    
                                <option disabled></option>
                                <option value="national_id">{{ 'inputFields.nationalId' | translate }}</option>
                                <option value="iqama">{{ 'inputFields.iqama' | translate }}</option>
                                <option value="passport">{{ 'inputFields.passport' | translate }}</option>
    
                            </select>
                            <p *ngIf="accountSetupForm.get('id_type').hasError('invalidIdType')" class="xsmall red-color">{{ 'inputFields.selectIdType' | translate }}</p>
                
                        </div>   
                        
                        <div class="auto-flex-start-gap10-column-no-set-width width-half web-font-primary-light">
    
                            <p class="xsmall bold">{{ 'inputFields.isNumber' | translate }}</p>
                            <input class="input-global" type="text" formControlName="id_number" placeholder="{{ 'inputFields.idNumber_placeholder' | translate }}" />
                            <p *ngIf="accountSetupForm.get('id_number').hasError('invalidIdNumber')" class="xsmall red-color">{{ 'inputFields.validIdNumber' | translate }}</p>

                        </div>   
    
                        <div class="auto-flex-start-gap10-column-no-set-width width-half web-font-primary-light">
    
                            <p class="xsmall bold">{{ 'inputFields.maritalStatus' | translate }}</p>
                            <select class="input-global" formControlName="marital_status">
    
                                <option value="single">{{ 'inputFields.single' | translate }}</option>
                                <option value="married">{{ 'inputFields.married' | translate }}</option>
    
                            </select>
    
                        </div>  

                        
                        <!--medical tags Ar-->
                        <div class="auto-flex-start-gap10-column-no-set-width width-half web-font-primary-light">

                            <p class="xsmall bold">{{ 'inputFields.medicalHistory' | translate }}</p>
                            <ng-multiselect-dropdown class="max-width input-global" *ngIf="medicalTagSettingsAr && languageService.getCurrentLanguage() === 'ar'" [settings]="medicalTagSettingsAr" [data]="medicalTagListAr" (onSelect)="onTagSelect($event)" (onDeSelect)="onTagDeSelect($event)" [(ngModel)]="modelMedicalTag"></ng-multiselect-dropdown>
                            <ng-multiselect-dropdown class="max-width input-global" *ngIf="medicalTagSettingsEn && languageService.getCurrentLanguage() === 'en'" [settings]="medicalTagSettingsEn" [data]="medicalTagListEn" (onSelect)="onTagSelect($event)" (onDeSelect)="onTagDeSelect($event)" [(ngModel)]="modelMedicalTag"></ng-multiselect-dropdown>

                        </div>  
    
                    </div>
    
                </div>
        
                <div class="auto-flex-end-gap10">
    
                    <!-- continue button -->
                    <button class="primary-bg padding-10 capitalize box-shadow width-300" type="submit">{{ 'messages.continue' | translate }}</button>
    
                </div>

            </form>
           
            <!-- sign up -->
             <!-- remember me -->
             <div class="auto-flex-start-center-gap10">
                <p class="xsmall bold web-font-primary-light">{{ 'auth.alreadyHaveAccount' | translate }}</p>
                <p class="xsmall bold blue-color cursor-pointer" (click)="naviagteToLogin()">{{ 'auth.signIn' | translate }}</p>

            </div>

        </div>

    </div>

    <!-- Incorrect Verification Code -->
    <app-custom-alert *ngIf="showVerificationAlert" [title]="'message.verificationErrorTitle' | translate" [message]="'messages.verificationErrorDesc' | translate" [cancelButtonText]="'cart.cancel' | translate" [continueButtonText]="'messages.continue' | translate" (cancelClick)="handleCancelClick()" (continueClick)="handleContinueClick()" [showCancel]="false" [showConfirm]="true"></app-custom-alert>

    <!-- Incorrect Phone Number -->
    <app-custom-alert *ngIf="showInvalidPhoneNumber" [title]="'message.invalidPhoneNumberTitle' | translate" [message]="'message.invalidPhoneNumberDesc' | translate" [cancelButtonText]="'cart.cancel' | translate" [continueButtonText]="'messages.continue' | translate" (cancelClick)="handleCancelClick()" (continueClick)="handleContinueClick()" [showCancel]="false" [showConfirm]="true"></app-custom-alert>

    <!-- An Error occured while creating user. Try again later -->
    <app-custom-alert *ngIf="showErrorCreatingUser" [title]="'messages.error' | translate" [message]="'messages.tryAgain' | translate" [cancelButtonText]="'cart.cancel' | translate" [continueButtonText]="'messages.continue' | translate" (cancelClick)="handleCancelClick()" (continueClick)="handleContinueClick()" [showCancel]="false" [showConfirm]="true"></app-custom-alert>

    <!-- User already exists-->
    <app-custom-alert *ngIf="showUserAlreadyExist" [title]="'messages.userAlreadyExistTitle' | translate" [message]="'messages.userAlreadyExistDesc' | translate" [cancelButtonText]="'cart.cancel' | translate" [continueButtonText]="'messages.continue' | translate" (cancelClick)="handleCancelClick()" (continueClick)="handleContinueClick()" [showCancel]="false" [showConfirm]="true"></app-custom-alert>
    
</div>