
<div id="app">
         <section class="el-container">
            <div>
               <menu class="menu-bar">
                  <a href="javascript:void(0);" class="toggle-menu">
                     <div class="inactive"><span class="bar bar1"></span><span class="bar"></span><span class="bar bar3"></span></div>
                  </a>
                  <a href="dashboard" class="logo"><img src="assets/images/Taib_logo_Trans.png" width="50%"></a>
               </menu>
               
               <app-sidebar></app-sidebar>

            </div>
            <main class="el-main dashboard">
               <app-header></app-header>
               <div>
                  <div>
                     <div>
                        <div class="pull-right"><a routerLink="../edit-profile" class=""><strong>Edit Details</strong></a></div>
                        <div class="profile-det">
                           <span class="avtar2"><a href="assets/images/user.svg" target="_blank"><img src="assets/images/user.svg" class="image-cover"></a></span> 
                           <div>
                              <h6>Shehana Admin</h6>
                              <small class="uid">UID:EMP592</small>
                           </div>
                        </div>
                     </div>
                     <ul class="details-list">
                        <li><span>Title</span>
                        </li>
                        <li><span>First Name</span>
                           Shehana
                        </li>
                        <li><span>First Name in Arabic</span>
                           شيهانا
                        </li>
                        <li><span>Last Name</span>
                           Admin
                        </li>
                        <li><span>Last Name in Arabic</span>
                           مشرف
                        </li>
                        <li><span>Email ID</span>
                           operation@taibsa.com
                        </li>
                        <li><span>Mobile number</span>
                           +966 555376654
                        </li>
                        <li><span>Nationality</span>
                           Saudi Arabia
                        </li>
                        <li><span>Date of Birth</span>
                        </li>
                        <!----> <!----> <!----> <!----> 
                        <li><span>Blood Group</span>
                        </li>
                        <li>
                           <span>Degree</span> 
                           <div class="bio">Bachelor of dental surgery</div>
                        </li>
                        <li><span>Language</span>
                           English
                        </li>
                        <li><span>Language in Arabic</span>
                           إنجليزي
                        </li>
                        <!----> 
                        <li><span>Gender</span>
                           Male
                        </li>
                        <!----> <!----> <!----> <!----> <!----> <!----> <!----> <!----> <!----> <!----> <!----> <!----> <!----> <!----> <!----> <!----> <!----> <!----> <!----> 
                        <div class="o-flow-x">
                           <!---->
                        </div>
                        <!----> <!----> <!----> <!----> <!----> 
                        <li><span>Status</span>
                           active
                        </li>
                     </ul>
                     <!---->
                  </div>
                  <!---->
               </div>
            </main>
         </section>
      </div>
      <script async="" defer="defer" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA-EXDwh2adbELTFKlDgn3RXMP648GC12s&amp;sensor=false&amp;libraries=places"></script><script type="text/javascript" src="static/js/manifest.787d0d92fd70cf16874e.js"></script><script type="text/javascript" src="static/js/vendor.6f6ef6bc866762bf29a6.js"></script><script type="text/javascript" src="static/js/app.a27789e3d261f525a01a.js"></script>
      <div class="progress" style="width: 0%; height: 2px; background-color: rgb(122, 195, 254); opacity: 0;"></div>
      <div role="tooltip" id="el-tooltip-5239" aria-hidden="true" class="el-tooltip__popper is-dark" style="transform-origin: center bottom; z-index: 2001; display: none;">
         Package
         <div x-arrow="" class="popper__arrow" style="left: 8px;"></div>
      </div>
      <div role="tooltip" id="el-tooltip-9403" aria-hidden="true" class="el-tooltip__popper is-dark" style="transform-origin: center bottom; z-index: 2008; display: none;">
         Role Management
         <div x-arrow="" class="popper__arrow" style="left: 8px;"></div>
      </div>
      <div role="tooltip" id="el-tooltip-922" aria-hidden="true" class="el-tooltip__popper is-dark" style="transform-origin: center bottom; z-index: 2022; display: none;">
         Employee
         <div x-arrow="" class="popper__arrow" style="left: 8px;"></div>
      </div>
      <div role="tooltip" id="el-tooltip-1176" aria-hidden="true" class="el-tooltip__popper is-dark" style="transform-origin: center bottom; z-index: 2026; display: none;">
         Dashboard
         <div x-arrow="" class="popper__arrow" style="left: 8px;"></div>
      </div>
      <div role="tooltip" id="el-tooltip-9095" aria-hidden="true" class="el-tooltip__popper is-dark" style="transform-origin: center bottom; z-index: 2041; display: none;">
         Patient
         <div x-arrow="" class="popper__arrow" style="left: 8px;"></div>
      </div>
      <div role="tooltip" id="el-tooltip-1857" aria-hidden="true" class="el-tooltip__popper is-dark" style="transform-origin: center bottom; z-index: 2043; display: none;">
         Appointment
         <div x-arrow="" class="popper__arrow" style="left: 8px;"></div>
      </div>
      <div role="tooltip" id="el-tooltip-3295" aria-hidden="true" class="el-tooltip__popper is-dark" style="transform-origin: center bottom; z-index: 2045; display: none;">
         Accounts
         <div x-arrow="" class="popper__arrow" style="left: 8px;"></div>
      </div>
