<app-header></app-header>
<div id="app">
         <div class="login-page forgot">
            <div class="login-wrapper newforget">
               <form class="el-form forgetpass">
                 <img src="assets/images/logo.png" width="50%">
                  <h1><strong>Forgot Password</strong></h1>
                  <p>
                     Enter the Access ID and email address you used when you joined and we’ll
                     send you instructions to reset your password.
                  </p>
                  <div class="el-form-item is-required">
                     <!---->
                     <div class="el-form-item__content">
                        <div class="el-input el-input--suffix">
                           <!----><input type="text" autocomplete="off" placeholder="Access ID" class="el-input__inner"><!---->
                           <span class="el-input__suffix">
                              <span class="el-input__suffix-inner">
                                 <i class="el-input__icon  icon-identity-card"></i><!----><!----><!---->
                              </span>
                              <!---->
                           </span>
                           <!----><!---->
                        </div>
                        <!---->
                     </div>
                  </div>
                  <div class="el-form-item is-required">
                     <!---->
                     <div class="el-form-item__content">
                        <div class="el-input el-input--suffix">
                           <!----><input type="text" autocomplete="off" placeholder="Email or username" class="el-input__inner"><!---->
                           <span class="el-input__suffix">
                              <span class="el-input__suffix-inner">
                                 <i class="el-input__icon icon-user2"></i><!----><!----><!---->
                              </span>
                              <!---->
                           </span>
                           <!----><!---->
                        </div>
                        <!---->
                     </div>
                  </div>
                  <button type="button" class="el-button btn-block el-button--primary el-button--large">
                     <!----><!----><span>Send reset link</span>
                  </button>
               </form>
            </div>
         </div>
      </div>
      <script async="" defer="defer" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA-EXDwh2adbELTFKlDgn3RXMP648GC12s&amp;sensor=false&amp;libraries=places"></script><script type="text/javascript" src="static/js/manifest.787d0d92fd70cf16874e.js"></script><script type="text/javascript" src="static/js/vendor.6f6ef6bc866762bf29a6.js"></script><script type="text/javascript" src="static/js/app.a27789e3d261f525a01a.js"></script>
      <div class="progress" style="width: 0%; height: 2px; background-color: rgb(122, 195, 254); opacity: 0;"></div>