<app-checkout-header></app-checkout-header>

<div class="web auto-flex-start-gap40-column main-div-max padding-top-20" style="padding: 20px;">

    <div class="auto-flex-center-start-gap20 width-max-550 padding-20 cursor-pointer" (click)="navigateToCart()">

        <img class="xxxsmallImg" src="assets/images/web/icons/back_arrow.svg" >
        <p class="xsmall bold web-font-primary-light">{{ 'cart.backToSchedule' | translate }}</p>

    </div>

    <div class="auto-flex-start-gap20-column gray-border border-radius-20 padding-20">

        <p class="med bold">{{ 'cart.paymentSummary' | translate }}</p>

        <div class="auto-flex-start-gap20-column">

            <div class="auto-flex-center-space-between-gap20">
                
                <p class="web-font-primary-light">{{ 'cart.subtotal' | translate }}</p>
                <p class="web-font-primary-light bold">{{ 'header.sar' | translate }} {{ totalCost }}</p>

            </div>    

            <div class="auto-flex-center-space-between-gap20">
                
                <p class="web-font-primary-light">{{ 'cart.totalTax' | translate }}</p>
                <p class="web-font-primary-light bold blue-color">{{ 'header.sar' | translate }} {{ total_inc_cost }}</p>

            </div>    

        </div>

    </div>

    <div class="auto-flex-start-gap20-column gray-border border-radius-20 padding-20" *ngFor="let keyvalue of allCartCategoriesData | keyvalue">

        <p class="med bold">{{ 'cart.dateTime' | translate }} ({{ keyvalue.value[0]['category_title']}})</p>

        <div class="auto-flex-center-space-between-gap20">

            <div class="auto-flex-center-gap10-no-set-width gray-border border-radius-20 width-half">
                
                <div class="auto-flex-center-space-between-gap20 calendar">

                    <div class="auto-flex-center-space-between-gap20 calendar-header">

                        <button class="arrow-button" [disabled]="isPreviousDisabled()" (click)="goToPreviousWeek()" [style.transform]="languageService.getCurrentLanguage() === 'ar' ? 'rotate(180deg)' : 'rotate(0)'">
                            <img class="xxxsmallImg" src="assets/images/web/icons/prev.svg"  />
                        </button>

                        <div class="header-text small-font bold">{{ currentMonthAndYear }}</div>

                        <button class="arrow-button" (click)="goToNextWeek()" [style.transform]="languageService.getCurrentLanguage() === 'ar' ? 'rotate(180deg)' : 'rotate(0)'">
                            <img class="xxxsmallImg" src="assets/images/web/icons/next.svg" />
                        </button>

                    </div>

                    <div class="auto-flex-center-space-between-gap20 week">
                      <div class="auto-flex-center-space-between-gap20 day-labels phone-no-gap">
                        <div class="day-label web-font-primary-light xsmall">SUN</div>
                        <div class="day-label web-font-primary-light xsmall">MON</div>
                        <div class="day-label web-font-primary-light xsmall">TUE</div>
                        <div class="day-label web-font-primary-light xsmall">WED</div>
                        <div class="day-label web-font-primary-light xsmall">THU</div>
                        <div class="day-label web-font-primary-light xsmall">FRI</div>
                        <div class="day-label web-font-primary-light xsmall">SAT</div>
                      </div>

                      <div class="auto-flex-center-space-between-gap20 days phone-no-gap">

                        <div class="day cursor-pointer" *ngFor="let day of currentWeek" (click)="selectDate(day);  setCartDataDateValue(keyvalue.key, day)" [ngClass]="{ 'selected-date':  keyvalue.value[0].selectedDate?.toDateString() === day.toDateString() }">
                            {{ day.getDate() }}
                        </div>
                        
                      </div>
                      
                    </div>
                    
                  </div>
                  
            </div>
            
            <div class="time-slots auto-flex-start-gap10-no-set-width width-half phone-no-wrap padding-bottom-20" *ngIf="keyvalue.value[0].timeSlots.length>0">

                <p class="gray-border padding-10 padding-left-right-30 blue-color border-radius-10 max-width width-max-150 text-center cursor-pointer" *ngFor="let timeSlot of keyvalue.value[0].timeSlots" (click)="setPreferredTimeSlot(timeSlot); setCartDataTimeValue(keyvalue.key, timeSlot)" [ngClass]="{ 'selected-date':  keyvalue.value[0].preferredTime === timeSlot }">{{ timeSlot }}</p>

            </div>              

        </div>

    </div>

    <div class="auto-flex-start-gap20-column gray-border border-radius-20 padding-20">

        <p class="med bold">{{ 'cart.notes' | translate }}</p>

        <div class="auto-flex-center-space-between-gap20">

            <div class="max-width">

                <textarea class="max-width border-radius-20 gray-border text-area-color padding-10" rows="10" id="patient_note"></textarea>

            </div>
            
        </div>

    </div>

    <button class="primary-bg max-width padding-10 uppercase" (click)="proceedToPay()">{{ 'messages.continue' | translate }}</button>

    <!-- Cart error -->
    <app-custom-alert *ngIf="loginAlert" [title]="'messages.userNotLoggedInTitle' | translate" [message]="'messages.userNotLoggedInTitleDesc' | translate" [cancelButtonText]="'cart.cancel' | translate" [continueButtonText]="'auth.login' | translate" (cancelClick)="handleCancelClick()" (continueClick)="handleContinueClick()" [showCancel]="false" [showConfirm]="true"></app-custom-alert>
    <app-custom-alert *ngIf="errorOccured" [title]="'messages.dateTimeTitle' | translate" [message]="'messages.dateTimeDesc' | translate" [cancelButtonText]="'cart.cancel'" [continueButtonText]="'messages.continue' | translate" (cancelClick)="handleCancelClick()" (continueClick)="handleContinueClickTimeDate()" [showCancel]="false" [showConfirm]="true"></app-custom-alert>

</div>

<app-checkout-footer></app-checkout-footer>