<div class="web auto-flex-start-gap40-column main-div">

    <div class="auto-flex-center-start-gap20 width-max-550 padding-20">

        <img class="xxxsmallImg" src="assets/images/web/icons/back_arrow.svg" >
        <p class="xsmall bold web-font-primary-light">Back to schedule</p>

    </div>

    <div class="auto-flex-start-gap20-column gray-border border-radius-20 padding-20">

        <p class="med bold">Payment summary</p>

        <div class="auto-flex-start-gap20-column">

            <div class="auto-flex-center-space-between-gap20">
                
                <p class="web-font-primary-light">Subtotal</p>
                <p class="web-font-primary-light bold">SAR 6000</p>

            </div>    

            <div class="auto-flex-center-space-between-gap20">
                
                <p class="web-font-primary-light">Shipping</p>
                <p class="web-font-primary-light bold">SAR 20</p>

            </div>    

            <div class="auto-flex-center-space-between-gap20">
                
                <p class="web-font-primary-light">Total (tax incl.)</p>
                <p class="web-font-primary-light bold blue-color">SAR 6000</p>

            </div>    

        </div>

    </div>

</div>