.nav-link {
    color: #585858;
    font-size: 16px;
    font-weight: 600;
    padding: 10px 5px;
    margin-right: 10px;
  }
  .nav-link.active {
    border-bottom: 3px solid #FF5AA4;
  }
  .active_card_space {
    display: none;
  }
  .inactive_card_space {
    display: none;
  }