<app-checkout-header></app-checkout-header>

<div class="web auto-flex-start-gap40-column main-div-max padding-top-20" style="padding: 20px;">

    <div class="auto-flex-start-gap20-column gray-border border-radius-20 padding-20" *ngIf="!this.promoApplied">

        <p class="med bold">{{ 'cart.discount' | translate }}</p>

        <div class="auto-flex-start-gap5" *ngIf="!this.promoApplied">

            <p class="xsmall bold web-font-primary-light">{{ 'cart.couponCode' | translate }}</p>
            <div class="auto-flex-start-gap10">
        
                
                <input class="input-global width-max-500 max-width" type="text"  placeholder="{{ 'cart.couponCode' | translate }}" id="coupon_code"/>
                <button class="primary-bg padding-10 width-max-150 max-width box-shadow uppercase" (click)="verifyDiscount()">{{ 'cart.verify' | translate }}</button>

            </div>
            <p class="light-red-bg padding-5 red-color fit-content" *ngIf="invalidPromoMessage">{{ 'cart.invalidCouponCode' | translate }}</p>
            
        </div> 

    </div>

    <div class="auto-flex-start-gap10-column gray-border border-radius-20 padding-20">

        <p class="med bold">{{ 'cart.invoice' | translate }}</p>

        <div class="auto-flex-center-space-between-gap20 padding-10 gray-border border-radius-10" *ngFor="let cart of cartData; let cartIndex = index;" style="flex-wrap: nowrap;">

            <div class="auto-flex-start-gap10-column-no-set-width width-max-300 max-width">

                <p class="bold">{{ cart.title }}</p>

            </div>

            <div class="auto-flex-end-gap10-no-set-width width-max-300 max-width">

                <p class="bold">{{ 'header.sar' | translate }} {{ cart.price }}</p>

            </div>

        </div>

        <div class="auto-flex-start-gap20-column">

            <p class="med bold">{{ 'cart.paymentSummary' | translate }}</p>

            <div class="auto-flex-start-gap20-column">
    
                <div class="auto-flex-center-space-between-gap20">
                    
                    <p class="web-font-primary-light">{{ 'cart.subtotal' | translate }}</p>
                    <p class="web-font-primary-light bold">{{ 'header.sar' | translate }} {{ total }}</p>
    
                </div>   
                
                <div class="auto-flex-center-space-between-gap20" *ngIf="discountAmount.length>0">
                    
                    <p class="web-font-primary-light">{{ 'cart.discount' | translate }}</p>
                    <p class="web-font-primary-light bold">- {{ discountAmount }}</p>
    
                </div>    
    
                <div class="auto-flex-center-space-between-gap20">
                    
                    <p class="web-font-primary-light">{{ 'cart.totalTax' | translate }}</p>
                    <p class="web-font-primary-light bold blue-color">{{ 'header.sar' | translate }} {{ total_inc_cost }}</p>
    
                </div>    
    
            </div>    

        </div>

    </div>

    <button class="primary-bg max-width padding-10 uppercase" (click)="payAndBook()">{{ 'cart.payBook' | translate }}</button>

    <!-- Cart error -->
    <app-custom-alert *ngIf="errorOccured" [title]="'messages.error' | translate" [message]="'messages.tryAgain'" [cancelButtonText]="'cart.cancel' | translate" [continueButtonText]="'messages.continue | translate'" (cancelClick)="handleCancelClick()" (continueClick)="handleContinueClick()" [showCancel]="false" [showConfirm]="true"></app-custom-alert>

</div>

<app-checkout-footer></app-checkout-footer>