
<div id="app">
   <section class="el-container">
      <div>
         <menu class="menu-bar">
            <a href="javascript:void(0);" class="toggle-menu">
               <div class="inactive"><span class="bar bar1"></span><span class="bar"></span><span
                     class="bar bar3"></span></div>
            </a>
            <a routerLink="../dashboard" class="logo"><img src="assets/images/Taib_logo_Trans.png" width="50%"></a>
         </menu>
         <app-sidebar></app-sidebar>
         <app-submenu></app-submenu>
      </div>
      <main class="el-main">
         <app-header></app-header>
         <div>
            <!---->
            <div>
               <button type="button" routerLink="../technician"
                  class="el-button back-btn el-button--default el-button--small is-plain">
                  <!---->
                  <!----><span><i class="icon-arrow-left h2"></i></span>
               </button>
               <div class="el-card  customtabs is-always-shadow">
                  <!---->
                  <div class="el-card__body">
                     <div class="el-tabs el-tabs--top el-tabs--border-card">
                        <div class="el-tabs__header is-top">
                           <div class="el-tabs__nav-wrap is-top">
                              <div class="el-tabs__nav-scroll">
                                 <div role="tablist" class="el-tabs__nav is-top" style="transform: translateX(0px);">
                                    <div id="tab-0" aria-controls="pane-0" role="tab" aria-selected="true" tabindex="0"
                                       class="el-tabs__item is-top is-active"><span>Basic Details</span></div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="el-tabs__content">
                           <div role="tabpanel" id="pane-0" aria-labelledby="tab-0" class="el-tab-pane" style="">
                              <!---->
                              <div>
                                 <div>
                                    <!---->
                                    <div class="profile-det">
                                       <span class="avtar2"><a href="assets/images/user.svg" target="_blank"><img
                                                src="assets/images/user.svg" class="image-cover"></a></span>
                                       <div>
                                          <h6>lab Female lab Female </h6>
                                          <small class="uid">UID:EMP3218</small>
                                       </div>
                                    </div>
                                 </div>
                                 <ul class="details-list">
                                    <li><span>Title</span>
                                       Ms.
                                    </li>
                                    <li><span>First Name</span>
                                       lab Female
                                    </li>
                                    <li><span>First Name in Arabic</span>
                                       Female
                                    </li>
                                    <li><span>Last Name</span>
                                       lab Female
                                    </li>
                                    <li><span>Last Name in Arabic</span>
                                       lab Female
                                    </li>
                                    <li><span>Email ID</span>
                                       891u9@sanar.sa
                                    </li>
                                    <li><span>Mobile number</span>
                                       +966 43535
                                    </li>
                                    <li><span>Nationality</span>
                                       Saudi Arabia
                                    </li>
                                    <li><span>Date of Birth</span>
                                       1971-01-06
                                    </li>
                                    <!---->
                                    <!---->
                                    <!---->
                                    <!---->
                                    <li><span>Blood Group</span>
                                       A+
                                    </li>
                                    <li>
                                       <span>Degree</span>
                                       <div class="bio">Specialist</div>
                                    </li>
                                    <li><span>Language</span>
                                       Arabic, English
                                    </li>
                                    <li><span>Language in Arabic</span>
                                       عربي, إنجليزي
                                    </li>
                                    <li><span>Designation</span>
                                       lab
                                    </li>
                                    <li><span>Gender</span>
                                       Female
                                    </li>
                                    <!---->
                                    <!---->
                                    <!---->
                                    <!---->
                                    <!---->
                                    <!---->
                                    <!---->
                                    <!---->
                                    <!---->
                                    <!---->
                                    <!---->
                                    <!---->
                                    <!---->
                                    <!---->
                                    <!---->
                                    <!---->
                                    <!---->
                                    <!---->
                                    <!---->
                                    <div class="o-flow-x">
                                       <!---->
                                    </div>
                                    <!---->
                                    <!---->
                                    <!---->
                                    <!---->
                                    <!---->
                                    <li><span>Status</span>
                                       active
                                    </li>
                                 </ul>
                                 <!---->
                              </div>
                           </div>
                           <!---->
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <!---->
            <!---->
         </div>
      </main>
   </section>
</div>
<script async="" defer="defer"
   src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA-EXDwh2adbELTFKlDgn3RXMP648GC12s&amp;sensor=false&amp;libraries=places">
</script>
<script type="text/javascript" src="static/js/manifest.787d0d92fd70cf16874e.js"></script>
<script type="text/javascript" src="static/js/vendor.6f6ef6bc866762bf29a6.js"></script>
<script type="text/javascript" src="static/js/app.a27789e3d261f525a01a.js"></script>
<div class="progress" style="width: 0%; height: 2px; background-color: rgb(122, 195, 254); opacity: 0;"></div>
<div role="tooltip" id="el-tooltip-2340" aria-hidden="true" class="el-tooltip__popper is-dark"
   style="transform-origin: center bottom; z-index: 2001; display: none;">
   Employee
   <div x-arrow="" class="popper__arrow" style="left: 8px;"></div>
</div>