
<div id="app">
    <section class="el-container">
       <div>
          <menu class="menu-bar">
             <a routerLink="javascript:void(0);" class="toggle-menu">
                <div class="inactive"><span class="bar bar1"></span><span class="bar"></span><span
                      class="bar bar3"></span></div>
             </a>
             <a routerLink="dashboard" class="logo"><img src="assets/images/Taib_logo_Trans.png" width="50%"></a>
          </menu>
          <app-sidebar></app-sidebar>
          <app-submenu></app-submenu>
       </div>
       <main class="el-main">
          <app-header></app-header>
          <div>
            <div>
                <div class="o-flow-x">
                    <div class="el-table master-table el-table--fit el-table--scrollable-x el-table--enable-row-hover el-table--enable-row-transition" style="width: 100%;">
                        <div class="hidden-columns">
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div placeholder="Package Type Name"></div>
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>
                        

                        <div class="d-flex justify-content align-items-center">
                            <span class="t-heading d-flex justify-content-center align-items-center"><i class="icon-bonnet"></i>Insurance Providers</span>  
                            <button id="package" data-toggle="modal" data-target="#add_labPackage" class="add-btn mr-0 float-right" (click)="addInsurance()" *ngIf="jsonData['insurance_provider']['add']"><i class="fa fa-plus-circle"></i> Add Insurance</button>
                        </div>

                        <div class="el-table__body-wrapper is-scrolling-left" style="margin-top: 3%;width:100%;">
                            <table id="insurane_list" class="display" cellspacing="0" width="100%">
                                <thead>
                                    <tr>
                                        <th>Insurance Image</th>
                                        <th>Insurance Name</th>
                                        <th>Insurance Name Arabic</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="el-table__row" *ngFor="let insurance of insuranceList">
                                        <td><div class="d-flex-center"><span class="zoom">
                                          <img class="image-cover" style="max-width: 200px; width: 100%; max-height: 100px;" src="{{insurance.insuranceLogoPath}}"></span></div>
                                        </td>
                                        <td>{{ insurance.insuranceName }}</td>
                                        <td>{{ insurance.insuranceNameArabic }}</td>
                                        <td>
                                          <button class="edit_button btn py-0" type="button" *ngIf="jsonData['insurance_provider']['edit']" (click)="insuranceEdit(insurance.insuranceProviderId)">
                                            <i class="icon-pencil ico-pointer" id="ico-pointer"></i>
                                          </button>
                                        </td>
                                      </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="add_insuranceList" class="modal schedule_modal" style="padding-top: 50px">
            <!-- Modal content -->
            <div class="modal-content" style="width: 60% !important">
              <div class="modal-header" style="border-bottom: unset">
                <span class="close" (click)="close()">&times;</span>
                <h2>{{ modalTitle }}</h2>
              </div>
          
              <div class="modal-body">
                <form class="el-form newform el-form--label-top" id="nursepackageForm" (ngSubmit)="postInsuranceServiceProvider()" [formGroup]="typeValidationForm">
                  <div class="el-row" style="margin-left: -15px; margin-right: -15px">
    
                    <div class="el-col el-col-24 el-col-xs-24 el-col-sm-12" style="padding-left: 15px; padding-right: 15px">
                      <div class="el-form-item is-required">
                        <label for="fn.en" class="el-form-item__label">Insurance Name</label>
                        <div class="el-form-item__content">
                          <div class="line-input el-input">
          
                            <input
                              type="text"
                              class="el-input__inner"
                              formControlName="insuranceProviderName"
                              [ngClass]="{
                                'is-invalid': type['insuranceProviderName'].errors && (type['insuranceProviderName'].dirty || type['insuranceProviderName'].touched)
                              }"
                              placeholder="Enter Insurance Name"
                            />
                            <div
                              *ngIf="type['insuranceProviderName'].errors && (type['insuranceProviderName'].dirty || type['insuranceProviderName'].touched)"
                              class="invalid-feedback"
                            >
                              <span *ngIf="type['insuranceProviderName'].errors['required']">This value is required.</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="el-col el-col-24 el-col-xs-24 el-col-sm-12" style="padding-left: 15px; padding-right: 15px">
                      <div class="el-form-item is-required">
                        <label for="fn.ar" class="el-form-item__label">Insurance Name in Arabic</label>
                        <div class="el-form-item__content">
                          <div class="line-input el-input">
                            <!-- <input type="text" id="categoryNameArabic" autocomplete="off"
                                        placeholder="Enter Category Name in Arabic" class="el-input__inner"> -->
          
                            <input
                              type="text"
                              class="el-input__inner"
                              formControlName="insuranceProviderNameArabic"
                              [ngClass]="{
                                'is-invalid':
                                  type['insuranceProviderNameArabic'].errors && (type['insuranceProviderNameArabic'].dirty || type['insuranceProviderNameArabic'].touched)
                              }"
                              placeholder="Enter Insurance Name in Arabic"
                            />
                            <div
                              *ngIf="type['insuranceProviderNameArabic'].errors && (type['insuranceProviderNameArabic'].dirty || type['insuranceProviderNameArabic'].touched)"
                              class="invalid-feedback"
                            >
                              <span *ngIf="type['insuranceProviderNameArabic'].errors['required']">This value is required.</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="el-row" style="margin-left: -15px; margin-right: -15px">
                    <div class="el-col el-col-24 el-col-xs-24 el-col-sm-12" style="padding-left: 15px; padding-right: 15px;">
                        <div class="el-form-item is-required">
                            <label for="fn.ar" class="el-form-item__label">Choose Image</label>
                            <div class="el-form-item__content">
                                <div id="beforefilepreview">
                                    <div tabindex="10" class="el-upload el-upload--text">
                                        <label class="d-flex-center" for="file_package">
                                <img src="assets/images/photoupload.svg" class="avatar-img">
                                <input type="file" id="file_package" accept="image/*" class="form-control" (change)="handleFileInput($event.target)"
                                    hidden />
                                <span class="gray-color">Upload Photo</span>
                            </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="el-col el-col-24 el-col-xs-24 el-col-sm-12" style="padding-left: 15px; padding-right: 15px;">
                        <div class="el-form-item is-required">
                            <label for="fn.ar" class="el-form-item__label">Image Preview</label>
                            <div class="el-form-item__content">
                                <div class="line-input el-input">
                                    <img src="{{imgPreview}}" id="image_preview_lab" width="200"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                  <br />
          
                  <div class="text-right">
                    <!-- <button type="button" class="el-button el-button--primary save" (click)="postServiceCategoryClicked()">
                            <span>Save</span>
                         </button> -->
          
                    <button type="submit" class="btn btn-primary el-button el-button--primary save" [disabled]="!this.typeValidationForm.valid">Submit</button>
                  </div>
                </form>
              </div>
              <div class="modal-footer">
                <h3></h3>
              </div>
            </div>
          </div>
          
          
       </main>
    </section>
 </div>
 <div class="progress" style="width: 0%; height: 2px; background-color: rgb(122, 195, 254); opacity: 0;"></div>
 <div role="tooltip" id="el-tooltip-7343" aria-hidden="true" class="el-tooltip__popper is-dark"
    style="transform-origin: center bottom; z-index: 2005; display: none;">
    Employee
    <div x-arrow="" class="popper__arrow" style="left: 8px;"></div>
 </div>
 <div role="tooltip" id="el-tooltip-7647" aria-hidden="true" class="el-tooltip__popper is-dark"
    style="transform-origin: center bottom; z-index: 2010; display: none;">
    Patient
    <div x-arrow="" class="popper__arrow" style="left: 8px;"></div>
 </div>
 <div role="tooltip" id="el-tooltip-9477" aria-hidden="true" class="el-tooltip__popper is-dark"
    style="transform-origin: center bottom; z-index: 2028; display: none;">
    Appointment
    <div x-arrow="" class="popper__arrow" style="left: 8px;"></div>
 </div>
 <div role="tooltip" id="el-tooltip-9129" aria-hidden="true" class="el-tooltip__popper is-dark"
    style="transform-origin: center bottom; z-index: 2030; display: none;">
    Accounts
    <div x-arrow="" class="popper__arrow" style="left: 8px;"></div>
 </div>