.lab-hide{display: none !important;}
label {
    display: inline-block;
    margin-bottom: 0.5rem;
    margin-right: 15px;
}
.custom-radio .el-radio__inner {margin-right: 10px;}
.dash-list li { justify-content: center; }