
<div id="app">
         <section class="el-container">
            <div>
               <menu class="menu-bar">
                  <a href="javascript:void(0);" class="toggle-menu">
                     <div class="inactive"><span class="bar bar1"></span><span class="bar"></span><span class="bar bar3"></span></div>
                  </a>
                  <a href="dashboard" class="logo"><img src="assets/images/Taib_logo_Trans.png" width="50%"></a>
               </menu>
               <app-sidebar></app-sidebar>
               <app-submenu></app-submenu>
            </div>
            <main class="el-main">
               <app-header></app-header>
               <div>
                  <div>
                     <div class="m-t-30 el-row">
                        <!----> 
                        <div class="el-card is-always-shadow">
                           <!---->
                           <div class="el-card__body">
                              <div class="d-flex justify-content m-b10">
                                 <h4>Application settings</h4>
                                 <a routerLink="../edit-application" class=""><strong>Edit Details</strong></a>
                              </div>
                              <div class="profile-det">
                                 <span class="avtar2"><img src="https://static.sanar.sa/mis/605cb46d89d7af55435a5dcb0777a63e.png" class="image-cover"></span> 
                                 <div>
                                    <h6>Taib Home Medical Care Company - Riyadh</h6>
                                 </div>
                              </div>
                              <ul class="details-list">
                                 <li><span>Application Title</span> TAIB COMPANY</li>
                                 <li><span>Email ID</span> operation@taibsa.com</li>
                                 <li><span>Phone No</span> 966  555376654</li>
                                 <li>
                                    <span>Favicon</span> 
                                    <div><a href="" target="_blank"><img src="" class="img"></a></div>
                                 </li>
                                 <li>
                                    <span>Logo</span> 
                                    <div class="logo-grid"><a href="https://static.sanar.sa/mis/6e44ed2c9f41cc3cef657dcb3ed09d7c.png" target="_blank"><img src="https://static.sanar.sa/mis/6e44ed2c9f41cc3cef657dcb3ed09d7c.png" class="img"></a></div>
                                 </li>
                                 <li>
                                    <span>Description</span> 
                                    <div class="bio"></div>
                                 </li>
                                 <li>
                                    <span>Description in Arabic</span> 
                                    <div class="bio">
                                       تعد شركة طيّب للرعاية الطبية المنزلية من أوائل المراكز الطبية بالسعودية المرخصة من قبل وزارة الصحة والمتخصصة في تقديم خدمات الرعاية الطبية المنزلية المتخصصة في المنازل كزيارة الأطباء المتخصصين، الخدمات الطبية المساندة، التمريض، والتحاليل الطبية.
                                    </div>
                                 </li>
                                 <li><span>Address</span> Al Riyadh</li>
                                 <li><span>Address in Arabic</span> الرياض</li>
                                 <li><span>Location</span> King Abdullah Rd, King Faisal Dt., Riyadh Saudi Arabia</li>
                                 <li><span>Copyright Text</span> </li>
                                 <li><span>Twitter Link</span> </li>
                                 <li><span>Facebook link</span> </li>
                                 <li><span>Instagram link</span> </li>
                                 <li><span>Google plus link</span> </li>
                              </ul>
                           </div>
                        </div>
                        <!----> <!----> <!---->
                     </div>
                  </div>
               </div>
            </main>
         </section>
      </div>
      
      <div class="progress" style="width: 0%; height: 2px; background-color: rgb(122, 195, 254); opacity: 0;"></div>
      <div role="tooltip" id="el-tooltip-8995" aria-hidden="true" class="el-tooltip__popper is-dark" style="transform-origin: center bottom; z-index: 2001; display: none;">
         Accounts
         <div x-arrow="" class="popper__arrow" style="left: 8px;"></div>
      </div>
      <div role="tooltip" id="el-tooltip-5329" aria-hidden="true" class="el-tooltip__popper is-dark" style="transform-origin: center bottom; z-index: 2003; display: none;">
         Master
         <div x-arrow="" class="popper__arrow" style="left: 8px;"></div>
      </div>
      <div role="tooltip" id="el-tooltip-9008" aria-hidden="true" class="el-tooltip__popper is-dark" style="transform-origin: center bottom; z-index: 2005; display: none;">
         Services
         <div x-arrow="" class="popper__arrow" style="left: 8px;"></div>
      </div>
      <div role="tooltip" id="el-tooltip-7427" aria-hidden="true" class="el-tooltip__popper is-dark" style="transform-origin: center bottom; z-index: 2007; display: none;">
         Settings
         <div x-arrow="" class="popper__arrow" style="left: 8px;"></div>
      </div>
   <!-- </body>
</html> -->